<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>HTML Email编写指南</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" width="740" align="center">
        <tr>
            <td align="left" valign="top">
                <img src="//tasaid.com/Content/Images/said-logo2.png" width="150" height="44" />
            </td>
            <td align="right">您收到一条回复</td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:20px;"></td>
        </tr>
        <tr>
            <td colspan="2" style="border-top:1px solid #e3e3e3;padding-bottom:20px;"></td>
        </tr>
        <tr>
            <td colspan="2" align="left" style="padding-bottom:1em;">
                林先生，您好：
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                在文章&nbsp;《<a href="https://tasaid.com/blog/20161006045104.html#1" target="_blank" style="color:#0070c9;">从 HTTP 到 HTTPS - 网站部署 HTTPS 中需要做的事情</a>》&nbsp;中您收到一条新的回复：
                <p style="background-color:#f2f2f2;margin-top:1em;margin-bottom:1em;padding-top:1em;padding-right:1em;padding-bottom:1em;padding-left:1em;">此致那个敬礼~~~加油加油加油~~</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <a href="https://tasaid.com/blog/20161006045104.html#1" target="_blank" style="color:#0070c9;">点击查看详情</a>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right" style="padding-bottom:1em;">
                此致
                <br />
                linkFly
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-top:1px solid #e3e3e3;"></td>
        </tr>
        <tr>
            <td colspan="2">
                <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="740" style="margin:0 auto">
                    <tbody>
                        <tr>
                            <td height="20"></td>
                        </tr>
                        <tr>
                            <td align="center" height="15" id="x_aapl-eyebrow" style="font-weight:400; font-family:'PingFang SC','Helvetica Neue','Helvetica','STHeitiSC-Light','Arial','Microsoft yahei','微软雅黑',Verdana,sans-serif; color:#cccccc; font-size:12px; line-height:1">
                                <a href="https://tasaid.com/Blog" target="_blank" style="color:#999999">技术</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="https://tasaid.com/said" target="_blank" style="color:#999999">听说</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="https://tasaid.com/projects" target="_blank" style="color:#999999">项目</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="https://tasaid.com/about" target="_blank" class="x_aapl-link" style="color:#999999">关于</a>
                            </td>
                        </tr>
                        <tr>
                            <td height="20"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-top:1px solid #e3e3e3;margin-top:38px;"></td>
        </tr>
        <tr>
            <td colspan="2" align="center" style="padding:22px 20px 30px 20px; font-family:'PingFang SC','Helvetica Neue','Helvetica','STHeitiSC-Light','Arial','Microsoft yahei','微软雅黑',Verdana,sans-serif; font-weight:400; color:#999999; font-size:9px; line-height:1.34em">
                这封邮件来自&nbsp;<a href="https://tasaid.com/" target="_blank">听说</a>&nbsp;
                <br />
                <br />
                世界很大，风住过这里
            </td>
        </tr>
    </table>
</body>
</html>