@require './highlight-solarized-light'

// 全局统一 markdown 渲染 HTML 样式，拆除最小模块以便自定义

// 字体设置
font()
  // 如果觉得小可以设为 18px
  // font: 200 16px/2 system, -apple-system, BlinkMacSystemFont, "Lantinghei SC","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font: 16px/2 system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
             "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
             SimSun, sans-serif

// 链接
link()
  a
    $color = #4078c0
    color $color
    position relative
    &::after
      content ''
      position absolute
      left 0
      display block
      bottom -5px
      width 100%
      height 1px
      background-color currentColor
      // background $color
      transform scale(0)
      transition transform 0.5s
    &:hover::after
      transform scale(1)

// 代码相关设置
code(overrideScrollbar = true)
  code // 平时引用的行级代码
    padding .2em .5em
    margin 0
    font-size 85%
    background-color rgba(0,0,0,0.04)
    font-family Consolas, "Liberation Mono", Menlo, Courier, monospace
    border-radius 4px
    vertical-align middle
  .hljs // 代码块
    border-radius 6px
    padding 1em
    margin 1em 0
    position relative
    // 在代码块前面显示语言
    &::before
      content: ''
      position absolute
      top -.3em
      right .5em
      color #ddd
      font-size 1.3em
      font-weight 600
      opacity .4
    &.lang-typescript::before, &.lang-ts::before
      content 'typescript'
    &.lang-shell::before
      content 'shell'
    &.lang-bash::before
      content 'bash'
    &.lang-stylus::before
      content 'stylus'
    &.lang-javascript::before, &.lang-js::before
      content 'javascript'
    &.lang-vue::before
      content 'vue'
    &.lang-jsx::before
      content 'jsx'
    &.lang-tsx::before
      content 'tsx'
    &.lang-css::before
      content 'css'
    &.lang-swift::before
      content 'swift'
    &.lang-html::before
      content 'html'
    // 表示重写 chrome 滚动条
    if overrideScrollbar
      // chrome 横向滚动条重写
      &::-webkit-scrollbar
          // 10px
          height .625em
      &::-webkit-scrollbar-thumb
        &:horizontal
          background-color #CCCCCC
          border-radius 6px
          opacity .1
          &:hover
            opacity .1
    code
      padding 0
      border-radius 3px
      background transparent
      border-radius 0
      font-size .875em // 针对 16px
      line-height 1

// 图片相关
img()
  img
    display block
    max-width 100%
    margin 0 auto
    // 点击放大图片
    cursor zoom-in
    // cursor zoom-out

// 普通内容
p()
  p
    text-align justify
    margin 0
    word-break break-word

// 引用相关
blockquote()
  blockquote
    padding: 1em
    margin 1em 0
    color: #777;
    background-color: #f8f8f8;
    border-left: 4px solid #56a1d6;
    ul, ol, p:last-child
      margin-bottom: 0

// 分割线
hr()
  .html-hr
    margin 1.5em 0
    border-bottom 1px solid #ccc

// 标题
hx() 
  h1, h2, h3, h4, h5, h6
    margin-top 2em
    margin-bottom 1em
    font-weight 400
    .hash
      font-size .9em // 20px
      float left
      margin-left -1.2em
      color #8b8b8b
      visibility hidden
      padding-right 5px
      /*-moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);*/
      margin-right 0
      line-height 1em
      &::after
        display none
      &:hover
        text-decoration: none
    &:hover 
      .hash
        visibility: visible
  h1
    padding-bottom .3em
    font-size 2em
    line-height 1.2
    border-bottom 1px solid #eee
    .hash
      line-height: 1.4
  h2
    padding-bottom 0.3em
    font-size 1.75em
    line-height 1.225
    border-bottom 1px solid #eee
    .hash
      line-height 1.4
      margin-left -1.2em
  h3
    font-size 1.5em
    line-height 1.43
    .hash
      line-height 1.6
      margin-left -1.23em
  h4
    font-size 1.25em
    .hash
      margin-left -1.25em
      line-height 2.3
  h5
    font-size 1em
    .hash
      line-height 2
      margin-left -1.3em
      font-size 1em
  h6
    font-size 1em
    color #777
    .hash
      line-height 2
      font-size 1em
      margin-left -1.3em

// 列表项
ulol()
  ul, ol
    padding-left 1.25em

// 表格
table()
  table
    $tableRadius = .28571429rem
    width 100%
    background #FFF
    border 1px solid rgba(34,36,38,.15)
    box-shadow none
    border-radius $tableRadius
    text-align left
    color rgba(0,0,0,.87)
    border-collapse separate
    border-spacing 0
    thead
      tr
        &:first-child
          >th
            &:first-child
              border-radius $tableRadius 0 0
              border-left none
            &:last-child
              border-radius 0 $tableRadius 0 0
    tbody
      tr
        >td:first-child
          border-left: none
        &:first-child
          >td
            border-top none
    th
      padding .3em 1em
      background #F9FAFB
      text-align inherit
      color rgba(0,0,0,.87)
      vertical-align inherit
      font-weight 700
      border-bottom 1px solid rgba(34,36,38,.1)
      border-left 1px solid rgba(34,36,38,.1)
    td
      padding .5em 1em
      border-left 1px solid rgba(34,36,38,.1)
      border-top 1px solid rgba(34,36,38,.1)

// 全局通用样式
global()
  p, ul, ol, dl, table, pre, blockquote
    margin-top 0
    margin-bottom 1em

// 提供一个完全组合好的模块
html()
  font()
  link()
  code()
  img()
  p()
  blockquote()
  hr()
  hx()
  ulol()
  table()
  global()