{{#section "head"}}
<link href="/public/back/stylesheets/addSaid.css?v={{{@version}}}" rel="stylesheet" />
{{/section}}
<div class="page-header">
    <h2>添加文章&nbsp;&nbsp;<small>&gt;添加一篇文章</small></h2>
</div>
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">文章管理</a></li>
    <li class="active">添加文章</li>
</ol>
<div class="main-context">
    <div class="modal fade" ms-controller="modal" id="blog-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">\{\{title\}\}</h4>
                </div>
                <div class="modal-body">\{\{body\}\}</div>
            </div>
        </div>
    </div>
    <form onsubmit="return false;" action="/Back/Blog/AddBlog" method="post" ms-controller="blog" name="saidForm" novalidate="novalidate" spellcheck>
        <div class="said-article">
            <div class="said-title-con">
                <input autocomplete="off" class="said-title" id="BTitle" ms-change="saveTolocalStorage('bTitle',bTitle)" ms-class="said-error:!bTitle.length" ms-duplex="bTitle" name="BTitle" placeholder="文章标题" required="required" type="text" value="" />
            </div>
            <div class="said-context-content">
                <textarea class="said-context" cols="20" data-val="true" data-val-required="必须输入" id="BContext" ms-change="saveTolocalStorage('bContext',bContext)" ms-duplex="bContext" name="BContext" required="required" rows="2"></textarea>
            </div>
            <button class="btn btn-lg said-priview center-block" ms-click="preview(bContext)" type="button">预览</button>
        </div>
        <div class="row said-view-container">
            <div class="col-md-6">
                <div class="panel panel-default relative-container">
                    <div class="panel-heading">歌曲</div>
                    <div class="panel-body">
                        <div class="afterClear">
                            <div class="col-md-4">
                                <div class="music-img">
                                    <div class="thumbnail">
                                        <!--<img src="../../Content/Images/said-backgournd.jpg" />-->
                                        <input type="file" value="" name="Song.SongId" id="Song_SongId" class="song-Upload">
                                        <img src="../../Content/Images/UEDImg/demo-img6.jpg" />
                                        <!--<img src="../../Content/Images/testImg-Paramore.Ps.jpg" />-->
                                    </div>
                                </div>
                            </div>
                            <div class="music-info col-md-8">
                                <div class="input-group" data-ng-class="{ 'has-error':saidForm.songName.$invalid&&(saidForm.songName.$dirty||article.dirty) }">
                                    <span class="input-group-addon">歌曲</span>
                                    <input type="text" data-ng-model="article.songName" name="songName" class="form-control music-input" placeholder="歌曲名称" autocomplete="off" required>
                                </div>
                                <div class="input-group" data-ng-class="{ 'has-error':saidForm.songAlbum.$invalid&&(saidForm.songAlbum.$dirty||article.dirty) }">
                                    <span class="input-group-addon">专辑</span>
                                    <input type="text" data-ng-model="article.songAlbum" name="songAlbum" class="form-control music-input" placeholder="歌曲专辑" required>
                                </div>
                                <div class="input-group" data-ng-class="{ 'has-error':saidForm.songArtist.$invalid&&(saidForm.songArtist.$dirty||article.dirty) }">
                                    <span class="input-group-addon">歌手</span>
                                    <input type="text" data-ng-model="article.songArtist" name="songArtist" class="form-control music-input" placeholder="艺术家" required>
                                </div>
                                <div class="input-group" data-ng-class="{ 'has-error':saidForm.songFileName.$invalid&&(saidForm.songFileName.$dirty||article.dirty) }">
                                    <span class="input-group-addon">文件</span>
                                    <input type="text" data-ng-model="article.songFileName" name="songFileName" class="form-control music-input" placeholder="文件名" required>
                                </div>
                                <div class="songOp-btn">
                                    <button type="button" class="btn btn-danger songBtn" id="songDelete" data-ng-click="ac.deleteImg()">删除</button>
                                </div>
                                <div class="songOp-btn song-up-content">
                                    <input type="file" value="" name="Song.SongId" id="song-addSongFile" class="song-Upload">
                                    <button type="button" class="btn btn-primary songBtn" id="addSong" data-ng-click="ac.deleteImg()">添加</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default relative-container" ms-controller="uploadController">
                    <div ms-widget="upload,uploadImages" ms-elem="summaryMask"></div>
                    <div class="panel-heading">描述</div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="music-img">
                                <div class="thumbnail">
                                    <img ms-attr-src="bImg ? sourcePath+bImg :'../../Content/Images/test-said-img.jpg'" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <textarea class="said-dis" cols="20" id="BSummary" ms-change="saveTolocalStorage('bSummary',bSummary)" ms-class="said-error:bImg&amp;&amp;!bSummary.length" ms-duplex="bSummary" name="BSummary" placeholder="简介[支持HTML]" required="required" rows="2"></textarea>
                            <div class="songOp-btn song-up-content">
                                <button ms-click="removeImg('uploadImages')" class="btn btn-danger songBtn" type="button">删除</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default relative-container">
                    <div class="panel-heading">附加信息</div>
                    <div class="panel-body">
                        <div class="input-group" ms-controller="tagController">
                            <span class="input-group-addon">标签</span>
                            <input autocomplete="off" class="tag-input" id="BTag" ms-change="saveTolocalStorage('bTag',bTag)" ms-widget="groupInput" name="BTag" placeholder="标签，支持[tab]分隔" type="text" value="" />
                        </div>
                        <div class="input-group" ms-class="has-error:!classify.length" ms-controller="classifyController">
                            <span class="input-group-addon">分类</span>
                            <input autocomplete="off" class="classify-input" id="Classify_CName" ms-duplex="classify" ms-widget="groupInput" name="Classify.CName" placeholder="分类名称" type="text" value="" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading ">可选信息</div>
                    <div class="panel-body">
                        <div class="input-group" ms-class="has-error:checkFile">
                            <span class="input-group-addon">文件</span>
                            <input class="form-control" data-animation="false" data-placement="top" data-title="该文件名已经存在" data-toggle="tooltip" id="BName" ms-duplex="bName" ms-input="checkFileName(this,bName)" name="BName" placeholder="文章发布的（文件）名称" type="text" value="" />
                        </div>
                        <div class="form-group">
                            <label>JavaScript</label>
                            <textarea class="form-control" cols="20" id="BScript" ms-change="saveTolocalStorage('bScript',bScript)" ms-duplex="bScript" name="BScript" placeholder="自定义JavaScript" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label>CSS</label>
                            <textarea class="form-control" cols="20" id="BCSS" ms-change="saveTolocalStorage('bCSS',bCSS)" ms-duplex="bCSS" name="BCSS" placeholder="自定义CSS" rows="2"></textarea>
                        </div>
                        <div class="checkbox said-checkbox">
                            <label>
                                <input data-val="true" data-val-required="BReprint 字段是必需的。" id="BReprint" ms-change="saveTolocalStorage('bReprint',bReprint)" ms-duplex-checked="bReprint" name="BReprint" type="checkbox" value="true" /><input name="BReprint" type="hidden" value="false" />是否转载
                            </label>
                            <label>
                                <input data-val="true" data-val-required="BIsTop 字段是必需的。" id="BIsTop" ms-change="saveTolocalStorage('bIsTop',bIsTop)" ms-duplex-checked="bIsTop" name="BIsTop" type="checkbox" value="true" /><input name="BIsTop" type="hidden" value="false" />是否置顶
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-container center-block" style="text-align:center;">
            <button class="btn btn-default btn-lg" type="button">保存至草稿</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-lg btn-primary" ms-class="submit-lock:submitState" type="button" ms-click="save()">&nbsp;&nbsp;&nbsp;&nbsp;发&nbsp;&nbsp;&nbsp;布&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
    </form>
</div>

{{#section "footer"}}
<script>
    require(['jquery', 'so', 'avalon'], function ($, so, avalon) {
        $(function () {

            var database = new so.Database('back.addBlog');
            var vmBlog = avalon.define({
                $id: 'blog',
                bTitle: database.val('bTitle'),
                bTag: database.val('bTag'),
                bSummary: database.val('bSummary'),
                bReprint: database.val('bReprint'),
                bScript: database.val('bScript'),
                bIsTop: database.val('bIsTop'),
                bCSS: database.val('bCSS'),
                bContext: database.val('bContext'),
                bImg: database.val('bImg'),
                bName: database.val('bName'),
                classify: database.val('classify'),
                checkFile: false,
                submitState: false,
                $skipArray: ['bTag'],
                //保存到本地数据库
                saveTolocalStorage: function (name, value) {
                    database.val(name, value);
                },
                checkFileName: function () {
                    //考虑性能，DOM缓存
                    var $cache, key = 'bName';
                    return function (elem, value) {
                        !$cache && ($cache = $(elem).tooltip({ trigger: 'manual' }));
                        vmBlog.checkFile = !!(value && ~DataCenter.files.indexOf(value.toLowerCase()));
                        $cache.tooltip(vmBlog.checkFile ? 'show' : 'hide');
                        vmBlog.checkFile ?
                            database.remove(key) : database.val(key, value);
                    }
                }(),
                check: function () {
                    vmBlog.submitState = true;
                    var temp;
                    return ['bTitle', 'bContext', 'classify', 'bImg', 'bSummary'].every(function (key) {
                        temp = errorHash[key];
                        return checkEmptyValue(key, temp[0], temp[1]);
                    });
                },
                save: function () {
                    //锁定按钮状态
                    if (vmBlog.submitState) return;
                    if (!(vmBlog.submitState = vmBlog.check())) return;

                    //针对分类id特殊处理下
                    var classifyId = DataCenter.classifyDatas.filter(function (item) {
                        return item[0].toLowerCase() === vmBlog.classify.toLowerCase();
                    });
                    classifyId = classifyId.length ? classifyId[0][1] : '';
                    said.ajax(Action.form, {
                        'BTitle': encode(vmBlog.bTitle),
                        'BTag': encode(vmBlog.bTag.join(',')),
                        'BSummary': encode(vmBlog.bSummary),
                        'BHTML': encodeURIComponent(converter.makeHtml(vmBlog.bContext)),
                        'BReprint': encode(vmBlog.bReprint),
                        'BScript': encode(vmBlog.bScript),
                        'BIsTop': encode(vmBlog.bIsTop),
                        'BCSS': encode(vmBlog.bCSS),
                        'BContext': encode(vmBlog.bContext),
                        'BImg': encode(vmBlog.bImg),
                        'BName': encode(vmBlog.bName),
                        'ClassifyId': encode(classifyId)
                    }).done(function (data) {
                        if (!data.code) {//done
                            showMsg(so.format(TemplatePromptText.addBlogDone, vmBlog.bTitle), showMsg.OK, true);
                        } else {
                            showMsg(so.format(TemplatePromptText.addBlogError, data.data.msg.split(',').map(function (msg) {
                                return '<p>' + msg + '</p>';
                            }).join(''), data.code), showMsg.ERROR, true);
                        }

                    }).fail(function (data) {
                        showMsg(so.format(TemplatePromptText.addBlogFail, data.status, data.statusText), showMsg.ERROR, true);
                    }).always(function () {
                        vmBlog.submitState = false;
                    });
                }
            });



            avalon.scan();
        });
    });
</script>
{{/section}}