<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#if title}}{{title}}{{else}}Said{{/if}}</title>
    <link href="/public/back/stylesheets/bootstrap.css?v={{{@version}}}" rel="stylesheet">
    <link href="/public/stylesheets/font-awesome.min.css?v={{{@version}}}" rel="stylesheet">
    <link href="/public/stylesheets/Global.css?v={{{@version}}}" rel="stylesheet">
    <link href="/public/back/stylesheets/default.css?v={{{@version}}}" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="/favicon.ico" />
    <script src="/public/javascripts/requirejs-2.1.15.js?v={{{@version}}}"></script>
    <script src="/public/back/javascripts/main.js?v={{{@version}}}"></script>
    {{{RenderSection "head"}}}
    <!--said后台-->
</head>
<body>
    <script>
    </script>
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button data-target="#example-navbar-collapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">切换的导航</span>
                        <span class="fa icon-bar"></span>
                        <span class="fa icon-bar"></span>
                        <span class="fa icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Said</a>
                </div>
                <ul class="nav pull-right">
                    <!--<li class="dropdown pull-left">
                        <a href="javascript:;" class="dropdown-toggle">
                            <i class="fa fa-envelope"></i>
                            <span class="badge">1</span>
                        </a>
                    </li>-->
                    <li class="dropdown  pull-left">
                        <a href="javascript:;" class="dropdown-toggle">Said首页</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section class="page-container">
        <nav class="page-sidebar nav-collapse collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="page-sidebar-menu">
                <li>
                    <a href="/back">
                        <i class="fa fa-home"></i>
                        <span class="title">Home</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-pencil-square-o"></i><span class="title">添加Said</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-laptop"></i><span class="title">添加Blog</span>
                    </a>
                </li>
                <!--<li>
                    <a href="javascript:;">
                        <i class="fa fa-comments"></i>
                        <span class="title">消息中心</span>
                    </a>
                </li>-->
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-picture-o"></i>
                        <span class="title">图片管理</span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="container-main">
            <div class="modal fade" ms-controller="modal" ms-dom="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">\{\{title\}\}</h4>
                        </div>
                        <div class="modal-body">\{body\}</div>
                    </div>
                </div>
            </div>
            {{{body}}}
        </section>
    </section>
    <section id="said-page-mask"><section id="said-mask-box"></section></section>
    <footer></footer>
    <script src="/public/javascripts/jQuery-2.1.1.js?v={{{@version}}}"></script>
    <script src="/public/back/javascripts/so/so.js?v={{{@version}}}"></script>
    <script src="/public/back/javascripts/avalon/avalon.mobile.js?v={{{@version}}}"></script>
    <script src="/public/back/javascripts/said/globalBack.js?v={{{@version}}}"></script>
    <script src="/public/back/javascripts/bootstrap/bootstrap.min.js?v={{{@version}}}"></script>
    {{{RenderSection "footer"}}}
</body>
</html>
