// banner
.container
  position relative
  .banner-bg
    position fixed
    .banner-content
      .title
        font-size 3rem!important
      .context
        // p
        //   padding-top 1rem

.triangle
    position: absolute;
    z-index 10
    width 200%;
    height 200px
    background #fff
    left -50%
    bottom -100px
    transform: rotate(-3deg);

#content
  .said-content
    position relative
    height 300rem