$linkColode = #08c

// 首页切割为不同的模块
.said-module
  padding 5rem 0 0
  &:first-child
    padding-top 1.6rem
  // 模块顶部说明
  .head
    text-align center
    padding .8rem
    h1
      font-size 2.2rem
      font-weight 200
      letter-spacing .3rem
      line-height 1.2
      margin 0
    p
      font-size 1.2rem
      line-height 2
      padding .8rem
      margin 0
      i
        color #777
        padding 0 .8rem
    .link
      font-size 1rem
      color #4078c0
  // 模块展现列表
  .content
    list-style none
    padding 0
    margin 0
    .item
      padding 1.1rem 1.6rem .8rem
      width 33.3333%
      float left
      position relative
      // said 模块
      h2
        margin 0
        font-weight 200
        line-height 2
      &.said-item
        .main
          width 100%
          position relative
          height 280px
          background-size 547px 300px
          background-position 50% 0
          background-repeat no-repeat
          .mask
            background linear-gradient(rgba(61,61,61,.9),rgba(20,40,50,.9)) repeat scroll 0 0 #222
            position absolute
            top 0
            height 100%
            width 100%
            overflow hidden
            display flex
            opacity 0
            transition opacity .3s ease-in-out 0s
            .summary
              color #fff
              text-align justify
              padding 10px
              text-indent 2em
              width 100%
              margin auto
              p
                margin 0
        .detail
          a
            display block
            text-align center
            color #444
            line-height 2
            font-size 1.56rem
          .date
            color #999
            display block
            text-align center
        // 鼠标悬浮，显示蒙版
        &:hover
          .main
            .mask
              opacity .7
          .detail
              a
                color $linkColode
      &.blog-item
        .title
          margin 0
          color #333
        .summary
          color #777
          text-align justify
          height 100px
          overflow hidden
          p
            margin 0
        .footer
          padding-bottom 3px
          color #999
          overflow hidden
          i
            &:not(:first-child)
              padding-left .5rem
            &::before
              margin-right .2rem
          span
            float right
        &:not(:first-child)
          border-left 1px solid #f3f3f3