@{
    ViewBag.Title = "站点日志 - 在日志的字里行间看到站点的状态";
    Layout = "~/Areas/Back/Views/Shared/_LayoutBack.cshtml";
    FileInfo[] errorLogFiles = ViewData["errorLogFiles"] as FileInfo[];
    FileInfo[] infoLogFiles = ViewData["infoLogFiles"] as FileInfo[];
}

<ol class="breadcrumb">
    <li><a href="/Back">Home</a></li>
    <li>站点中心</li>
    <li>站点日志</li>
</ol>

<div>
    <div class="row">
        <div class="col-md-6">
            <div class="l-title red">错误日志</div>
        </div>
        <div class="col-md-6">
            <div class="l-title blue">常规日志</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ms-controller="vmError">
            <div class="navbar-form navbar-left table-tool" id="error-bar">
                <div class="data-form">
                    <input readonly="" autocomplete="off" class="form-control" ms-dom="queryDate" data-date-today-btn="true" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" placeholder="筛选日期" value="" size="16">
                    <button class="btn btn-default" ms-click="clear">清空日期条件</button>
                </div>
            </div>
            <table data-toolbar="#error-bar" ms-dom="btTable" class="table table-hover table-striped" data-striped="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-pagination="true"></table>
        </div>
        <div class="col-md-6" ms-controller="vmInfo">
            <div class="navbar-form navbar-left table-tool" id="info-bar">
                <div class="data-form">
                    <input readonly="" autocomplete="off" class="form-control" ms-dom="queryDate" data-date-today-btn="true" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" placeholder="筛选日期" value="" size="16">
                    <button class="btn btn-default" ms-click="clear">清空日期条件</button>
                </div>
            </div>
            <table data-toolbar="#info-bar" ms-dom="btTable" class="table table-hover table-striped" data-striped="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-pagination="true"></table>
        </div>
    </div>
</div>
<iframe id="downLoadIframe" style="display:none;"></iframe>

@section Css{
    @Styles.Render("~/static/back/css/home.sitelog.css", "~/static/back/css/bootstrap-table.css", "~/static/back/css/bootstrap-date.css")
}

@section FootJs{
    @Scripts.Render("~/static/back/js/home.sitelog.js")
    <script>
        var ErrorLogDatas = [];
        var InfoLogDatas = [];
        @if (errorLogFiles != null && errorLogFiles.Length > 0)
        {
            foreach (var item in errorLogFiles)
            {
                Write(new HtmlString(string.Format("ErrorLogDatas.push({{ 'Name': '{0}', LastWriteTime: '{1}', Length: '{2}',Type: 'error' }});",item.Name,item.LastWriteTime, item.Length)));
            }
        }
        @if (infoLogFiles != null && infoLogFiles.Length > 0)
        {
            foreach (var item in infoLogFiles)
            {
                Write(new HtmlString(string.Format("InfoLogDatas.push({{ 'Name': '{0}', LastWriteTime: '{1}', Length: '{2}',Type: 'info' }});", item.Name, item.LastWriteTime, item.Length)));
            }
        }
    </script>
    <script>
        var Action = {
            downLoadUrl: '@Url.Action("DownLoad", "Site")',
        };

        require(['home.sitelog'], function (view) {
            view(ErrorLogDatas, InfoLogDatas, Action);
        });


    </script>
}