<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>

    <!--日志角色-->
    <logger name="loginfo">
      <!--级别-->
      <level value="INFO" />
      <!--介质-->
      <appender-ref ref="InfoAppender" />
    </logger>

    <logger name="logerror">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <appender name="InfoAppender"
              type="log4net.Appender.RollingFileAppender">

      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- 日志路径-->
      <file value="System\Log\Info\" />

      <!-- 是否覆写到文件中-->
      <appendToFile value="true"/>
      <!-- 备份文件的个数-->
      <MaxSizeRollBackups value="100"/>
      <!-- 单个日志文件最大的大小-->
      <maximumFileSize value="2MB" />
      <!-- 是否使用静态文件名-->
      <staticLogFileName value="false" />
      <!--日志文件的格式，每天换一个文件记录，如不设置则永远只记录一天的日志-->
      <datePattern value="yyyyMMdd&quot;.html&quot;" />
      <rollingStyle value="Date" />
      <!--布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"
               value="%n%n============================================================================
                      %n【时间】  %d{yyyy-MM-dd HH:mm:ss} [%t] 
                      %n【级别】%-5p 
                      %n【类】 %logger 属性[%property{NDC}] 
                      %n【文件】%F
                      %n【行号】%L
                      %n【描述】%m 
                      %n【详情】%newline"/>
      </layout>
      <!--<layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>-->

    </appender>
    <appender name="ErrorAppender"
              type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="System\Log\Error\" />
      <appendToFile value="true"/>
      <MaxSizeRollBackups value="100"/>
      <maximumFileSize value="2MB" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd&quot;.txt&quot;" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header"
               value="&#13;&#10;======================================session start======================================&#13;&#10;" />-->
        <param name="ConversionPattern"
               value="%n【时间】%d{yyyy-MM-dd HH:mm:ss} [%t]
                      %n【级别】%-5p
                      %n【类】 %C 属性[%property{NDC}]
                      %n【文件】%F
                      %n【行号】%L
                      %n【描述】%m"/>
        <!--<param name="Footer"
               value="&#13;&#10;=====================================session footer=======================================&#13;&#10;" />-->
      </layout>
    </appender>
  </log4net>
</configuration>
