<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <!--<level value="DEBUG" />-->
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="InfoAppender" />
    </root>
    <!--<logger name="EmailLogger">
      <level value="ERROR" />
      <appender-ref ref="EmailAppender" />
    </logger>-->


    <appender name="InfoAppender"
              type="log4net.Appender.RollingFileAppender">

      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- 日志路径-->
      <file value="System\Log\Info\" />

      <!-- 是否覆写到文件中-->
      <appendToFile value="true"/>
      <!-- 备份文件的个数-->
      <MaxSizeRollBackups value="100"/>
      <!-- 单个日志文件最大的大小-->
      <maximumFileSize value="2MB" />
      <!-- 是否使用静态文件名-->
      <staticLogFileName value="false" />
      <!--日志文件的格式，每天换一个文件记录，如不设置则永远只记录一天的日志-->
      <datePattern value="yyyyMMdd&quot;.txt&quot;" />
      <rollingStyle value="Date" />
      <!--只记录INFO-->
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="INFO" />
      </filter>
      <!--要加上这个，默认会输出所有日志，配置这个就会拒绝掉所有日志输出，只输出上面配置的Info-->
      <filter type="log4net.Filter.DenyAllFilter" />
      <!--布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"
               value="%n ================================================================================
                      %n【时间】%d{yyyy-MM-dd HH:mm:ss} [%t]
                      %n【级别】%-5p
                      %n【类】 %C 属性[%property{NDC}]
                      %n【文件】%F
                      %n【行号】%L
                      %n【描述】%m
                      %n%n%n"/>
      </layout>
      <!--<layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>-->

    </appender>
    <appender name="ErrorAppender"
              type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="System\Log\Error\" />
      <appendToFile value="true"/>
      <MaxSizeRollBackups value="100"/>
      <maximumFileSize value="2MB" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd&quot;.txt&quot;" />
      <rollingStyle value="Date" />
      <!--只记录ERROR-->
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <!--要加上这个，默认会输出所有日志，配置这个就会拒绝掉所有日志输出，只输出上面配置的Info-->
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header"
               value="&#13;&#10;======================================session start======================================&#13;&#10;" />-->
        <param name="ConversionPattern"
               value="%n ================================================================================
                      %n【时间】%d{yyyy-MM-dd HH:mm:ss} [%t]
                      %n【级别】%-5p
                      %n【类】 %C
                      %n【文件】%F
                      %n【行号】%L
                      %n【描述】%m
                      %n%n%n"/>
        <!--<param name="Footer"
               value="&#13;&#10;=====================================session footer=======================================&#13;&#10;" />-->
      </layout>
    </appender>

    <!--邮件-->
    <!--<appender name="EmailAppender" type="log4net.Appender.SmtpAppender">
      <subject value="Said - 错误日志" />
      <smtpHost value="SMTPServer.domain.com" />
      <bufferSize value="2048" />
      -->
    <!--超长是否丢弃-->
    <!--
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>-->
  </log4net>
</configuration>
