<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>

    <appender name="InfoAppender"
              type="log4net.Appender.RollingFileAppender">

      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- 日志路径-->
      <file value="System\Log\Info\" />

      <!-- 是否覆写到文件中-->
      <appendToFile value="true"/>
      <!-- 备份文件的个数-->
      <MaxSizeRollBackups value="100"/>
      <!-- 单个日志文件最大的大小-->
      <maximumFileSize value="2MB" />
      <!-- 是否使用静态文件名-->
      <staticLogFileName value="false" />

      <!--日志文件的格式，每天换一个文件记录，如不设置则永远只记录一天的日志-->
      <datePattern value="yyyyMMdd&quot;.html&quot;" />
      <rollingStyle value="Date" />
      <!--布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"
               value="&lt;HR COLOR=red&gt;%n异常时间：%d{yyyy-MM-dd} [%t] &lt;BR&gt;%n异常级别：%-5p &lt;BR&gt;%n异 常 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
      </layout>
      <!--<layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>-->

    </appender>

    <logger name="loginfo">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
    </logger>

  </log4net>


</configuration>
