<!DOCTYPE html>
<html lang="zh-cn" ng-app="said">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Said后台管理</title>

    <!-- Bootstrap -->

    <link href="Frmework/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="Frmework/css/flat-ui.min.css" rel="stylesheet" />-->
    <link href="Frmework/css/font-awesome.min.css" rel="stylesheet" />
    <!--<link href="Frmework/css/saidList.css" rel="stylesheet" />-->
    <link href="Frmework/css/default.css" rel="stylesheet" />
    <link href="Frmework/css/addSaid.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button data-target="#example-navbar-collapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">切换的导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Said</a>
                </div>
                <ul class="nav pull-right">
                    <li class="dropdown pull-left">
                        <a href="javascript:;" class="dropdown-toggle">
                            <i class="icon-envelope"></i>
                            <span class="badge">1</span>
                        </a>
                    </li>
                    <li class="dropdown  pull-left">
                        <a href="javascript:;" class="dropdown-toggle">Said首页</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section class="page-container">
        <nav class="page-sidebar nav-collapse collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="page-sidebar-menu">
                <!--<li>
                    <form class="sidebar-search">
                        <div class="input-box">
                            <a class="remove" href="javascript:;"></a>
                            <input type="text" placeholder="Search...">
                            <input type="button" value=" " class="submit">
                        </div>
                    </form>
                </li>-->
                <li class="active">
                    <a href="javascript:;">
                        <i class="icon-home"></i>
                        <span class="title">控制中心</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-edit"></i>
                        <span class="title">Said管理</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-laptop"></i>
                        <span class="title">文章管理</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-credit-card"></i>
                        <span class="title">实验室</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-tags"></i>
                        <span class="title">标签管理</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-cogs"></i>
                        <span class="title">消息中心</span>
                    </a>
                </li>
                <li class="complex">
                    <a href="javascript:;">
                        <i class="icon-bar-chart"></i>
                        <span class="title">统计中心</span>
                        <span class="arrow icon-angle-down"></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="javascript:;">访问概况</a></li>
                        <li><a href="javascript:;">访客地区</a></li>
                        <li><a href="javascript:;">时段分析</a></li>
                        <li><a href="javascript:;">回复统计</a></li>
                    </ul>
                </li>
                <li class="complex open">
                    <a href="javascript:;">
                        <i class="icon-sitemap"></i>
                        <span class="title">配置中心</span>
                        <span class="arrow icon-angle-up"></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="javascript:;">页面配置</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <section class="container-main">
            <div class="page-header">
                <h2>添加Said&nbsp;&nbsp;<small>&gt;添加一篇Said</small></h2>
            </div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Siad管理</a></li>
                <li class="active">添加Said</li>
            </ol>
            <div class="main-context">
                <form action="/" name="saidForm" data-ng-submit="submitForm(saidForm.$valid)" data-ng-controller="formController" novalidate>
                    <div class="said-article">
                        <div class="said-title-con">
                            <input name="title" class="said-title" autocomplete="off" placeholder="文章标题" />
                        </div>
                        <div class="said-context-content">
                            <textarea class="said-context">这中间有个said的水印图啊，在bootstrap见过一个【缩略语】的排版，非常奈斯啊啊！！！！</textarea>
                        </div>
                    </div>
                    <div class="row said-view-container">
                        <div class="col-md-6">
                            <div class="panel panel-default relative-container">
                                <!--<div class="said-mask" data-ng-class="{'said-maskError':saidForm.musicHiddenFile.$invalid&&saidForm.musicHiddenFile.$dirty  }">
                                    <span>上传歌曲</span>
                                    <div class="progress">
                                        <div style="width: 0;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                    <input type="file" name="musicFile" data-ng-model="mFile" class="hidden-file" data-ng-change="changeFileValue(mFile)" />
                                    <input type="hidden" name="musicHiddenFile" data-ng-model="mhFile" />
                                </div>-->
                                <input-file></input-file>
                                <div class="panel-heading">歌曲</div>
                                <div class="panel-body">
                                    <div class="afterClear">
                                        <div class="col-md-4">
                                            <div class="music-img">
                                                <div class="thumbnail">
                                                    <!--<img src="../../Content/Images/said-backgournd.jpg" />-->
                                                    <img src="../../Content/Images/UEDImg/demo-img6.jpg" />
                                                    <!--<img src="../../Content/Images/testImg-Paramore.Ps.jpg" />-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="music-info col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">歌曲</span>
                                                <input type="text" name="songName" class="form-control music-input" placeholder="歌曲名称">
                                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                                    data-ng-show="myForm.email.$dirty && myForm.email.$valid"></span>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">专辑</span>
                                                <input type="text" name="SongAlbum" class="form-control music-input" placeholder="歌曲专辑">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">歌手</span>
                                                <input type="text" name="songArtist" class="form-control music-input" placeholder="艺术家">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">文件</span>
                                                <input type="text" name="songFileName" class="form-control music-input" placeholder="文件名">
                                            </div>
                                            <button type="button" class="btn btn-danger deleteSong" id="songDelete">删除</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default relative-container">
                                <div class="said-mask">
                                    <span>上传缩略图</span>
                                    <input type="file" name="saidSummayImg" class="hidden-file" />
                                </div>
                                <div class="panel-heading">描述</div>
                                <div class="panel-body">
                                    <div class="col-md-4">
                                        <div class="music-img">
                                            <div class="thumbnail">
                                                <img src="../../Content/Images/test-said-img.jpg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea class="said-dis" name="said-summary" placeholder="简介[支持HTML]"></textarea>
                                        <button type="button" class="btn btn-danger deleteSong" id="summaryImgDelete">删除</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">附加信息</div>
                                <div class="panel-body">
                                    <div class="input-group" data-ng-class="{ 'has-error':saidForm.saidTag.$invalid&&saidForm.saidTag.$dirty }">
                                        <span class="input-group-addon">标签</span>
                                        <input type="text" name="saidTag" class="form-control" data-ng-model="tag" placeholder='标签，支持[、,空格]分隔' required />
                                    </div>
                                    <div class="input-group" data-ng-class="{'has-error':saidForm.saidType.$invalid&&saidForm.saidType.$dirty}">
                                        <span class="input-group-addon">分类</span>
                                        <input type="text" name="saidType" class="form-control" data-ng-model="classify" placeholder="分类名称" required />
                                    </div>
                                </div>
                                <div class="panel-heading panel-subTitle">可选信息</div>
                                <div class="panel-body">
                                    <div class="input-group">
                                        <span class="input-group-addon">文件</span>
                                        <input type="text" name="saidFileName" class="form-control" data-ng-model="fileName" placeholder="文章发布的（文件）名称">
                                    </div>
                                    <div class="form-group">
                                        <label>JavaScript</label>
                                        <textarea rows="3" class="form-control" name="saidJS" placeholder="自定义JavaScript" data-ng-model="codeJs"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>CSS</label>
                                        <textarea rows="3" class="form-control" name="saidCSS" placeholder="自定义CSS" data-ng-model="codeCSS"></textarea>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" data-ng-mode="isRep" name="saidIsRep" />是否转载</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-container">
                        <div class="error-check">
                            发布前会进行错误检测
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 22%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                        <button class="btn btn-lg said-submit center-block" id="submit" type="submit" data-ng-class="{'submit-lock':!saidForm.$valid}">发布</button>
                    </div>
                </form>
            </div>
        </section>
    </section>
    <footer>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="Frmework/js/jQuery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="Frmework/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.3.0-beta.13/angular.js"></script>
    <!--source:http://www.bootcdn.cn/angular.js/-->
    <!--<script src="http://cdn.bootcss.com/angular.js/1.3.0-beta.13/angular.min.js"></script>-->
    <script>
        angular.module('said', []).controller('formController', function ($scope) {
            $scope.submitForm = function (isValid) {
                alert(isValid);
            };
            $scope.changeFileValue = function (value) {
                alert(value);
            };
        }).directive('inputFile', function () {
            return {
                //musicFile
                restrict: 'E',
                scope: true,//隔离作用域，否则ctrl下相同的元素会冲突
                template: '<div class="said-mask"><span>{{text}}</span>\
                                        <div class="progress">\
                                        <div style="width: 0;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">\
                                            <span class="sr-only"></span></div></div>\
                                    <input type="file" name="{{name}}" data-ng-model="mFile" class="hidden-file"/>\
                                    <input type="hidden" name="musicHiddenFile" data-ng-model="mhFile" />\
                                </div>',
                replace: true,
                link: function ($scope, elem, attr) {
                    var inputs = elem.find('input'),//[input,hiddenInput(inputState)]
                        progress = elem.find('.progress-bar'),//progress bar
                        changeState = function (value) {
                            //改变上传进度方法
                        };
                    inputs.eq(0).bind('change', function (event) {
                        var file = this.files[0],
                            name = file.name,
                            size = file.size,
                            type = file.type || '',
                            //根据最后修改日期标志文件上传
                            id = (file.lastModifiedDate + "").replace(/\W/g, '') + size + type.replace(/\W/g, ''),
                            xhr = new XMLHttpRequest(),// XMLHttpRequest 2.0请求
                            action = $scope.fileConfig.action || '/Back/ImgFileUpload',
                            data = new FormData();
                        data.append('name', encodeURIComponent(name));
                        data.append('fileId', id);
                        data.append('file', file.slice(0));
                        xhr.open('post', action, true);
                        xhr.upload.addEventListener("progress", function (e) {
                            //上传中
                        }, false);
                        xhr.onreadystatechange = function (e) {
                            if (xhr.readyState === 4) {
                                if (xhr.readyState === 200) {
                                    try {
                                        var json = JSON.parse(xhr.responseText);
                                    } catch (e) {
                                        //这是什么Error
                                        $scope.fileConfig.error && $scope.fileConfig.error(id, 1);
                                    }
                                }
                            } else {
                                //上传Error
                                $scope.fileConfig.error && $scope.fileConfig.error(id, 2);
                            }
                        };
                        xhr.send();
                    });
                }
                //link: function ($scope, elem, attr) {
                //    var file = new FileReader();
                //}
            };
        });
    </script>
</body>
</html>
