<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AngularJS学习</title>
</head>
<body>
    <div class="container-fluid">
        <div ng-app="" ng-controller="personController">
            名：
            <input type="text" ng-model="person.firstName"><br>
            姓：
            <input type="text" ng-model="person.lastName"><br>
            <br>
            姓名： {{person.firstName + " " + person.lastName}}
        </div>
        <script>
            function personController($scope) {
                $scope.person = {
                    firstName: "John",
                    lastName: "Doe"
                };
            }
        </script>
    </div>
    <script src="http://cdn.bootcss.com/angular.js/1.3.0-beta.13/angular.js"></script>
    <!--source:http://www.bootcdn.cn/angular.js/-->
    <!--<script src="http://cdn.bootcss.com/angular.js/1.3.0-beta.13/angular.min.js"></script>-->
</body>
</html>
