.said-content { position: relative; min-height: 1000px; }
    .said-content a { color: #028cd3; }
.said-blog-list, .said-blog-notfound { padding-right: 300px; }
.said-blog-title { font-size: 18px; height: 22px; line-height: 22px; padding-left: 10px; }
    .said-blog-title span { border-left: 3px solid #75b4f4; padding-right: 10px; vertical-align: middle; font-size: 13px; }
.said-blog-content, .said-blog-item { padding: 10px; }
.said-blog { border: 1px solid #CCC; transition: all 0.2s ease-in-out 0s; }
    .said-blog:hover { border: 1px solid #03a9f4; box-shadow: 0 0 3px #00d0ff; }
.said-blog-item { background-color: #FFFFFF; /*color: #FFFFFF;background-color: #0099CC;*/ }
.blog-title { position: relative; }
    .blog-title a { display: block; padding: 0 15px 0 27px; font: 1.6em "proxima-nova",微软雅黑,Tahoma,Helvetica,"Lucida Grande",Georgia,Verdana; line-height: 2em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-bottom: 1px dashed #CCC; color: #444; }
        .blog-title a:hover { color: #028cd3; }
.blog-reference a:before { content: '转'; position: absolute; left: 0px; top: 13px; font-size: 14px; background-color: #75b4f4; height: 20px; text-align: center; line-height: 20px; width: 22px; border-radius: 2px; color: #FFF; background: -moz-linear-gradient(left 45deg,#75b4f4,#a2cdf8); background: -webkit-gradient(linear, 0 70%, 30% 0, from(#75b4f4),to(#a2cdf8)); }
.blog-content { position: relative; }
.blog-imgContent { padding-left: 220px; }
.blog-img { position: absolute; left: 0; top: 10px; display: block; padding: 1px; border: 1px solid #CCC; }
.blog-content-img { width: 200px; height: 150px; display: block; }
.blog-summary { text-align: justify; word-break: break-all; text-indent: 2em; padding: 12px 0 10px; height: 138px; overflow: hidden; color: #666; }
.blog-footer { text-align: right; padding-bottom: 3px; }
    .blog-footer time { background-color: #999; color: #FFF; padding: 1px 12px; border-radius: 8px; font-size: 13px; }
    .blog-footer a, .blog-footer i { padding: 1px 5px; color: #888; background-color: #FFF; }
    .blog-footer a { color: #028cd3; }
        .blog-footer a:hover { text-decoration: underline; }
.blog-footer-imgTxt { background: url(/Content/Images/work_tool_001.png) no-repeat; padding-left: 18px; margin-right: 10px; }
    .blog-footer-imgTxt:nth-of-type(1) { background-position: -338px 3px; }
    .blog-footer-imgTxt:nth-of-type(2) { background-position: -43px -55px; }

/*not found*/
.blog-notfound-Title { padding: 15px 0; text-align: center; }
    .blog-notfound-Title img, .blog-notfound-Title span { vertical-align: bottom; }
    .blog-notfound-Title span { font-size: 1.6em; padding-left: 10px; }
.blog-notfound-more { padding: 10px; text-align: center; }
    .blog-notfound-more h4 { font-size: 16px; }
    .blog-notfound-more li a { line-height: 30px; font-size: 16px; }
        .blog-notfound-more li a:hover { text-decoration: underline; }
/*right other*/
.said-blog-other { position: absolute; top: 0; right: 0; padding: 10px; }
.blog-other-content { width: 270px; border: 1px solid #e0e0e0; margin-bottom: 30px; }
    .blog-other-content a { color: #555; }
        .blog-other-content a:hover { color: #028cd3; }
.blog-other-title { background-color: #f9f9f9; height: 45px; line-height: 45px; padding-left: 47px; color: #028cd3; font-size: 16px; }
.blog-other-list li { border-top: 1px solid #f3f3f3; transition: border-color 0.4s ease-in-out 0s; border-left: 2px solid #FFF; }
    .blog-other-list li:first-child { border-top: 1px solid #e0e0e0; }
    .blog-other-list li:hover { transition: border-color 0.4s ease-in-out 0s; border-left-color: #3ea7cb; }
        .blog-other-list li:hover a { background-color: #fdfdfd; }
        .blog-other-list li:hover img { transform: rotate(360deg) scale(1.2); transition: all 0.4s ease-in-out 0s; }
    .blog-other-list li img { transition: all 0.4s ease-in-out 0s; }
.blog-other-list a { display: block; padding-left: 17px; line-height: 38px; background-color: #FFF; }
.blog-other-icon { width: 20px; height: 20px; display: inline-block; vertical-align: middle; margin-right: 10px; }
/*
    #b4c88b
    #0099CC
    #336699
    #339933
    #33CC99
    #666699
    #009999
    #666699
    #FF6666
    #6699CC
    #006699
    #66CC99
    */
