html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; list-style: none; -webkit-font-smoothing: antialiased; }
h1, h2, h3, h4, h5, h6 { font-weight: 200; color: inherit; font-family: inherit; }
body, button, input, select, textarea { font: 14px/24px "Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif; }
button, input, select, textarea { font-size: 100%; }
textarea { resize: vertical; font: 14px/24px "Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif; outline: none; margin: 0; resize: vertical; }
body { margin: 0; padding: 0; background: #FFF; color: #444; position: relative; z-index: 1; }
body, input, textarea, select, button { font-feature-settings: "liga", "kern"; text-rendering: optimizelegibility; }
*, *:before, *:after { box-sizing: border-box; }
/**::selection, *::-moz-selection, *::-wibkit-selection { background: none repeat scroll 0 0 #ea4c89; color: rgba(255, 255, 255, 0.85);background:#0099cc;}*/
*::-moz-selection { background: none repeat scroll 0 0 #ea4c89; color: rgba(255, 255, 255, 0.85); }
*::-wibkit-selection { background: none repeat scroll 0 0 #ea4c89; color: rgba(255, 255, 255, 0.85); /*background:#0099cc;*/ }
*::selection { background: none repeat scroll 0 0 #ea4c89; color: rgba(255, 255, 255, 0.85); /*background:#0099cc;*/ }
/*
a { color: #0197E4; text-decoration: none; }
a:hover {  color: #59c6ff; text-decoration:underline; }
#03a9f4
#00d0ff
*/

/*seo*/
.seo { position: absolute; left: -9999em; top: -9999em; }
/*chrome下a标签闪烁的事情，添加一个script标签（并且标签里有内容），则没有闪动，如果页面有form，则把form去掉，也可以*/
a { text-decoration: none; transition: color 0.2s ease-in-out 0s; outline: none; }
a:hover { transition: color 0.2s ease-in-out 0s; }
a:visited { color: #c03980; }
.clear, .afterClear:after { clear: both; float: none !important; content: ''; display: block; }
table { border-collapse: collapse; }
input { border: 1px solid #929596; font-family: inherit; padding: 2px 5px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
input:focus { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); border-color: #66afe9; }
/*ellipsis*/
.said-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
/*word*/
.wordbreak { text-align: justify; word-break: break-all; word-wrap: break-word; /*white-space: pre-wrap;*/ }
.textCenter { text-align: center; }
/*arrow*/
.arrow-border { display: block; height: 15px; overflow: hidden; position: absolute; width: 18px; }
.arrow-border:before, .arrow-border:after { content: '◆'; display: block; font-family: "SimSun"; font-size: 20px; height: 15px; overflow: hidden; }
.arrow-border:before { color: #EEE; }
.arrow-border:after { color: #f9f9f9; height: 13px; margin-top: -13px; }
/*file upload*/
.hidden-file { display: block; width: 100%; height: 100%; opacity: 0; cursor: pointer; }

/*button*/
.said-btn { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; outline: 0 none; }
.said-btn:active { background-image: none; outline: 0 none; -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125); box-shadow: inset 0 3px 5px rgba(0,0,0,.125); }
.said-btn[disabled], .said-btn.disabled { pointer-events: none; cursor: not-allowed; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; opacity: .65; }
.said-btn-default { color: #333; background-color: #fff; border-color: #ccc; }
.said-btn-default:hover { color: #333; background-color: #e6e6e6; border-color: #adadad; }
.said-btn-default[disabled], .said-btn-default.disabled { background-color: #fff; border-color: #ccc; }
.said-btn-success { color: #fff; background-color: #5cb85c; border-color: #4cae4c; }
.said-btn-success:hover { color: #fff; background-color: #449d44; border-color: #398439; }
.said-btn-success[disabled], .said-btn-success.disabled { background-color: #5cb85c; border-color: #4cae4c; }
.said-btn-warning { color: #fff; background-color: #f0ad4e; border-color: #eea236; }
.said-btn-warning:hover { color: #fff; background-color: #ec971f; border-color: #d58512; }
.said-btn-warning[disabled], .said-btn-warning.disabled { background-color: #f0ad4e; border-color: #eea236; }
.said-btn-info { color: #fff; background-color: #5bc0de; border-color: #46b8da; }
.said-btn-info:hover { color: #fff; background-color: #31b0d5; border-color: #269abc; }
.said-btn-info[disabled], .said-btn-info.disabled { background-color: #5bc0de; border-color: #46b8da; }
.said-btn-danger { color: #fff; background-color: #d9534f; border-color: #d43f3a; }
.said-btn-danger:hover { color: #fff; background-color: #c9302c; border-color: #ac2925; }
.said-btn-danger[disabled], .said-btn-danger.disabled { background-color: #d9534f; border-color: #d43f3a; }

/*layout*/
.said-content { min-width: 1000px; max-width: 1600px; margin: 0 auto; }
#said-page { position: relative; z-index: 3; background-color: #FFF; /*background: url(/Content/Images/said-backgournd.jpg) fixed #FAFAFA center top; background-size: cover; transition: all 0.5s linear 0s;*/ }
#header, #footer-content { width: 980px; margin: 0 auto; }
#header { padding: 10px 0 15px 0; /*border-bottom: 1px solid #CCC; height: 48px; */ }
#header:after { content: ''; display: block; float: none; clear: both; }
#content { padding: 40px 0; margin-bottom: 371px; }
#footer { overflow: hidden; position: fixed; z-index: 2; height: 371px; background: none repeat scroll 0 0 #292929; bottom: 0px; left: 0px; display: block; padding: 50px 0; width: 100%; color: #f1f1f1; }
#footer dt, #footer dd, #footer a { font-size: 16px; }
#footer dt { font-weight: bold; font-size: 20px; line-height: 50px; }
#footer dd, #footer .footer-recm li { line-height: 35px; }
#footer dl { float: left; padding-right: 100px; height: 100%; width: 33.2%; }
#footer dl:last-child { padding-right: 0; }
#footer a { color: #CCC; }
#footer a:hover { color: #CCC; text-decoration: underline; color: #FFF; }
#footer-content { height: 100%; padding-left: 20px; }
#footer-content .footer-copyright { border-top: #505050; color: #a3a2a2; line-height: 24px; }
#footer-content .footer-copyright a { }

/*nav*/
#nav-logo { float: left; }
#nav { float: right; position: relative; z-index: 1; }
.logo { display: block; margin: 0 auto; width: 150px; height: 48px; background-position: center; background-image: url('/Content/Images/said-logo2.png'); }
#nav-flip, #said-search-con { overflow: hidden; float: left; }
#nav-flip li { float: left; }
#nav-flip a { display: block; width: 70px; text-align: center; height: 48px; line-height: 48px; color: #606060; }
#nav-flip a:hover { color: #59c6ff; }
.nav-active a { color: #59c6ff !important; }
/*search*/
#said-search { overflow: hidden; padding-top: 11px; width: 231px; position: relative; left: 0px; height: 37px; }
#said-search-btn { background: url("/Content/Images/nav-icon_search.png") no-repeat; height: 28px; width: 50px; }
#said-search-btn, #said-search-form { float: left; }
#said-search-input { width: 170px; height: 24px; line-height: 24px; border: none; border-bottom: 1px solid #ccc; background-color: transparent; }
.said-search-focus #said-search-input { border-bottom: 1px solid #33b5e5; }
.said-search-focus #said-search-btn { background-position: 0 -28px; }
#nav-hover { width: 70px; border-bottom: 1px solid #33b5e5; position: absolute; bottom: 0; z-index: 5; transition: all 0.2s ease-in-out 0s; }

/*loading animate*/
.loading-round .loading-dot:nth-child(1):after, .loading-line .loading-dot:nth-child(1) { background-color: #a29fd3; }
.loading-round .loading-dot:nth-child(2):after, .loading-line .loading-dot:nth-child(2) { background-color: #bfdc8e; }
.loading-round .loading-dot:nth-child(3):after, .loading-line .loading-dot:nth-child(3) { background-color: #a1dcf0; }
.loading-round .loading-dot:nth-child(4):after, .loading-line .loading-dot:nth-child(4) { background-color: #ffcd68; }
.loading-round .loading-dot:nth-child(5):after, .loading-line .loading-dot:nth-child(5) { background-color: #fc9595; }
.loading-round.blue .loading-dot:after, .loading-line.blue .loading-dot { background-color: #47b2e4 !important; }

/*round*/
.loading-round { position: relative; display: inline-block; height: 50px; width: 100px; margin: 0 auto; overflow: hidden; }
.loading-round .loading-dot { position: absolute; opacity: 0; width: 35px; height: 35px; transform: rotate(225deg); animation: 5.28s linear 0s normal none infinite loading-round; }
.loading-round .loading-dot:after { content: ""; position: absolute; width: 6px; height: 6px; border-radius: 50%; }
.loading-round .loading-dot:nth-child(2) { animation-delay: .23s; }
.loading-round .loading-dot:nth-child(3) { animation-delay: .46s; }
.loading-round .loading-dot:nth-child(4) { animation-delay: .69s; }
.loading-round .loading-dot:nth-child(5) { animation-delay: .92s; }

@keyframes loading-round {
    0% { transform: rotate(225deg); opacity: 1; animation-timing-function: ease-out; }
    8% { transform: rotate(345deg); animation-timing-function: linear; }
    30% { transform: rotate(455deg); animation-timing-function: ease-in-out; }
    40% { transform: rotate(690deg); animation-timing-function: linear; }
    60% { transform: rotate(815deg); opacity: 1; animation-timing-function: ease-out; }
    75% { transform: rotate(965deg); animation-timing-function: ease-out; }
    76% { opacity: 0; }
    100% { opacity: 0; }
}
/*line*/
.loading-line { position: relative; height: 30px; overflow: hidden; }
/*0.1, 0.48, 0.9, 0.52*/
.loading-line .loading-dot { animation: 3.5s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0s normal none infinite loading-line; height: 6px; width: 6px; opacity: 0; position: absolute; top: 42%; text-indent: -9999px; border-radius: 50%; }
/*.loading-line .loading-dot:nth-child(1) { animation-delay: 0.15s; }
        .loading-line .loading-dot:nth-child(2) { animation-delay: 0.3s; }
        .loading-line .loading-dot:nth-child(3) { animation-delay: 0.45s; }
        .loading-line .loading-dot:nth-child(4) { animation-delay: 0.6s; }
        .loading-line .loading-dot:nth-child(5) { animation-delay: 0.75s; }*/
.loading-line .loading-dot:nth-child(1) { animation-delay: 0.12s; }
.loading-line .loading-dot:nth-child(2) { animation-delay: 0.24s; }
.loading-line .loading-dot:nth-child(3) { animation-delay: 0.36s; }
.loading-line .loading-dot:nth-child(4) { animation-delay: 0.48s; }
.loading-line .loading-dot:nth-child(5) { animation-delay: 0.60s; }


@keyframes loading-line {
    0% { left: 0; opacity: 0; }
    5% { opacity: 1; }
    75% { opacity: 1; left: 100%; }
    100% { left: 120%; opacity: 0; }
}


/*licenses*/
.licenses { width: 91px; display: inline-block; height: 31px; overflow: hidden; text-indent: -9999em; }
.licenses-cc { background: url('/Content/Images/licenses-cc4.png') no-repeat; }
