extends ../partials/layout-mobile.pug

block content
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 内容很长
  p 啊哈哈哈哈啊哈