.said-title-con { width: 70%; margin: 0 auto; }
.said-title { border-width: 0 0 1px 0; width: 100%; box-shadow: none!important; padding: 2px 15px; font-size: 2.4em; text-align: center; }
.said-context-content { padding: 20px 0; }
.said-context { resize: none; border: 1px dashed #CCC; border-width: 0 1px 1px; width: 99%; font: 16px "Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif; line-height: 30px; text-align: justify; color: #222; overflow-y: visible!important; min-height: 400px; padding: 0 15px; }

