.fixed-table-toolbar { border: 1px solid #ccc; border-radius: 5px 5px 0 0; padding: 35px 10px 10px; }
    .fixed-table-toolbar:after { clear: both; float: none; display: block; content: ''; }
.fixed-table-container { border-radius: 0 0 4px 4px; border-top: none; }
.navbar-left:before, .navbar-right:before { content: "分类："; display: block; position: absolute!important; left: 1px; position: relative; top: -37px; letter-spacing: 1px; color: #959595; }
.navbar-right:before { content: '标签：'; }
