.grid-table { width: 100%; max-width: 100%; margin-bottom: 20px; position: relative; background-color: #cdcdcd; border-collapse: separate!important; border-spacing: 1px; }
    .grid-table thead { }
        .grid-table thead th { border: 1px solid #FFF; background-color: #e6eeee; }
    .grid-table tr { }
    .grid-table > tbody > tr:nth-child(2n+1) { background-color: #f9f9f9; }
    .grid-table > tbody > tr:hover { background-color: #F1F1F1; }
    .grid-table th, .grid-table td { padding: 5px; }
.grid-check { background-color: #DDD!important; }
