
#userChart { height: 400px; }
/*mudule*/
.module { }
.module-title { overflow: hidden; border-bottom: 1px solid #EEE; line-height: 30px; font-weight: bold; padding: 10px 25px 0 25px; }
    .module-title .tools-item, .module-title i { color: #CCC; }
.module-tools { float: right; font-weight: normal; line-height: 30px; }
    .module-tools a { text-decoration: none; transition: all ease-in-out 0.3s; }
    .module-tools .tools-item:hover { transform: rotate(360deg); }
/*chart*/
.chart-list { height: 500px; overflow-y: scroll; padding: 10px; list-style: none; }
    .chart-list li { border-bottom: 1px dashed #CCC; padding: 10px 0 20px; }
        .chart-list li:last-child { border-bottom: none; }
.chart-title, .reply-date { line-height: 30px; overflow: hidden; }
.chart-context i:first-child { padding-right: 10px; }
.chart-context i:last-child { padding-left: 10px; }
.chart-context { background-color: #FAFAFA; padding: 15px 15px 0 15px; border-radius: 5px; }
.chart-more { text-align: right; color: #8f8f8f; }
.comment-reply { font-weight: normal!important; margin-left: 19px; padding: 1px 10px; }
.chart-title a:first-child { font-weight: bold; }
.chart-reverse { padding-top: 15px; }
    .chart-reverse .chart-title { text-align: right; }
    .chart-reverse .chart-context { border: 2px solid #75b4f4; border-top: 0; border-bottom: 0; }
.reply-date { vertical-align: middle; }
.gridContainer { padding-top: 30px; }

/*bootgrid*/
.bootgrid { width: 100%; max-width: 100%; margin-bottom: 20px; position: relative; background-color: #cdcdcd; border-collapse: separate!important; border-spacing: 1px; }
    .bootgrid thead { }
        .bootgrid thead th { border: 1px solid #FFF; background-color: #e6eeee; }
    .bootgrid tr { background-color: #FFF; }
    .bootgrid > tbody > tr:nth-child(2n+1) { background-color: #f9f9f9; }
    .bootgrid > tbody > tr:hover { background-color: #F1F1F1; }
    .bootgrid th, .bootgrid td { padding: 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.grid-check { background-color: #DDD!important; }
.bootgrid tfoot tr { text-align: center; }

