@using Said.Models
@using Said.Common
@{
    ViewBag.Title = "听说 - 世界很大，风住过这里";
    Layout = "~/Views/Shared/_LayoutWap.cshtml";
    IList<Article> articles = ViewData["articleList"] as List<Article>;
    string saidResourcePath = ConfigInfo.SourceSaidPath;

}
@section Css{
    <link href="@Url.Content("~/Content/wap/style/about.css?v=1.0")" rel="stylesheet">
}
<div class="banner">
    <div class="banner-bg" style="background-image:url(/Content/Images/bg/paperman_about.jpg);"></div>
    <div class="banner-content">
        <h1>关于听说</h1>
        <p>这是我的城</p>
        <p>轻敲我的心</p>
    </div>
</div>
<section class="said-box">
    <article class="about-content">
        <p>这是我的孤城</p>
        <p>简单中满足着我的贪婪</p>
        <p>我私藏了一些歌曲，只是喜欢的乐队都解散或者老了</p>
        <p>一度想过放弃</p>
        <p>一个久未联系的妹子给我留言</p>
        <p>“因为歌我记住了你，你可别哪天就让人忘记了”</p>
        <p>就突然觉得应该把它继续开发下去</p>
        <p>又是凌晨02:00</p>
        <p>这是我的孤城</p>
    </article>
    <div class="about-bg" style="background-image:url(/Content/Images/bg/coldplay_about.jpg)">
    </div>
</section>

@section FootJs{
    <script>
    </script>

}