@{
    ViewBag.Title = "关于 - 关于听说，关于linkFly";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="said-background said-banner-white" style="background-image: url(/Content/Images/bg/paperman_about.jpg)">
    <div class="said-banner-bar">
        <ul class="said-banner">
            <li class="said-banner-item">
                <h3 class="banner-title">关于听说</h3>
                <div class="banner-content">
                    <p>这是我的孤城</p>
                    <p>嘘，轻敲我的心</p>
                    <p>这里锈迹斑斑</p>
                    <p>住着雨、魔鬼、和老去的秘密</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<section id="content">
    <div class="md-content">
        <div class="row item">
            <div class="col-xs-6 cell">
                <figure class="image img-cp"></figure>
            </div>
            <div class="col-xs-5 cell">
                <p>这是我的孤城</p>
                <p>简单中满足着我的贪婪</p>
                <p>我私藏了一些歌曲，只是喜欢的乐队都解散或者老了</p>
                <p>一度想过放弃</p>
                <p>一个久未联系的妹子给我留言</p>
                <p>“因为歌我记住了你，你可别哪天就让人忘记了”</p>
                <p>就突然觉得应该把它继续开发下去</p>
                <p>已经凌晨02:00</p>
                <p>这是我的孤城</p>
            </div>
        </div>
        <div class="row item">
            <div class="col-xs-3 cell">
                <p>简洁、精要是必需的</p>
                <p>风景由地址取代</p>
                <p>摇摆的记忆屈服于无可动摇的日期</p>
                <p>所有的爱情只有婚姻可提</p>
                <p>所有的子女只有出生的可填</p>
                <p>认识你的人比你认识的人重要</p>
                <p>旅行要出了国才算</p>
                <p>会员资格，原因免填</p>
                <p>光荣记录，不问手段</p>
                <p>填填写写，彷佛从未和自己交谈过</p>
                <p>永远和自己只有一臂之隔</p>
                <p> —— 辛波丝卡《写履历表》</p>
            </div>
            <div class="col-xs-8 cell">
                <figure class="image img-mcr"></figure>
            </div>
        </div>
    </div>
</section>
@section Css{
    @Styles.Render("~/static/said/home.about.css")
}

@*@section FootJs{

    }*@