@{
    ViewBag.Title = "服务器出了一点小问题 - 听说";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.overridePage = true;
}

<div class="pageBg"></div>
<div class="content">
    @*<h1>000</h1>*@
    <h2>出了一点小问题</h2>
    <div class="context"><p>服务器有点懵圈</p><p>关注 <a href="@Url.Action("Cl", "Home", new {url= "http://weibo.com/silin6",sgs="e-weibo" })">@@为你聚焦半世纪</a></p><p>或者 <a href="@Url.Action("Cl", "Home", new {url= "http://music.163.com/#/playlist?id=331813690",sgs="e-163" })">听听我的歌单</a></p></div>
    <div><a class="go" href="/">Home</a></div>
</div>
@section Css{
    @Styles.Render("~/static/said/error.css")
}