@{
    ViewBag.Title = "该页未找到，这里一片荒芜 — 听说";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.overridePage = true;
}
<!--应该播放背景音乐fix you-->
<div class="pageBg"></div>
<div class="content">
    <h1>4 0 4</h1>
    <h3>Lights will guide you home</h3>
    <div class="context"><p>该页未找到</p><p>你是否迷失在了这里？</p></div>
    <div><a class="go" href="/">Home</a></div>
</div>
@section Css{
    @Styles.Render("~/static/said/error.css")
}