@require './lib/normalize'
@require './lib/article-format'
@require './lib/mobile/mobile-header'
@require './lib/mobile/mobile-navigator'
@require './lib/mobile/mobile-banner'
@require './lib/mobile/mobile-module'
@require './lib/mobile/mobile-article-detail'
@require './lib/mobile/mobile-comments'
@require './lib/mobile/mobile-about'

// 全局链接
$color-a = #4078c0

html, body, input, select, textarea
  font 16px/24px -apple-system, BlinkMacSystemFont,STHeiti, "Helvetica Neue", Helvetica,Arial, "PingFang SC", "Microsoft Yahei", sans-serif
  font-feature-settings "liga", "kern"
  text-rendering optimizelegibility
  // mac os 下进行抗锯齿优化，字体会显得更瘦小一点儿
  -webkit-font-smoothing antialiased
  color #444

.saidfont
  font-size inherit

a 
  color $color-a
  text-decoration none

.ellipsis
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

body
  background #fafafa

html
  &.lock
    overflow hidden

// layout

// 页面底部
#footer
  .menus
    padding 1rem 1rem 0 1rem
    font-size .875rem
    text-align center
    a
      color #555
    i
      padding 0 .5rem
  .logo
    a
      display block
      margin 0 auto
      height 3rem // 48px
      width 6.25rem // 100px
      background url(//static.tasaid.com/images/said-logo.48b1e595.png) no-repeat center center
      background-size 100% auto
      overflow hidden 


// cnzz 统计会给页面中插入站长统计字样，隐藏该字样
.fuck-cnzz
  display none!important