@require './lib/normalize'
// @import 'nib'

// global
*, *:before, *:after 
  box-sizing border-box
*::selection 
  background none repeat scroll 0 0 #ea4c89
  color rgba(255, 255, 255, 0.85)
a 
  text-decoration none
  transition color 0.2s ease-in-out 0s
  outline none
  &:hover
    transition color 0.2s ease-in-out 0s
  &:visited
    color #c03980
.ellipsis
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
body
  border 1px solid red