@require './lib/normalize'
@require './layout'

$color-a = #4078c0

html, body, button, input, select, textarea
  font 14px/24px -apple-system, BlinkMacSystemFont,STHeiti, "Helvetica Neue", Helvetica,Arial, "PingFang SC", "Microsoft Yahei", sans-serif
  font-feature-settings "liga", "kern"
  text-rendering optimizelegibility
  // mac os 下进行抗锯齿优化，字体会显得更瘦小一点儿
  -webkit-font-smoothing antialiased
  color #444
input
  outline none
textarea
  resize vertical
  outline none

.saidfont
  font-size 1rem
// global
*, *:before, *:after 
  box-sizing border-box
*::selection 
  background none repeat scroll 0 0 #ea4c89
  color rgba(255, 255, 255, 0.85)
a 
  color $color-a
  text-decoration none
  transition color 0.2s ease-in-out 0s
  outline none
  &:hover
    transition color 0.2s ease-in-out 0s
  &:visited
    color #c03980
.ellipsis
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

// a 样式
.link
  color $color
  position relative
  &::after
    content ''
    position absolute
    left 0
    display block
    bottom -5px
    width 100%
    height 1px
    background-color currentColor
    // background $color
    transform scale(0)
    transition transform 0.5s
  &:hover::after
    transform scale(1)
// 全局清浮动
.clear-fix::after
  clear both
  float none!important
  content ''
  display block
// 按钮
.button
  $bg-color = #40a9ff
  box-shadow 0 1px 1px rgba(0,0,0,0.05)
  padding .5rem 1rem
  border-radius 6px
  background $bg-color
  border 1px solid $bg-color
  color #fff
  cursor pointer
  transition .2s
  &:hover
    background #389bec
    border-color #1984dc
  &:active
    background #2d87e8
  &.disabled, &[disabled]
    background #007bff
    border-color #007bff
    cursor default
    opacity .6
    pointer-events none