$debug: 1px solid red;
$source-detail-bar: 250px;


$source-box-padding: 10px;

@mixin box-border {
    padding: $source-box-padding;
}
//%placeholders编译出来的css会进行选择器合并
%abso {
    position: absolute;
}

@mixin img-info {
}

.source-content {
    padding-right: $source-detail-bar+$source-box-padding;
    //工具栏
    .source-head {
        border-bottom: 1px solid #CCC;
        /*padding: 25px 0;*/
        position: relative;

        .source-loading {
            height: 50px;
            padding-left: 300px;
            padding-right: 300px;
        }

        .toolbar-left {
            @extend %abso;
            left: 10px;
            top: 0;
        }

        .toolbar-right {
            @extend %abso;
            right: 10px;
            top: 10px;
        }

        .search {
            width: 170px;
        }

        .upload-text {
            padding: 0 15px;
        }

        .said-toggle {
            border: 1px solid #ccc;
            border-radius: 20px;
            position: relative;
            width: 50px;
            height: 28px;
            display: inline-block;
            cursor: pointer;
            vertical-align: middle;

            &:before {
                content: '';
                display: block;
                width: 28px;
                top: 0px;
                left: 0px;
                height: 26px;
                position: absolute;
                /*border: 1px solid #dedede;*/
                border-radius: 100%;
                box-shadow: 0 2px 5px rgba(0,0,0,.4);
                background-color: #fff;
                transition: transform linear .2s;
            }

            &.selected {
                background-color: #4cd964;
                border-color: #4cd964;
            }

            &.selected:before {
                border-color: #4cd964;
                transform: translateX(20px);
            }
        }

        .columns-left {
            margin-right: 5px;
        }

        .source-sum {
            color: #999;
        }

        .selected-path {
            padding-right: 10px;
        }

        .selected-count {
            color: red;
            font-size: 22px;
        }
    }
    //图片容器
    .source-body {
        @include box-border;
        //border: $debug;
        min-height: 500px;
        /*text-align: justify;
        -moz-text-align-last: justify;
        -ms-text-align-last: justify;
        text-align-last: justify;*/
        text-align: center;

        .source-item {
            border: 1px solid #ddd;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            margin: 9px;
            padding: 4px;
            transition: border 0.2s ease-in-out 0s;

            &:hover {
                border-color: #4cae4c;
            }

            .item-img {
                width: 256px;
                height: 140px;
                background: url('/Content/Images/Said-Images-load.gif') center 0 no-repeat #f4f4f4;
                background-size: cover;
            }

            .item-info {
                color: #666;
                overflow: hidden;
                text-align: left;

                .img-name, .item-delete {
                    line-height: 26px;
                    vertical-align: middle;
                }

                .item-delete {
                    color: #666;
                    float: right;
                    font-size: 16px;
                    transition: all 0.4s ease-in-out 0s;
                    text-decoration: none;
                }

                .item-delete:hover {
                    color: red;
                }
            }
        }

        .source-item.selected {
            background-color: #5cb85c;
            border-color: #4cae4c;
        }
    }


    .source-footer {
        text-align: center;
    }
    //添加音乐
    .add-song {
        padding-top: 0px;
        width: 500px;
        margin: 0 auto;
    }

    .add-form {
        .col-md-4 {
            .mask-hover {
                &:first-child {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .upload-file-box {
        .btn {
            width: 200px;
        }
    }

    .submit-container button {
        width: 150px;
    }

    .music-info {
        margin-top: 10px;
    }
}

.keywords {
    color: #52b12d;
}


//图片详情
.source-detail {
    position: absolute;
    width: $source-detail-bar;
    @include box-border;
    /*border: $debug;*/
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fafafa;
}

.source-info {

    li {
        line-height: 40px;
    }
}
