$globalBgColor: #fafafa; //#0078d7
$inputBorderColor: #999;

$boxOpacity: 0.8;

/*公用样式*/
@mixin btnColor($bgColor: #428bca,$color: #357ebd) {
    background-color: $bgColor;
    border-color: $color;
}

@mixin filter($value: 10) {
    -webkit-filter: blur($value+px); /* Chrome, Opera */
    -moz-filter: blur($value+px);
    -ms-filter: blur($value+px);
    filter: blur($value+px);
}

@mixin transition($prototype: background-color) {
    transition: $prototype ease-in-out 0.2s;
}


html {
    height: 100%;
}

body {
    background: $globalBgColor url('/Content/Back/Images/said-login-bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100px;
    background-position: center center;
    height: 100%;
}

.login-content {
    margin: 0 auto;
    width: 400px;
}

.login-header {
    padding-bottom: 20px;
}

.said-logo {
    background: url('/Content/Images/said-logo.png') no-repeat;
    height: 100px;
    width: 100px;
    /*border: 1px solid #fff;*/
    margin: 0 auto;
}

.login-box {
    position: relative;
}

.login-bar-bg {
    opacity: $boxOpacity;
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.login-context {
    z-index: 2;
    position: relative;
    padding: 5px 5px 20px;

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #b2b2b2;
        border-left: 2px solid #428bca;
        background-color: transparent;
        opacity: $boxOpacity;
        @include transition();
        font-size: 15px;
    }

    .login-input {
        padding: 15px;

        &:focus, &:hover {
            input {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
                border-right-color: $inputBorderColor;
                border-top-color: $inputBorderColor;
                border-bottom-color: $inputBorderColor;
                background-color: #ebebeb;
                opacity: 1;
            }
        }
    }

    .login-pass {
        position: relative;
    }

    .fa-eye {
        position: absolute;
        right: 22px;
        top: 32px;
        cursor: pointer;
        color: #999;
        @include transition(color);

        &:hover {
            color: #000;
        }
    }

    .pass-input {
        padding-right: 25px;

        &::-ms-clear {
            display: none;
        }

        &::-ms-reveal {
            display: none;
        }
    }

    .login-footer {
        width: 100%;
    }

    .login-btn {
        @include btnColor();
        color: #fff;
        width: 200px;
        font-size: 18px;
        line-height: 1.33;
        display: block;
        padding: 10px 16px;
        border-radius: 6px;
        text-decoration: none;
        margin: 0 auto;
        text-align: center;
        opacity: $boxOpacity;

        &:hover, &:focus, &:active {
            @include btnColor(#3071a9,#285e8e);
        }

        &:active {
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        }

        &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &.lock {
            @include btnColor(#337ab7,#2e6da4);
            box-shadow: none;
            cursor: not-allowed;
        }
    }
}

.login-msg {
    border: 1px solid #696969;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    max-width: 60%;
    position: relative;
    background-color: transparent;

    .login-msg-bg {
        @include filter(2);
        width: 100%;
        height: 100%;
        opacity: 0.6;
        top: 0;
        left: 0;
        background-color: #262626;
        position: absolute;
        z-index: 1;
    }

    .login-msg-txt {
        font-size: 1.32em;
        color: #fff;
        position: relative;
        z-index: 2;
    }
}
