extends ../partials/layout.pug

block head
  link(rel='stylesheet', href='/css/blog-detail.css')

block content
  //- 大 banner
  .banner-bg.blog-banner
    ul.banner
      li.banner-item.white(style='background-image:url(/images/bg/blog-banner-bg.jpg)')
        .banner-content
          h3.title 从 JavaScript 到 TypeScript 系列 - 装饰器与 ECMAScript 2018 3213212 很多 111
          .context
            //- p console.log('Hello,Wrold!')
            //- p (46840404742).toString(36)
  //- 正文内容
  section#content
    .said-content
      section.context
        h1.title 世界很大，风住过这里世界很大，风住过这里世界很大，风住过这里世界很大，风住过这里世界很大，风住过这里世界很大，风住过这里世界很大，风住过这里
        article.article
          section.html
            !=content
          .author
            p 作者：linkFly
            p 原文：
              a.link(href='http://www.cnblogs.com/silin6/p/4288967.html') http://www.cnblogs.com/silin6/p/4288967.html
            p 出处：
              a.link(href='https://tasaid.com') https://tasaid.com
            p 声明：转载相关授权请
              a.link(href='//tasaid.com/Blog/20160906231305.html') 点击这里
              = '，请尊重作者的辛勤劳动成果。'
          .other
            a.like.liked
              span#like-text 点赞
              span#link-num 1