extends ../partials/layout.pug

block head
  link(rel='stylesheet', href='/css/blog.css')

block content
  //- 大 banner
  .banner-bg
    ul.banner
      li.banner-item.white(style='background-image:url(/images/bg/team.jpg)')
        .banner-content
          h3.title Write the code,change the world
          .context
            p console.log('Hello,Wrold!')
            p (46840404742).toString(36)
  //- 正文内容
  section#content
    .blog-head
      .cate-head
        h3.title 全部文章 - 共 18 篇
          a.cate-btn
            span 分类
            label.open
      .categorys
        .box
          ul.content
            - values = [1,2,3,4,5,6,7,8,9,10,11,12,13]
            each val in values
              li.item
                a 
                  img.icon(src='//tasaid.com/Source/Sys/Images/Icons/default.png')
                  = '全部'
    .said-content
      section.blog-content
        .timespan
          span.txt 2018年01月
        article.item
          .date
            span 18日
            small 13:27
          .content
            h2.title.ellipsis
              a.link(title='点击查看文章') JavaScript 中的 task queues
            .summary
              p JavaScript 是单线程的，所有的任务都放在 "任务队列"  中，从而衍生了 event loops 机制
              p 我们这次要讨论的，则是 event loop 的背后：
              p task queues 和异步任务 API 的执行细节
            .footer
              i.saidfont.icon-category JavaScript
              i.saidfont.icon-yonghu 12
        article.item
          .date
            span 18日
            small 13:27
          .content
            h2.title.ellipsis
              a.link(title='点击查看文章') JavaScript 中的 task queues
            .summary
              p JavaScript 是单线程的，所有的任务都放在 "任务队列"  中，从而衍生了 event loops 机制
              p 我们这次要讨论的，则是 event loop 的背后：
              p task queues 和异步任务 API 的执行细节
            .footer
              i.saidfont.icon-category JavaScript
              i.saidfont.icon-yonghu 12
        .timespan
          span.txt 2018年01月
        article.item
          .date
            span 18日
            small 13:27
          .content
            h2.title.ellipsis
              a.link(title='点击查看文章') JavaScript 中的 task queues
            .summary
              p JavaScript 是单线程的，所有的任务都放在 "任务队列"  中，从而衍生了 event loops 机制
              p 我们这次要讨论的，则是 event loop 的背后：
              p task queues 和异步任务 API 的执行细节
            .footer
              i.saidfont.icon-category JavaScript
              i.saidfont.icon-yonghu 12

    
