@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Back/Views/Shared/_LayoutBack.cshtml";
}

<div class="page-header">
    <h3>图片管理&nbsp;&nbsp;<small>&gt;&nbsp;管理每一张美轮美奂并且精致的图片</small><a href="javascript:;" id="said-help-btn" title="帮助"><i class="fa fa-question-circle"></i></a></h3>
</div>
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">资源管理</a></li>
    <li class="active">图片管理</li>
</ol>
<div id="said-help" class="said-mask-content said-watermark">
    <ul>
        <li>Said生成的缩略图不能有<span class="keywords">透明背景</span>（因为缩略图最终生成是jpg格式的）</li>
        <li>上传的图片，最后会被裁剪为<span class="keywords">1.82</span>比例的图片</li>
        <li>上传的图片不允许超过<span class="keywords">1MB</span></li>
        <li>上传的音乐文件不允许超过<span class="keywords">6MB</span></li>
    </ul>
</div>
<div class="main-context">
    <div class="source-content">
        <div class="source-head">
            <div class="toolbar-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">全部 <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;" title="选择系统分类下的图片">系统</a></li>
                        <li><a href="javascript:;" title="选择Blog分类下的图片">日志</a></li>
                        <li><a href="javascript:;" title="选择Said分类下的图片">Said</a></li>
                        <li><a href="javascript:;" title="选择Music分类下的图片">音乐</a></li>
                        <li><a href="javascript:;" title="选择Page分类下的图片">页面</a></li>
                        <li><a href="javascript:;" title="选择Other分类下的图片">其他</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:;" title="尚未推出">实验室</a></li>
                    </ul>
                </div>
                <div class="said-toggle selected" title="是否多选"></div>
            </div>
            <div class="source-loading">
                <div class="loading-line">
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                </div>
            </div>
            <div class="toolbar-right">
                <span class="source-sum"><span class="selected-count">2</span>&nbsp;/&nbsp;120</span>
            </div>
        </div>
        <div class="source-context">
            <div class="source-body">
                <div data-id="cac2b7cb398c470296e69765bd2fdd51" class="source-item selected">
                    <div class="item-img" data-src="/Source/Sys/Images/Thumbnail028620152702234207.jpg" style="background-image:url(/Source/Sys/Images/Thumbnail028620152702234207.jpg)">
                    </div>
                    <div class="item-info">
                        <span class="img-name">196620151803225207.jpg</span>
                        <a title="删除" class="fa fa-times item-delete" data-name="196620151803225207.jpg" data-id="cac2b7cb398c470296e69765bd2fdd51" href="javascript:;"></a>
                    </div>
                </div>
                <div data-id="cac2b7cb398c470296e69765bd2fdd51" class="source-item">
                    <div class="item-img" data-src="/Source/Sys/Images/Thumbnail028620152702234207.jpg">
                    </div>
                    <div class="item-info">
                        <span class="img-name">196620151803225207.jpg</span>
                        <a title="删除" class="fa fa-times item-delete" data-name="196620151803225207.jpg" data-id="cac2b7cb398c470296e69765bd2fdd51" href="javascript:;"></a>
                    </div>
                </div>
                <div data-id="cac2b7cb398c470296e69765bd2fdd51" class="source-item selected">
                    <div class="item-img" data-src="/Source/Sys/Images/Thumbnail069420152702232107.jpg" style="background-image:url(/Source/Sys/Images/Thumbnail069420152702232107.jpg)">
                    </div>
                    <div class="item-info">
                        <span class="img-name">196620151803225207.jpg</span>
                        <a title="删除" class="fa fa-times item-delete" data-name="196620151803225207.jpg" data-id="cac2b7cb398c470296e69765bd2fdd51" href="javascript:;"></a>
                    </div>
                </div>
            </div>
            <nav class="source-footer">
                <ul class="pagination">
                    <li><a href="javascript:;" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><span>...</span></li>
                    <li><a href="javascript:;">7</a></li>
                    <li><a href="javascript:;">8</a></li>
                    <li><a href="javascript:;" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="source-detail">
        <ul class="source-info">
            <li>Thumbnail069420152702232107.jpg</li>
            <li>2015-7-6 22:54:15</li>
            <li>1024MB</li>
            <li>系统图片</li>
            <li>被引用12次</li>
            <li class="text-center"><a href="javascript:;" class="btn btn-default">查看大图</a></li>
        </ul>
    </div>
</div>
@section Css{
    <link href="@Url.Content("~/Content/Back/Style/imagesCenter.css")" rel="stylesheet" />
}

@section FootJs{
    <script>
        //document.querySelector('.source-body').addEventListener('mouseenter', function (e) {
        //    console.log('source-body', e);
        //});
        //document.querySelector('.source-item').addEventListener('mouseenter', function (e) {
        //    //console.clear();
        //    console.log('item', e);
        //    //e.stopPropagation();
        //});
    </script>
}