@{
    ViewBag.Title = "Said - 后台管理中心：首页";
    Layout = "~/Areas/Back/Views/Shared/_LayoutBack.cshtml";
}
<div class="page-header">
    <h2>控制中心&nbsp;&nbsp;<small>Said首台管理首页</small></h2>
</div>
<div class="main-context">
    <div class="row context-chart">
        <div class="col-md-6">
            <div class="context-chart">
                <div id="uvChart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>用户访问地区</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="module module-chart">
                <h5 class="module-title">
                    <i class="fa fa-exchange"></i>
                    <span>回复我的</span>
                    <span class="module-tools">
                        <a title="点击刷新" class="tools-item" href="javascript:;"><i class="fa fa-refresh"></i></a>
                    </span>
                </h5>
                <ul class="chart-list">
                    <li>
                        <div>
                            <div class="chart-title">
                                <a title="查看他的站点" href="javascript:;">我的化学浪漫</a>在《<a href="javascript:;">世界很大，风住过这里</a>》中回复您：
                                       
                            </div>
                            <div class="chart-context">
                                <i class="fa fa-quote-left"></i>Less 是一个Css 预编译器,意思指的是它可以扩展Css语言,添加功能如允许变量(variables),混合(mixins),函数(functions) 和许多其他的技术，让你的Css更具维护性，主题性，扩展性。Less 可运行在 Node 环境,浏览器环境和Rhino环境.同时也有3种可选工具供你编译文件和监视任何改变。<i class="fa fa-quote-right"></i>
                                <div class="chart-more">
                                    <time class="reply-date">昨天 22:49:45</time>
                                    <a class="comment-reply btn btn-default btn-xs" href="javascript:;">回复</a>
                                </div>
                            </div>
                        </div>
                        <div class="chart-reverse">
                            <div class="chart-title">
                            </div>
                            <div class="chart-context">
                                <i class="fa fa-quote-left"></i>Less 是一个Css 预编译器,意思指的是它可以扩展Css语言,添加功能如允许变量(variables),混合(mixins),函数(functions) 和许多其他的技术，让你的Css更具维护性，主题性，扩展性。Less 可运行在 Node 环境,浏览器环境和Rhino环境.同时也有3种可选工具供你编译文件和监视任何改变。<i class="fa fa-quote-right"></i>
                                <div class="chart-more">
                                    <time class="reply-date">前天 22:49:45</time><i class="glyphicon glyphicon-hand-left"></i>&nbsp;linkFly
                                           
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="chart-title">
                                <a title="查看他的站点" href="javascript:;">我的化学浪漫</a>在《<a href="javascript:;">linkFly的个人Web</a>》中回复您：
                                       
                            </div>
                            <div class="chart-context">
                                <i class="fa fa-quote-left"></i>Less 是一个Css 预编译器,意思指的是它可以扩展Css语言,添加功能如允许变量(variables),混合(mixins),函数(functions) 和许多其他的技术，让你的Css更具维护性，主题性，扩展性。Less 可运行在 Node 环境,浏览器环境和Rhino环境.同时也有3种可选工具供你编译文件和监视任何改变。<i class="fa fa-quote-right"></i>
                                <div class="chart-more">
                                    <time class="reply-date">昨天 22:49:45</time>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="chart-title">
                                <a title="点击查看匿名用户信息" href="javascript:;" class="anoy-user">匿名用户</a>在《<a href="javascript:;">世界很大，风住过这里</a>》中回复您：
                                       
                            </div>
                            <div class="chart-context">
                                <i class="fa fa-quote-left"></i>Less 是一个Css 预编译器,意思指的是它可以扩展Css语言,添加功能如允许变量(variables),混合(mixins),函数(functions) 和许多其他的技术，让你的Css更具维护性，主题性，扩展性。Less 可运行在 Node 环境,浏览器环境和Rhino环境.同时也有3种可选工具供你编译文件和监视任何改变。<i class="fa fa-quote-right"></i>
                                <div class="chart-more">
                                    <time class="reply-date">昨天 22:49:45</time>
                                    <a class="comment-reply btn btn-default btn-xs" href="javascript:;">回复</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="chart-title">
                                <a href="javascript:;">我的化学浪漫</a>在《<a href="javascript:;">世界很大，风住过这里</a>》中回复您：
                                       
                            </div>
                            <div class="chart-context">
                                <i class="fa fa-quote-left"></i>Less 是一个Css 预编译器,意思指的是它可以扩展Css语言,添加功能如允许变量(variables),混合(mixins),函数(functions) 和许多其他的技术，让你的Css更具维护性，主题性，扩展性。Less 可运行在 Node 环境,浏览器环境和Rhino环境.同时也有3种可选工具供你编译文件和监视任何改变。<i class="fa fa-quote-right"></i>
                                <div class="chart-more">
                                    <time class="reply-date">昨天 23:30:13</time>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="module module-chart">
                <h5 class="module-title">
                    <i class="fa fa-comments-o"></i>
                    <span>消息</span>
                    <span class="module-tools">
                        <a title="点击刷新" class="tools-item" href="javascript:;"><i class="fa fa-refresh"></i></a>
                    </span>
                </h5>
            </div>
        </div>
    </div>
</div>
@section Css{
    <link href="@Url.Content("~/Content/Back/Style/index.css")" rel="stylesheet" />
}
@section FootJs{
    <script>
        var option = {
            title: {
                text: '2014-11-15',
                subtext: '昨日/今日访问量'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['昨日', '今日']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar', 'stack', 'tiled'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ['0:00', '1:00', '2:00', '3:00', '4:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '昨日',
                    type: 'line',
                    smooth: true,
                    itemStyle: { normal: { areaStyle: { type: 'default' } } },
                    data: [1, 5, 2, 15, 5, 4, 3, 2, 4, 4, 4, 5, 12, 15, 20, 7, 6, 6, 1, 0, 2, 0, 6, 20]
                },
                {
                    name: '今日',
                    type: 'line',
                    smooth: true,
                    itemStyle: { normal: { areaStyle: { type: 'default' } } },
                    data: [5, 2, 5, 5, 5, 3, 3, 9, 10, 19, 16, 16, 22, 7, 7, 8, 8, 0, 0, 0, 0, 1, 6, 7]
                }
            ]
        };
        require(['echarts'], function (ec) {
            var myChart = ec.init(document.getElementById('uvChart'));
            myChart.setOption(option);
        });
    </script>
}