@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Said - Login</title>
    @Styles.Render("~/static/back/css/global.css", "~/static/back/css/login.css")
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="/favicon.ico" />
    @Scripts.Render("~/static/w/requirejs.js")
    @Html.InlineScripts("~/static/back/js/config.js")
</head>
<body>
    <section class="login-content">
        <header class="login-header">
            <div class="said-logo"></div>
        </header>
        <section class="login-box">
            <div class="login-bar-bg"></div>
            <div class="login-context">
                <div class="login-form">
                    <div class="login-input login-name">
                        <input type="text" class="name-input" placeholder="用户名" id="username" maxlength="20">
                    </div>
                    <div class="login-input login-pass">
                        <input type="password" class="pass-input" placeholder="密码" id="password" maxlength="20">
                        <i class="fa fa-eye" id="showPass"></i>
                    </div>
                </div>
                <div class="login-footer">
                    <a href="javascript:;" class="login-btn" id="btn-login">登录</a>
                </div>
            </div>
        </section>
    </section>
    <div class="login-msg" id="msg" style="display:none" title="双击关闭">
        <span class="login-msg-txt">错误消息</span>
        <div class="login-msg-bg"></div>
    </div>
    @Scripts.Render("~/static/back/js/home.login.js")
</body>
</html>
