.said-box{padding-top:10px}.about-bg{width:100%;min-height:391px;background:url(/Content/Images/bg/coldplay_about.jpg) no-repeat center bottom;background-size:100% auto}.about-content{padding:15px;font-size:14px;text-align:center}
