

{{#section "head"}}
<link href="/public/stylesheets/index.css?v={{{@version}}}" rel="stylesheet">
{{/section}}
<div class="said-background" style="background-image: url(/resource/sys/images/6036.jpg)">
    <div class="said-banner-bar">
        <ul class="said-banner">
            <li class="said-banner-item said-banner-white">
                <h3 class="banner-title">
                    <img src="/public/images/said-logo.png" />
                </h3>
                <div class="banner-content">
                    <p>我有一些故事</p>
                    <p>觉得让它们在时间里老去有点不妥</p>
                    <p>于是我把它们分别折进一首歌里</p>
                    <p>在百无聊赖的下午</p>
                    <p>与你分享</p>
                </div>
            </li>
            <li class="said-banner-item said-banner-white" style="display: none;">
                <h3 class="banner-title">Write the code,change the world</h3>
                <div class="banner-content">
                    <p>字字斟酌，句句精妙</p>
                    <p>每一处代码都恰到好处</p>
                </div>
            </li>
        </ul>
    </div>
    <ul class="said-banner-footer">
        <li class="said-banner-ring active">1</li>
        <li class="said-banner-ring">2</li>
        <li class="said-banner-ring">3</li>
    </ul>
    <a href="javascript:;" class="banner-arrow arrow-left"></a>
    <a href="javascript:;" class="banner-arrow arrow-right"></a>
</div>
<section id="content">
    <div class="said-content">
        <div class="said-module">
            <div class="module-title">
                <h1>博客精选</h1>
                <p><i class="fa fa-quote-left"></i>泡上咖啡，我们用舒服的方式聊聊技术<i class="fa fa-quote-right"></i></p>
                <a href="javascript:;" class="module-more-link icon-coffee">查看更多精彩技术文章</a>
            </div>
            <ul class="module-content afterClear">
                <li class="blog-item">
                    <div class="module-img-con" style="background-image: url(/resource/sys/images/TuscanyItaly1.jpg);">
                        <div class="module-mask">
                            <div class="module-summary">
                                <p>突然想要走一段陌生的路，让自己无谓一点。 </p>
                                <p>外面突然下起了雨，偶尔让晚九点的天空白了一瞬。就好像天公懂的作美，陪衬着你的心情，加一杯调料。 </p>
                                <p>突然很安静，就好像世界空了一点点，灯已经关上，夜已经沉重。 </p>
                                <p>不由自主的学会疗伤，从一个未知点开始，不由自主的，也许是从一个闪电，就如灵感一般把控不住的。这是王者的法则？还是弱者的悲情？ 突然想单曲循环一首歌，让心跳不会去选择沉闷。 从一个初夏循环到一个雪落，也许需要一点漫长的东西酝酿一种感觉，否则就没有起伏让自己懂的</p>
                            </div>
                        </div>
                    </div>
                    <div class="module-info">
                        <h2><a href="javascript:;" class="module-item-title said-ellipsis" title="世界很大，风住过这里，这个标题很长，测试一下看看行不行">世界很大，风住过这里，这个标题很长，测试一下看看行不行</a></h2>
                        <time class="blog-date">2015-05-20 星期一</time>
                    </div>
                </li>
                <li class="blog-item">
                    <div class="module-img-con" style="background-image: url(/resource/sys/images/20150514110936.jpg);">
                        <div class="module-mask">
                            <div class="module-summary">
                                <p>我知道终有一日一场遇见可以打破这种黑色的格局，一如厌闷的夏日之后就是一个短暂的秋，煎熬着自己，忍受着一路的孤寂，也许是时间学会了迟到，也许是天边尚未划开鱼肚白，也许还有很多很多也许。但我想，下一个季节，短暂却又不会让人失望，美丽的让人沉沦，打破着你所见到的，穿透你的胸膛。</p>
                                <p>然后，我遇见了你。</p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-info">
                        <h2><a title="世界很大，风住过这里" href="javascript:;" class="module-item-title said-ellipsis">遇见</a></h2>
                        <time class="blog-date">2015-05-20  星期一</time>
                    </div>
                </li>
                <li class="blog-item">
                    <div class="module-img-con" style="background-image: url(/resource/sys/images/TuscanyItaly.jpg);">
                        <div class="module-mask">
                            <div class="module-summary">
                                <p>在一段不算明媚的日子里，黄叶随风而舞，捎来了秋日即将来劲的口信。我不明白自己为何如何如此期怀这样一个秋，或许是秋日寄托了太多儿时的情感，在家乡那个古老的院墙上吹拂着放纵而无邪的青春，那时候漫天飞舞的黄叶注定了一种难以释怀的情结。</p>
                                <p>秋之美丽在于流逝——所有的美丽，源于流逝。</p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-info">
                        <h2><a href="javascript:;" class="module-item-title said-ellipsis" title="世界很大，风住过这里，也看下这个标题，貌似可以呢">雪终 </a></h2>
                        <time class="blog-date">2015-05-20 星期一</time>
                    </div>
                </li>
            </ul>
        </div>
        <div class="said-module">
            <div class="module-title">
                <h1>听说</h1>
                <p><i class="fa fa-quote-left"></i>让思想安静片刻，让耳朵沉沦音乐<i class="fa fa-quote-right"></i></p>
                <a href="javascript:;" class="module-more-link icon-coffee">查看更多听说</a>
            </div>
            <div class="module-content afterClear">
                <div class="said-main">
                    <a class="said-main-img" href="javascript:;" style="background-image: url(/resource/sys/images/1164878.jpg);">
                        <div class="module-mask">
                            <div class="said-main-context">
                                <h2 class="said-main-title">世界很大，风住过这里</h2>
                                <div class="said-main-summary">
                                    <p>在一段不算明媚的日子里，黄叶随风而舞，捎来了秋日即将来劲的口信。我不明白自己为何如何如此期怀这样一个秋，或许是秋日寄托了太多儿时的情感，在家乡那个古老的院墙上吹拂着放纵而无邪的青春，那时候漫天飞舞的黄叶注定了一种难以释怀的情结。</p>
                                    <p>秋之美丽在于流逝——所有的美丽，源于流逝。</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <ul>
                    <li class="said-item">
                        <div class="module-img-con said-img" style="background-image: url(/resource/sys/images/TuscanyItaly1.jpg);">
                            <div class="module-mask">
                                <div class="module-summary">
                                    <p>在一段不算明媚的日子里，黄叶随风而舞，捎来了秋日即将来劲的口信。我不明白自己为何如何如此期怀这样一个秋，或许是秋日寄托了太多儿时的情感，在家乡那个古老的院墙上吹拂着放纵而无邪的青春，那时候漫天飞舞的黄叶注定了一种难以释怀的情结。</p>
                                    <p>秋之美丽在于流逝——所有的美丽，源于流逝。</p>
                                </div>
                            </div>
                        </div>
                        <div class="said-music">
                            <div class="music-img">
                                <div class="music-ring"></div>
                                <img title="paramore" alt="test" src="/resource/sys/images/28576941_1391673826_ncZU.jpg" />
                            </div>
                            <div class="music-info">
                                <h2><a href="javascript:;" class="module-item-title said-ellipsis" title="世界很大，风住过这里，这个标题很长，测试一下看看行不行">世界很大，风住过这里，这个标题很长，测试一下看看行不行</a></h2>
                                <h4 title="千里之外 - 周杰伦" class="music-artist said-ellipsis">千里之外 - 周杰伦</h4>
                                <time class="said-date">2015-05-20 星期一</time>
                            </div>
                        </div>
                    </li>
                    <li class="said-item">
                        <div class="module-img-con said-img" style="background-image: url(/resource/sys/images/0150427135119.jpg);">
                            <div class="module-mask">
                                <div class="module-summary">
                                    <p>突然想要走一段陌生的路，让自己无谓一点。 </p>
                                    <p>外面突然下起了雨，偶尔让晚九点的天空白了一瞬。就好像天公懂的作美，陪衬着你的心情，加一杯调料。 </p>
                                    <p>突然很安静，就好像世界空了一点点，灯已经关上，夜已经沉重。 </p>
                                    <p>不由自主的学会疗伤，从一个未知点开始，不由自主的，也许是从一个闪电，就如灵感一般把控不住的。这是王者的法则？还是弱者的悲情？ 突然想单曲循环一首歌，让心跳不会去选择沉闷。 从一个初夏循环到一个雪落，也许需要一点漫长的东西酝酿一种感觉，否则就没有起伏让自己懂的</p>
                                </div>
                            </div>
                        </div>
                        <div class="said-music">
                            <div class="music-img">
                                <div class="music-ring"></div>
                                <img title="paramore" alt="test" src="/resource/sys/images/8f366562-afce-4f15-baf3-3bccdcf51aa6.jpg" />
                            </div>
                            <div class="music-info">
                                <h2><a href="javascript:;" class="module-item-title said-ellipsis" title="风住过的地方">风住过的地方</a></h2>
                                <h4 title="Where We Are - Westlife" class="music-artist said-ellipsis">Where We Are - Westlife</h4>
                                <time class="said-date">2015-05-21 星期四</time>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="said-module">
            <div class="module-title">
                <h1>实验室</h1>
                <p><i class="fa fa-quote-left"></i>用工匠的心，锤炼卓越的作品，心怀信仰，所以天马星空<i class="fa fa-quote-right"></i></p>
                <p>敬请期待</p>
                <!--首页的实验室模块，设计就用mac截图自己的实验室作品挂上来就可以了，hiahia-->
                <!--<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f4610122065c687be0a214cfb249a75e0a43d9d5c65a71277ba4aff03b25e9c6" class="module-more-link icon-coffee">点击加入QQ群</a>-->
            </div>
        </div>
    </div>
</section>
