header#header
  #nav-logo
    a.logo(title='听说', href='/')
  nav#nav
    ul#nav-menu
      each o, i in [ { name: '首页', link: '/' }, { name: 'blog', link: '/blog' }, { name: '听说', link: '/said' }, { name: '关于', link: '/about' }]
        li(class= (pageIndex ? i == pageIndex : i == 0) ? 'nav-active': '')
          a(href=o.link)= o.name
    span.line(style=`left:${61.6 * (pageIndex || 0)}px`)