header#header
  a.logo(href='/').link
  a.nav-btn#nav-btn(href='javascript:;')
    span.l-top
    span.l-bottom
    span.m-left
    span.m-right
section.nav-mask#nav-mask(style='display:none;')
  .nav-animate-box
    i.bg.top
    i.bg.middle
    i.bg.bottom
    nav.menu-box
      .menu
        a(href='/') 听说
        a(href='/blog') blog
        a(href='/about') 关于
        a(href='https://weibo.com/silin6', target='_blank') @为你聚焦半世纪
        a.by 听说 - linkfly
  

