doctype html
html
  head
    meta(http-equiv='description', content='听说-linkFly的博客')
    meta(name='author', content='linkFly')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='keywords', content='linkfly,said,听说,blog,博客,技术,nodejs,前端,javascript,web')
    //- meta(name='theme-color' content='#4DA5F4')
    //- meta(name='csrf-token', content=_csrf)
    block meta
    title #{title} - 世界很大，风住过这里
    link(rel='shortcut icon', href='//static.tasaid.com/images/said/favicon.ico', type='image/x-icon')
    link(rel='icon', href='//static.tasaid.com/images/said/favicon.ico', type='image/x-icon')
    link(rel='bookmark', href='//static.tasaid.com/images/said/favicon.ico')
    link(rel='stylesheet', href='//at.alicdn.com/t/font_566817_xt1grr1jmnpqr529.css')
    link(rel='stylesheet', href='/static/css/main.css')
    //- 参见：https://tech.youzan.com/dns-prefetching/
    //- link(rel='dns-prefetch', href='//static.tasaid.com')
    block head
  body
    if (override !== true)
      .container
        include header.pug
        block content
      include footer.pug
    else
      block content
    //- cnzz 统计
    span#cnzz_stat_icon_1260021113.fuck-cnzz
    script(src='//s95.cnzz.com/z_stat.php?id=1260021113', type='text/javascript')
    script(src='//static.tasaid.com/js/lib/jquery-3.3.1.min.js')
    script(src='/static/js/main.js')
    block script
