@{
    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    IList<string> BTag = ViewData["BTag"] as List<string>;
    string BImg = (string)ViewData["BImg"];
    string BTitle = (string)ViewData["BTitle"];
    string BHTML = (string)ViewData["BHTML"];
    string ClassifyId = (string)ViewData["ClassifyId"];
}
<div class="said-background" style="background-image: url(/Content/Images/bg/Siad-Code底板.png)">
    <div class="said-banner-bar">
        <ul class="said-banner">
            <li class="said-banner-item said-banner-white">
                <h3 class="banner-title">Write the code，Change the world</h3>
            </li>
        </ul>
    </div>
</div>
<section id="content">
    @*<div class="content-bg">
            <div class="content-bg-img" style="background-image:url(/Content/Images/bg/Siad-Code底板.png)"></div>
        </div>*@
    <section class="center afterClear" id="blog-main">
        <div class="b-null-block"></div>
        <div class="b-m">
            <h1 class="blog-title">@BTitle</h1>
            <article class="blog-article">
                <div class="html">
                    <section class="blog-content">
                        <div class="html">
                            @(new HtmlString(BHTML))
                        </div>
                    </section>
                    <div class="l-author">
                        <div>作者：linkFly</div>
                        <div>原文：<a href="http://www.cnblogs.com/silin6/p/4288967.html">http://www.cnblogs.com/silin6/p/4288967.html</a></div>
                        <div>出处：<a href="http://www.cnblogs.com/silin6/">www.cnblogs.com/silin6/</a></div>
                        <div>声明：嘿！你都拷走上面那么一大段了，我觉得你应该也不介意顺便拷走这一小段，希望你能够在每一次的引用中都保留这一段声明，尊重作者的辛勤劳动成果，本文与博客园共享。</div>
                    </div>
                </div>
            </article>
            <section class="blog-more-info">
                <div class="blog-more-head">
                    <div class="blog-comment-txt">
                        <span>评论(0)</span>
                    </div>
                    <ul class="blog-info afterClear">
                        <li class="bi-l">
                            <a class="licenses licenses-cc" target="_blank" href="/Home/Cl?url=http%3A%2F%2Fcreativecommons.org%2Flicenses%2Fby%2F3.0%2Fcn%2F&amp;sgs=s-licenses" title="本文采用创作共用署名3.0中国大陆版许可证（Creative Commons Attribution 3.0 China Mainland License）授权">CC BY 3.0 CN</a>
                        </li>
                        <li title="浏览"><a href="javascript:;" class="oprater"><i class="fa fa-eye"></i><span>15</span></a></li>
                        <li title="like"><a href="javascript:;" class="oprater active"><i class="fa fa-heart"></i><span>12</span></a></li>
                        <li><a href="javascript:;" class="blog-info-more">查看更多我的文章</a></li>
                        <li class="blog-info-date"><time>2014/10/08 00:21:51</time></li>
                    </ul>
                </div>
                <div class="blog-more-comment">
                    <div class="blog-comment-content">
                        <div class="blog-comment-bar">
                            <form action="/" class="comment-form">
                                <ul class="blog-comment-info" style="">
                                    <li>
                                        <input placeholder="名称" class="form-control" />
                                    </li>
                                    <li>
                                        <input type="email" placeholder="Email" class="form-control" />
                                    </li>
                                    <li>
                                        <input type="url" placeholder="您的站点" class="form-control" />
                                    </li>
                                    <li>
                                        <input type="checkbox" id="comment-cookie" checked="checked" /><label for="comment-cookie">下次自动填写</label>
                                    </li>
                                </ul>
                                <div class="comment-bar">
                                    <textarea name="comment" class="form-control cmt-context" id="comment-context" placeholder="名称和Email（不会公开）必填，保存信息会保存这些信息，下次自动填充"></textarea>
                                    <div class="comment-more-bar">
                                        <div class="comment-more-bg">
                                            <ul style="" class="loading-line">
                                                <li class="loading-dot">1</li>
                                                <li class="loading-dot">2</li>
                                                <li class="loading-dot">3</li>
                                                <li class="loading-dot">4</li>
                                                <li class="loading-dot">5</li>
                                            </ul>
                                        </div>
                                        <input type="button" class="said-btn ct-submit said-btn-default" id="comment-submit" value="提交评论" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="blog-comment-context">
                            <ul class="comment-list">
                                <li class="comment-item">
                                    <div class="ctitem-content">
                                        <div class="ct-top said-ellipsis">
                                            <a href="javascript:;" class="ct-name" target="_blank" title="查看ta的站点">linkFly</a>
                                        </div>
                                        <div class="ct-context">
                                            <p>重构是在不改变程序行为的基础上进行小的改动，是代码逐渐改善的过程。移除长期累积下来的烂码，以得到更清晰和更容易维护，除错以及添加新功能的代码，这做法不能单纯只出现在编码的后期，甚至是你意识到你的代码已经无从再下手非重写不可的时候，而是从开始开发起，逐渐积累，逐渐修改。以前因为日常编码的随意性，导致问题日益积累，逐步扩散，最后只能推倒重来。如果时间经受不起推倒重来，你别无选择，唯一实现的选择就是重构。</p>
                                        </div>

                                        <div class="ct-footer">
                                            <span class="ct-num">#1</span>
                                            <time class="ct-time">2小时前</time>
                                            <a href="javascript:;" class="ct-reply">回复</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-item">
                                    <div class="ctitem-content">
                                        <div class="ct-top said-ellipsis">
                                            <a href="javascript:;" class="ct-name" style="display: none;">linkFly</a>
                                            <span class="ct-name ">linkFly</span>
                                        </div>
                                        <p class="ct-context wordbreak">linkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFly</p>
                                        <div class="ct-footer">
                                            <span class="ct-num">#2 </span>
                                            <time class="ct-time">昨天</time>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-item">
                                    <div class="ctitem-content">
                                        <div class="ct-top said-ellipsis">
                                            <a href="javascript:;" class="ct-name" style="display: none;" target="_blank" title="查看ta的站点">linkFly</a>
                                            <a class="ct-name " href="/">linkFly</a>
                                        </div>
                                        <p class="ct-context wordbreak">重构是在不改变程序行为的基础上进行小的改动，是代码逐渐改善的过程。移除长期累积下来的烂码，以得到更清晰和更容易维护，除错以及添加新功能的代码，这做法不能单纯只出现在编码的后期，甚至是你意识到你的代码已经无从再下手非重写不可的时候，而是从开始开发起，逐渐积累，逐渐修改。以前因为日常编码的随意性，导致问题日益积累，逐步扩散，最后只能推倒重来。如果时间经受不起推倒重来，你别无选择，唯一实现的选择就是重构。</p>
                                        <div class="ct-footer">
                                            <span class="ct-num">#3</span>
                                            <time class="ct-time">昨天</time>
                                            <a href="javascript:;" class="ct-reply"><i class="fa fa-comments" aria-hidden="true"></i>回复</a>
                                        </div>
                                        <!--二级评论-->
                                        <div class="comment-reply">
                                            <div class="arrow-border cr-arrow">
                                            </div>
                                            <ul class="cr-container">
                                                <li class="cr-item">
                                                    <div class="cr-content">
                                                        <div class="ct-top said-ellipsis">
                                                            <a href="/" class="ct-name " target="_blank" title="查看ta的站点">风住过的地方</a>
                                                        </div>
                                                        <p class="cr-context wordbreak">重构是在不改变程序行为的基础上进行小的改动，是代码逐渐改善的过程。移除长期累积下来的烂码，以得到更清晰和更容易维护，除错以及添加新功能的代码，这做法不能单纯只出现在编码的后期，甚至是你意识到你的代码已经无从再下手非重写不可的时候，而是从开始开发起，逐渐积累，逐渐修改。以前因为日常编码的随意性，导致问题日益积累，逐步扩散，最后只能推倒重来。如果时间经受不起推倒重来，你别无选择，唯一实现的选择就是重构。</p>
                                                        <div class="cr-footer">
                                                            <time class="cr-time">昨天</time>
                                                            <a class="cr-reply" href="javascript:;"><i class="fa fa-comments" aria-hidden="true"></i>回复</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="cr-item">
                                                    <div class="cr-content">
                                                        <div class="ct-top said-ellipsis">
                                                            <span class="ct-name ">linkFly</span>&nbsp;&nbsp;回复&nbsp;&nbsp;<a style="" class="ct-name" href="javascript:;">风住过的地方</a>

                                                        </div>
                                                        <p class="cr-context wordbreak">linkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFly</p>
                                                        <div class="cr-footer">
                                                            <time class="cr-time">昨天</time>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-item">
                                    <div class="ctitem-content">
                                        <div class="ct-top said-ellipsis">
                                            <a href="javascript:;" class="ct-name" target="_blank" title="查看ta的站点">linkFly</a>
                                        </div>
                                        <p class="ct-context wordbreak">重构是在不改变程序行为的基础上进行小的改动，是代码逐渐改善的过程。移除长期累积下来的烂码，以得到更清晰和更容易维护，除错以及添加新功能的代码，这做法不能单纯只出现在编码的后期，甚至是你意识到你的代码已经无从再下手非重写不可的时候，而是从开始开发起，逐渐积累，逐渐修改。以前因为日常编码的随意性，导致问题日益积累，逐步扩散，最后只能推倒重来。如果时间经受不起推倒重来，你别无选择，唯一实现的选择就是重构。</p>
                                        <div class="ct-footer">
                                            <span class="ct-num">#1</span>
                                            <time class="ct-time">2小时前</time>
                                            <a href="javascript:;" class="ct-reply"><i class="fa fa-comments" aria-hidden="true"></i>回复</a>
                                        </div>
                                        <!--回复评论-->
                                        <div class="comment-reply">
                                            <div class="arrow-border rc-arrow">
                                            </div>
                                            <div class="reply-bar">
                                                <form action="/" class="comment-form" name="reply-form">
                                                    <ul class="blog-comment-info" style="">
                                                        <li>
                                                            <input placeholder="名称" name="reply-name" class="form-control" disabled />
                                                        </li>
                                                        <li>
                                                            <input type="email" placeholder="Email" name="reply-email" class="form-control" disabled />
                                                        </li>
                                                        <li>
                                                            <input type="url" placeholder="您的站点" name="reply-site" class="form-control" disabled />
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="Checkbox1" disabled /><label for="Checkbox1">下次自动填写</label>
                                                        </li>
                                                    </ul>
                                                    <div class="comment-bar">
                                                        <textarea name="comment" id="reply-context" class="form-control cmt-context" placeholder="名称和Email（不会公开）必填，保存信息会保存这些信息，下次自动填充" disabled></textarea>
                                                        <div class="comment-more-bar">
                                                            <div class="comment-more-bg">
                                                                <ul style="" class="loading-line">
                                                                    <li class="loading-dot">1</li>
                                                                    <li class="loading-dot">2</li>
                                                                    <li class="loading-dot">3</li>
                                                                    <li class="loading-dot">4</li>
                                                                    <li class="loading-dot">5</li>
                                                                </ul>
                                                            </div>
                                                            <button class="said-btn ct-submit said-btn-default" id="reply-submit" disabled><i class="fa fa-refresh fa-spin fa-fw"></i>&nbsp;提交评论</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-item">
                                    <div class="ctitem-content">
                                        <div class="ct-top said-ellipsis">
                                            <a href="javascript:;" class="ct-name" style="display: none;" target="_blank" title="查看ta的站点">linkFly</a>
                                            <a class="ct-name " href="/">linkFly</a>
                                        </div>
                                        <p class="ct-context wordbreak">重构是在不改变程序行为的基础上进行小的改动，是代码逐渐改善的过程。移除长期累积下来的烂码，以得到更清晰和更容易维护，除错以及添加新功能的代码，这做法不能单纯只出现在编码的后期，甚至是你意识到你的代码已经无从再下手非重写不可的时候，而是从开始开发起，逐渐积累，逐渐修改。以前因为日常编码的随意性，导致问题日益积累，逐步扩散，最后只能推倒重来。如果时间经受不起推倒重来，你别无选择，唯一实现的选择就是重构。</p>
                                        <div class="ct-footer">
                                            <span class="ct-num">#3</span>
                                            <time class="ct-time">昨天</time>
                                            <a href="javascript:;" class="ct-reply">回复</a>
                                        </div>
                                        <!--二级评论-->
                                        <div class="comment-reply">
                                            <div class="arrow-border rc-arrow">
                                            </div>
                                            <div class="reply-bar">
                                                <form action="/" class="comment-form" name="reply-form">
                                                    <ul class="blog-comment-info" style="">
                                                        <li>
                                                            <input placeholder="名称" name="reply-name" class="form-control" />
                                                        </li>
                                                        <li>
                                                            <input type="email" placeholder="Email" name="reply-email" class="form-control" />
                                                        </li>
                                                        <li>
                                                            <input type="url" placeholder="您的站点" name="reply-site" class="form-control" />
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="Checkbox2" /><label for="comment-cookie">下次自动填写</label>
                                                        </li>
                                                    </ul>
                                                    <div class="comment-bar">
                                                        <textarea name="comment" id="child-submit" class="form-control cmt-context" placeholder="名称和Email（不会公开）必填，保存信息会保存这些信息，下次自动填充"></textarea>
                                                        <div class="comment-more-bar">
                                                            <div class="comment-more-bg">
                                                                <ul style="" class="loading-line">
                                                                    <li class="loading-dot">1</li>
                                                                    <li class="loading-dot">2</li>
                                                                    <li class="loading-dot">3</li>
                                                                    <li class="loading-dot">4</li>
                                                                    <li class="loading-dot">5</li>
                                                                </ul>
                                                            </div>
                                                            <span></span>
                                                            <input type="button" class="said-btn ct-submit said-btn-default" id="Submit1" value="提交评论" />
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <ul class="cr-container">
                                                <li class="cr-item">
                                                    <div class="cr-content">
                                                        <div class="ct-top said-ellipsis">
                                                            <a href="/" class="ct-name " target="_blank" title="查看ta的站点">风住过的地方</a>
                                                        </div>
                                                        <p class="cr-context wordbreak">重构是在不改变程序行为的基础上进行小的改动，是代码逐渐改善的过程。移除长期累积下来的烂码，以得到更清晰和更容易维护，除错以及添加新功能的代码，这做法不能单纯只出现在编码的后期，甚至是你意识到你的代码已经无从再下手非重写不可的时候，而是从开始开发起，逐渐积累，逐渐修改。以前因为日常编码的随意性，导致问题日益积累，逐步扩散，最后只能推倒重来。如果时间经受不起推倒重来，你别无选择，唯一实现的选择就是重构。</p>
                                                        <div class="cr-footer">
                                                            <time class="cr-time">昨天</time>
                                                            <a class="cr-reply" href="javascript:;">回复</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="cr-item">
                                                    <div class="cr-content">
                                                        <div class="ct-top said-ellipsis">
                                                            <span class="ct-name ">linkFly</span>&nbsp;&nbsp;回复&nbsp;&nbsp;<a style="" class="ct-name" href="javascript:;">风住过的地方</a>

                                                        </div>
                                                        <p class="cr-context wordbreak">linkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFlylinkFly</p>
                                                        <div class="cr-footer">
                                                            <time class="cr-time">昨天</time>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="b-n">
            <nav id="a-nav" class="nav">
                <!--fixed-->
                <div class="nav-title">目录</div>
                <div class="an-c">
                    <div class="nav-bg">&nbsp;</div>
                    <div class="an-body">
                        <ul class="anb-box">
                            <li class="active"><a href="#articleHeader0">Promise应对的问题</a></li>
                            <li><a href="#articleHeader1">Promise的解决</a></li>
                            <li><a href="#articleHeader2">ECMAScript 6 Promise</a></li>
                            <li style="list-style:none;">
                                <ul>
                                    <li><a href="#articleHeader3">Promise.prototype.then</a></li>
                                    <li><a href="#articleHeader3">Promise.constructor</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#articleHeader4">参考和引用</a>
                            </li>
                            <li><a href="#articleHeader5">Promise/A+规范</a></li>
                            <li><a href="#articleHeader6">ECMAScript 6 入门 - Promise对象</a></li>
                            <li><a href="#articleHeader7">Promise启示录</a></li>
                        </ul>
                    </div>
                </div>

            </nav>

        </div>


    </section>
</section>

@section Css{
    <link href="@Url.Content("~/Content/Style/blog.css?v=1.2")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Widget/highlight/github.css?v=1.2")" rel="stylesheet" />
}

@section FootJs{
    <script>
        $(function () {
            var $nav = $('#a-nav'),
                $main = $('#blog-main'),
                mainTop = $main.offset().top,
                windowHeight = window.innerHeight;
            $(window).on('scroll', function () {
                if (window.scrollY > mainTop) {
                    $nav.addClass('fixed');
                } else
                    $nav.removeClass('fixed');
            });
        });

    </script>
}