body {
    background-color: #f6f6f1;

    &.lock {
        overflow: hidden;
        padding-right: 17px;

        #footer {
            //把底部右侧也给填充，因为有背景色
            border-right: 17px solid #fafafa;
        }
    }

    #previewImg {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.5);
        z-index: 1000;
        text-align: center;
        overflow: hidden;
        display: none;

        .pre-box {
            vertical-align: middle;
            padding: 20px;
            width: 100%;
            height: 100%;

            img {
                max-width: 100%;
                max-height: 90%;
                overflow: hidden;
                margin: 0 auto;
                background-color: #fafafa;
            }

            a:visited {
                color: inherit;
            }

            .btn-box {
                text-align: center;
                padding-top: 10px;
            }
        }
    }


    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

        &:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        }

        &::-moz-placeholder {
            color: #999;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: #999;
        }

        &::-webkit-input-placeholder {
            color: #999;
        }
    }



    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }
}

.said-banner-bar {
    padding-top: 210px;
}

#content {
    overflow: hidden;
}

.center {
    position: relative;
    //左边
    .b-null-block {
        float: left;
        width: 50%;
        height: 1px;
        margin-left: -450px;
    }
    //中间正文
    .b-m {
        width: 900px;
        float: left;
    }
    //右侧导航
    .b-n {
        padding-left: 40px;
        float: right;
        margin-right: -450px;
        width: 50%;
        position: relative;
    }

    a {
        color: #4078c0;
        /*&:hover, &:active {
            text-decoration: underline;
        }*/
    }
}

.nav {
    width: 255px;
    overflow: hidden;
    /*transition: all .2s ease;*/
    /*max-width: 255px;*/
    position: absolute;
    z-index: 4;
    background-color: #fff;

    &.fixed {
        position: fixed;
        top: 10px;
    }

    .nav-title {
        padding: 10px 0 14px 14px;
        font-size: 16px;
    }

    .nav-bg {
        position: absolute;
        display: block;
        width: 100%;
        line-height: 2;
        background-color: #f3f3f3;
        border-left: 3px solid #649adf;
        z-index: 1;
        top: 0;
        left: 0;
        -moz-transition: height linear .3s,top linear .3s;
        -o-transition: height linear .3s,top linear .3s;
        -webkit-transition: height linear .3s,top linear .3s;
        transition: height linear .3s,top linear .3s;
    }

    .an-c {
        position: relative;
    }

    .an-body {
        padding: 0;
        border-left: 3px solid #EEE;

        ul {
            padding-left: 2em;
        }
    }

    .anb-box {
        position: relative;
        z-index: 6;


        li {
            line-height: 2;
            /*padding-left: 1em;*/
            list-style: disc;
        }

        a {
            display: block;
            color: #649adf;
        }
    }
}


.blog-article {
    position: relative;

    a {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            display: block;
            bottom: -5px;
            width: 100%;
            height: 1px;
            background-color: currentColor;
            transform: scale(0);
            transition: transform 0.5s;
            -webkit-transform: scale(0);
            -webkit-transition: transform 0.5s;
        }

        &:hover::after {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
}

.html {
    font: 200 18px/2 STHeiti,"Lantinghei SC","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}


.content-bg {
    border-bottom: 1px solid white;
    position: absolute;
    top: 78px;
    left: 0;
    height: 600px;
    width: 100%;
    overflow: hidden;

    .content-bg-img {
        width: 100%;
        height: 680px;
        background: #fafafa no-repeat;
        position: relative;
        left: 0;
        transition: left 10s linear 0s;
        background-size: cover;
        background-position: center bottom;
    }
}

.blog-title {
    font-size: 2.1em;
    padding: 0 15px 0 0;
    //font: 2.4em "proxima-nova",微软雅黑,Tahoma,Helvetica,"Lucida Grande",Georgia,Verdana;
    line-height: 2em;
    border-bottom: 1px dashed #CCC;
    color: #666;
    font-weight: 300;
}



.blog-content {
    padding: 40px 0 20px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    //font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    .highlight-source {
        margin-bottom: 16px;
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        background-color: #f7f7f7;
        border-radius: 3px;
        // chrome 代码中，横向滚动条重写
        &::-webkit-scrollbar {
            height: 10px;
        }

        &::-webkit-scrollbar-thumb:horizontal {
            background-color: #CCCCCC;
            border-radius: 6px;
            opacity: .1;
        }

        &::-webkit-scrollbar-thumb:horizontal:hover {
            opacity: .1;
        }

        code {
            line-height: 1.6;
            font-size: 16px;
            margin: 1em 0px 1em;
            background-color: #f7f7f7;
            padding: 0;
        }
    }

    img {
        max-width: 100%;
        display: block;
        /*margin: 0 auto;*/
        cursor: pointer;
    }

    code {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        padding: .2em .3em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(0,0,0,0.04);
        border-radius: 3px;
    }


    table {
        width: 100%;
        background: #FFF;
        margin: 1em 0;
        border: 1px solid rgba(34,36,38,.15);
        box-shadow: none;
        border-radius: .28571429rem;
        text-align: left;
        color: rgba(0,0,0,.87);
        border-collapse: separate;
        border-spacing: 0;

        thead tr:first-child > th:first-child {
            border-radius: .28571429rem 0 0;
            border-left: none;
        }

        thead tr:first-child > th:last-child {
            border-radius: 0 .28571429rem 0 0;
        }

        tbody tr > td:first-child {
            border-left: none;
        }

        tbody tr:first-child > td {
            border-top: none;
        }

        th {
            padding: .3em 1em;
            background: #F9FAFB;
            text-align: inherit;
            color: rgba(0,0,0,.87);
            vertical-align: inherit;
            font-weight: 700;
            border-bottom: 1px solid rgba(34,36,38,.1);
            border-left: 1px solid rgba(34,36,38,.1);
        }

        td {
            padding: .5em 1em;
            border-left: 1px solid rgba(34,36,38,.1);
            border-top: 1px solid rgba(34,36,38,.1);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 2em;
        margin-bottom: 16px;
        /*font-weight: bold;*/
        line-height: 1.4;
        /*font-weight: normal;*/
        .hash {
            font-size: 20px;
            float: left;
            margin-left: -24px;
            color: #8b8b8b;
            visibility: hidden;
            padding-right: 5px;
            /*-moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);*/
            margin-right: 0;
            line-height: 1em;

            &::after {
                display: none;
            }

            &:hover {
                text-decoration: none;
            }
        }

        &:hover {
            .hash {
                visibility: visible;
            }
        }
    }

    hr {
        margin: 20px 0;
    }

    h1 {
        padding-bottom: 0.3em;
        font-size: 2em;
        line-height: 1.2;
        border-bottom: 1px solid #eee;

        .hash {
            line-height: 2.2em;
        }
    }

    h2 {
        padding-bottom: 0.3em;
        font-size: 1.75em;
        line-height: 1.225;
        border-bottom: 1px solid #eee;

        .hash {
            line-height: 1.9em;
        }
    }

    h3 {
        font-size: 1.5em;
        line-height: 1.43;

        .hash {
            line-height: 1.9em;
        }
    }

    h4 {
        font-size: 1.25em;

        .hash {
            line-height: 1.5em;
        }
    }

    h5 {
        font-size: 1em;

        .hash {
            line-height: 1.4em;
            font-size: 18px;
        }
    }

    h6 {
        font-size: 1em;
        color: #777;

        .hash {
            line-height: 1.5em;
            font-size: 16px;
        }
    }

    blockquote {
        padding: 15px 15px;
        color: #777;
        background-color: #f8f8f8;
        border-left: 4px solid #56a1d6;

        ul, ol {
            margin-bottom: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }


    kbd {
        display: inline-block;
        margin: -3px .1em 0;
        padding: .1em .6em;
        font-size: 11px;
        line-height: 1.4;
        color: #242729;
        text-shadow: 0 1px 0 #FFF;
        background-color: #e1e3e5;
        border: 1px solid #adb3b9;
        font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
        white-space: nowrap;
        vertical-align: middle;
    }

    ul {
        padding-left: 1em;

        li {
            list-style: disc;
            padding: 3px 0;
        }
    }

    ol {
        padding-left: 1em;

        li {
            list-style: decimal;
            padding: 3px 0;
        }
    }


    p, ul, ol, dl, table, pre, blockquote {
        margin-top: 0;
        margin-bottom: 16px;
    }

    p {
        text-align: justify;
        line-height: 1.8;
        /*text-indent: 2em;*/
        /*
        padding: 10px;
        text-align: justify;
        word-wrap: break-word;
        word-break: normal;
        line-height: 30px;
        letter-spacing: 1px;*/
    }
}


//more
.blog-more-info {
    padding: 50px 0;
    position: relative;

    .blog-more-head {
        position: relative;
        bottom: -1px;
        height: 40px;

        .blog-comment-txt {
            height: 40px;
            border: 1px solid #CCC;
            border-radius: 4px 4px 0 0;
            background-color: white;
            border-bottom: 1px solid #FFF;
            text-align: center;
            /*position: relative;*/
            /*left: 100px;*/
            padding: 1px 1px 0 1px;
            display: inline-block;
            float: left;
            margin-left: 55px;

            span {
                color: #999;
                font-size: 22px;
                display: block;
                line-height: 40px;
                height: 40px;
                padding: 0 15px;
                border: none;
                top: 1px;
                left: 1px;
            }
        }
    }

    .oprater {
        color: #b0b0b1;

        span {
            padding-left: 2px;
        }
    }

    .blog-info-like {
        a {
            color: #b0b0b1;

            &:hover {
                color: #dd5862;
            }

            &.likeIt {
                color: #dd5862;
                cursor: default;
            }
        }

        .like-sum {
            padding: 0 5px;
        }
    }


    .blog-info {
        position: absolute;
        right: 10px;
        /*bottom: 5px;*/
        overflow: hidden;
        padding-right: 45px;

        .bi-l {
            padding-right: 15px;
        }

        li {
            display: inline-block;
            color: #999;
            padding-left: 10px;
            vertical-align: middle;

            span {
                background-color: #FFF;
            }
        }

        .blog-info-date {
            padding-left: 10px;

            time {
                background-color: #999;
                border-radius: 18px;
                color: #fff;
                font-size: 13px;
                padding: 3px 12px;
            }
        }
    }

    .blog-more-comment {
        border-top: 1px solid #CCC;
        background-color: white;
        padding-top: 1px;
        padding: 35px 55px;

        .blog-comment-info {
            padding-bottom: 10px;
            overflow: hidden;

            li {
                display: inline-block;
            }
        }

        input[type=checkbox] {
            vertical-align: middle;
            margin-bottom: 0px;
            margin-top: -1px;
            height: 14px;
            width: 14px !important;
        }

        input:focus {
            border-color: #66afe9;
        }
    }


    .blog-comment-bar {
        padding-bottom: 35px;
    }

    .comment-bar {
        width: 100%;

        .cmt-context {
            padding: 10px;
            display: block;
            min-height: 80px;
            width: 100%;
            border-radius: 3px 3px 0 0;
        }
        /*comment*/
        .comment-more-bar {
            position: relative;
        }

        .comment-more-bg {
            height: 36px;
            background-color: #fbfbfb;
            border: 1px solid #CCC;
            border-top: none;
            padding: 0 200px 0 100px;

            .errMsg {
                color: #ff717b;
                height: 100%;
                text-align: center;
                line-height: 34px;
            }
        }

        .ct-submit {
            height: 33px;
            width: 110px;
            cursor: pointer;
            position: absolute;
            right: 2px;
            top: 1px;
        }
    }
    /*comment-context*/
    .blog-comment-context {
        border-top: 1px dashed #CCC;
        padding-top: 10px;

        .comment-item {
            .ct-context {
                padding: 10px 0;

                p {
                    text-align: justify;
                    white-space: pre-wrap;
                    word-break: break-all;
                    word-wrap: break-word;
                }
            }
        }



        .comment-item, .cr-item {
            padding: 15px 0;

            .admin {
                color: #a1a1a1;
                padding-left: 5px;
            }
        }

        .comment-item:last-child .ctitem-content, .cr-item:last-child .cr-content {
            border-bottom: none;
            padding-bottom: 0;
        }

        .ctitem-content, .cr-content {
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 20px;
        }

        .ct-footer, .cr-footer {
            text-align: right;
        }

        .ct-num {
            float: left;
        }

        a.ct-name {
            color: #54a3f3;
        }

        a.ct-name:hover {
            text-decoration: underline;
        }

        a.ct-name:visited {
            color: #c03980;
        }

        .ct-time, .cr-time {
            margin-left: 15px;
        }

        .delete {
            color: #e97070;
        }

        span.ct-name, .ct-time, .ct-num, .cr-time {
            color: #8b8b8b;
        }

        .ct-reply, .cr-reply {
            margin-left: 15px;
            color: #666;
            opacity: 0.65;

            .fa {
                padding-right: 5px;
            }
        }

        .ct-reply:hover, .cr-reply:hover {
            opacity: 1;
        }
        /*comment-reply*/
        .comment-reply {
            margin-top: 5px;
            position: relative;
            background-color: #f9f9f9;
            padding: 0 12px 0 15px;
            border: 1px solid #eee;
            border-radius: 5px;

            .ct-top {
                font-size: inherit;
            }
        }

        .ct-top {
            font-size: 16px;

            &:hover {
                .anchor {
                    visibility: visible;
                }
            }

            .anchor {
                float: left;
                margin-left: -1.3em;
                padding-right: .3em;
                visibility: hidden;

                &.hover {
                    visibility: visible;
                }
            }

            .fa-link {
                color: #b3b2b2;
            }
        }

        .cr-content {
            padding: 0 20px 5px;
        }

        .cr-arrow {
            top: -12px;
            left: 49%;
        }

        .rc-arrow {
            right: 12px;
            top: -12px;
        }
        /*reply-comment*/
        .reply-bar {
            padding: 15px 20px;
        }
        /*footer*/
    }
}

#said-footer {
    padding-bottom: 50px;
    background: #fff;
}
