@mixin prefixer($property,$value) {
    /*公用样式*/
    -webkit-#{$property}: $value; /* Chrome all / Safari all */
    -moz-#{$property}: $value; /* Firefox all */
    -ms-#{$property}: $value; /* IE 10+ */
    -o-#{$property}: $value;
    #{$property}: $value;
}


/*public*/
.banner-arrow, .module-mask, .said-banner-footer, .music-artist {
    transition: opacity 0.3s ease-in-out 0s;
    opacity: 0;
}

.index-background:hover .said-banner-footer, .index-background:hover .banner-arrow {
    opacity: 1;
}
/*arrow*/
.banner-arrow {
    background: url(/Content/Images/ico_sliding.png) no-repeat;
    position: absolute;
    z-index: 4;
    display: block;
    width: 72px;
    height: 72px;
    top: 47%;
}

.index-background {
    overflow: hidden;
    width: 100%;
    height: 700px;
    text-align: center;
    position: relative;
    z-index: 1;

    .index-banner {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .banner-item {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        text-align: center;
        background-position: center bottom;
        background-size: 2110px 800px;
        opacity: 0;
        z-index: 1;

        %whiteColor {
            color: #fff;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        }
        /*&.active {
            opacity: 1;
        }*/
        &.banner-white {
            .banner-title {

                @extend %whiteColor;
            }

            .banner-text {
                @extend %whiteColor;
            }
        }
    }

    .banner-item-box {
        margin: 0 auto;
        padding-top: 180px;
        text-align: center;
        width: 960px;
        height: 380px;
    }

    %defaultsColor {
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
    }

    .banner-content {
        padding: 20px 0;
        background: rgba(0, 0, 0, 0) url("/Content/Images/index_focus_bg.png") repeat-y scroll 180px 0;
    }

    .banner-title {
        font-size: 35px;
        line-height: 80px;
        @extend %defaultsColor;

        img {
            @include prefixer(user-select,none)
        }
    }

    .banner-text {

        @extend %defaultsColor;
    }
}


.arrow-left {
    left: 25px;

    &:hover {
        background-position: 0 -144px;
    }
}

.arrow-right {
    right: 25px;
    background-position: 0 -72px;

    &:hover {
        background-position: 0 -216px;
    }
}


/*ring*/
.said-banner-footer {
    position: relative;
    z-index: 2;
    display: inline-block;
    /*padding-top: 70px;*/
    top: -90px;
    cursor: default;
}

.said-banner-ring {
    display: inline-block;
    width: 13px;
    height: 13px;
    text-indent: -9999px;
    border-radius: 50%;
    margin-left: 8px;
    background-color: #CCC;
    opacity: 0.8;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out 0s;
    cursor: pointer;
}

.said-banner-ring {
    &:first-child {
        margin-left: 0;
    }

    &.active {
        cursor: default;
    }

    &.active, &:hover {
        background-color: #028cd3;
        opacity: 1;
        box-shadow: 0 0px 2px rgba(255, 255, 255, 0.3);
    }
}


.said-content {
    a {
        color: #08c;
        cursor: pointer;
    }
}

.said-module {
    padding: 80px 0 0;

    &:first-child {
        padding: 25px 0;
    }
}

.module-title {
    text-align: center;
    padding: 10px;

    h1 {
        font-size: 35px;
        font-weight: 200;
        letter-spacing: 1px;
        line-height: 1.2;
    }

    .fa-quote-right {
        padding-left: 1em;
    }

    p {
        font-size: 18px;
        line-height: 2;
        padding: 10px;
    }

    .fa-quote-left, .fa-quote-right {
        font-size: 10px;
        vertical-align: middle;
        padding-right: 1em;
        color: #777;
    }
}


/*blog*/
.module-more-link {
    font-family: "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 15px;

    &:hover {
        text-decoration: underline;
    }
}

.module-content {

    .module-mask {
        background: linear-gradient(rgba(61, 61, 61, 0.9), rgba(20, 40, 50, 0.9)) repeat scroll 0 0 #222;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;

        &::after {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    .module-summary {
        color: #fff;
        text-align: justify;
        padding: 10px;
        text-indent: 2em;
        width: 100%;
        margin: auto;
    }

    .module-img-con {
        width: 100%;
        position: relative;
        height: 280px;
        background-size: 547px 300px;
        background-position: 50% 0;
        background-repeat: no-repeat;
    }

    a.module-item-title, .said-main-title {
        font-size: 25px;
        line-height: 2;
        color: #444;
        display: block;
        text-align: center;
    }

    a.module-item-title:hover {
        color: #08c;
    }


    .said-item, .blog-item {
        width: 33.3333%;
        float: left;
        padding: 10px;
        position: relative;
    }
    //Said 列表样式
    .said-item {
        .blog-info {
            text-align: center;
        }

        .blog-date {
            color: #999;
            display: block;
            text-align: center;
        }
    }

    &.blog-content {
        padding-top: 20px;
    }
    //blog列表样式
    .blog-item {
        padding: 15px 20px 10px;

        &:nth-child(2) {
            border-left: 1px solid #f3f3f3;
            border-right: 1px solid #f3f3f3;
        }

        .b-title {
            color: #333;
            font-size: 20px;

            &:visited {
                color: #c03980;
            }

            a:hover {
                color: #057dbb;
                text-decoration: underline;
            }
        }

        .b-summary {
            color: #777;
            padding: 9px 0 5px;
            text-align: justify;
            /*max-height: 109px;*/
            height:109px;
            overflow: hidden;
        }

        .b-footer {
            padding-bottom: 3px;
            color: #999;
            overflow: hidden;

            %blogMoreFont {
                font: 14px/24px "Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif;
            }
            //blog下面的分类
            .b-info {
                vertical-align: middle;
                color: #999;
                font-size: 13px;
                padding-left: 5px;
                transition: color 0.2s ease-in-out 0s;

                &:hover {
                    text-decoration: underline;
                    color: #028cd3;
                }

                .b-cate {
                    @extend %blogMoreFont;
                }
            }

            .b-date {
                float: right;
            }
            //pv量
            .b-pv {
                vertical-align: middle;
                padding-left: 5px;
                cursor: default;

                .pv-txt {
                    @extend %blogMoreFont;
                }
            }
        }
    }
}

.module-content li:hover .module-mask, .said-main-img:hover .module-mask {
    opacity: 0.7;
}
