//%placeholders编译出来的css会进行选择器合并
%itemHeight {
    height: 365px;
}

.fa-heart-o, .fa-heart {
    &:before {
        color: red;
    }
}

.said-content {
    max-width: 1400px;
    min-width: 960px;
}

.said-blog-content, .said-blog-item {
    padding: 10px;
}

.said-blog-content {
    padding-top: 20px;

    &:after {
        display: block;
        content: '';
        float: none !important;
        clear: both;
    }
}

.said-blog {
    margin: 60px auto;
    padding: 3px;
    position: relative;
    background-image: -webkit-linear-gradient(top, #f4f4f4 0%, #ffffff 50%);
    background-image: linear-gradient(to bottom, #f4f4f4 0%, #ffffff 50%);
    background-size: 100% 50%;
    background-repeat: repeat-x;

    &:first-child {
        margin-top: 0;
    }


    &.even {
        .blog-img-content {
            right: 0;
            left: auto;
        }

        .said-blog-context {
            margin-left: auto;
            margin-right: 60%;
        }

        .blog-preview {
            border-left: none;
            border-right: 3px solid #b0d7fe;
            padding-left: initial;
            padding-right: 25px;
        }
        /*如果不调整music位置，注释下面的代码*/
        .blog-music {
            float: right;
            text-align: right;
            overflow: hidden;
        }

        .blog-more-info {
            right: auto;
            left: 0;
        }

        .blog-music-img {
            float: right;
        }

        .blog-music-info {
            padding: 30px 20px 0 0;
        }
    }
}

.blog-img-content {
    position: absolute;
    overflow: hidden;
    width: 60%;
    left: 0;
    top: 0;
    @extend %itemHeight;
}

.blog-img {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1056px 580px;
    position: relative;
    width: 100%;
    @extend %itemHeight;
}

.said-blog-context {
    margin-left: 60%;
    padding: 0 20px 0 40px;
    display: flex;
    @extend %itemHeight;
}

.said-box {
    margin: auto;
}

.blog-title {
    max-height: 101px;
    overflow: hidden;


    a {
        display: block;
        font-size: 35px;
        color: #666;
        line-height: 1.2;
        letter-spacing: 0;
        text-align: center;

        &:hover {
            color: #43b4ef;
        }

        &:visited {
            color: #c03980;
            transition: none;
        }

        &:visited:hover {
            color: #c03980;
            transition: none;
        }
    }
}

.blog-content {
    overflow: hidden;
    position: relative;

    &:hover {
        .blog-img {
            transition: top 0.2s ease-in-out 0s;
        }
    }
}

.blog-summary {
    padding: 12px 0;
    overflow: hidden;
    height: 152px;
}

.blog-preview {
    padding-left: 25px;
    border-left: 3px solid #b0d7fe;
    margin: auto;

    p {
        text-align: justify;
        word-break: break-all;
    }
}

.blog-footer {
    text-align: left;
    overflow: hidden;
    padding-top: 5px;
    position: relative;
}

.blog-music, .blog-music-img, .blog-music-info {
    display: inline-block;
    vertical-align: middle;
}

.blog-music-img {
    padding: 2px;
    border: 1px solid #CCC;
    overflow: hidden;
    border-radius: 50%;
    position: relative;

    img {
        display: block;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}

.music-ring {
    background-color: #fff;
    border-radius: 50%;
    height: 25%;
    left: 38%;
    position: absolute;
    top: 38%;
    width: 25%;
}

.blog-music-info {
    width: 300px;
    padding-left: 20px;

    li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 20px;
    }
}

.blog-music-info {
    li {
        &:first-child {
            color: #65abf1;
        }

        &:last-child {
            color: #CCC;
        }
    }
}

.blog-more-info {
    vertical-align: bottom;
    position: absolute;
    right: 0;
    bottom: 3px;

    time {
        background-color: #999;
        border-radius: 8px;
        color: #fff;
        font-size: 13px;
        padding: 1px 12px;
    }

    span {
        margin-right: 10px;
        padding-left: 18px;
        color: #888;

        i {
            padding: 1px 5px;
            font: 14px/24px "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
        }
    }
}

/*
    #b4c88b
    #0099CC
    #336699
    #339933
    #33CC99
    #666699
    #009999
    #666699
    #FF6666
    #6699CC
    #006699
    #66CC99
    */
.said-theme-card {
    border: 1px solid #FFFFFF;
    padding: 1px;
    transition: box-shadow 0.2s ease-in-out 0s;
    background-color: white;
    background: -moz-linear-gradient(top,#f3f3f3,#FFF);
    background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
    border-bottom-right-radius: 60px 5px;

    &:before {
        content: '';
        width: 98%;
        z-index: -1;
        height: 98%;
        padding: 0 0 1px 0;
        position: absolute;
        bottom: 0;
        right: 0;
        background: -moz-linear-gradient(top,#f3f3f3,#FFF);
        background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#f3f3f3), to(#f6f6f6), color-stop(.1,#fff));
        border: 1px solid #ccc;
        box-shadow: 0px 0px 8px rgba(0,0,0, 0.1);
        border-bottom-right-radius: 60px 5px;
        transform: skew(2deg,1deg) translate(2px,6px);
    }

    &:after {
        content: '';
        z-index: -1;
        width: 60%;
        height: 98%;
        position: absolute;
        bottom: 0;
        right: 0;
        box-shadow: 0px 0px 8px rgba(0,0,0, 0.1);
        transform: skew(6deg,1deg) translate(-14px,1px);
        border: 1px solid #CCC;
    }
}
/*page*/
/*    .said-blog-page a { transition: none!important; }
.page-pre, .page-next { background: url("/Content/Images/icon-common.png") no-repeat scroll -70px -300px rgba(0, 0, 0, 0); color: #7d7d7d; display: inline-block; height: 25px; line-height: 22px; margin-right: 3px; text-indent: 4px; width: 64px;  }
    .page-pre:hover { background-position: -70px -330px; color: #FFF; }
.page-next { background-position: -70px -360px; text-indent: -6px; }
    .page-next:hover { background-position: -70px -390px; color: #FFF; }
.page-index { background-color: #f2f2f2; border-radius: 3px; color: #7d7d7d; display: inline-block; height: 25px; line-height: 25px; margin-right: 5px; min-width: 26px; }
    .page-index:hover { background-color:#fdd9d9; }
span.page-index { background-color: #dd5862; color: #fff; }
.page-disabled, .page-disabled:hover { }*/

