//全局链接和链接hover颜色
$linkColor: #404040;
$linkHoverColor: #e33e06;

/*override*/
#content {
    width: 1000px;
    margin: 0 auto;
    padding: 260px 0 0 0;
}

#nav-flip {
    a {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    }

    .nav-active {
        color: #59c6ff !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    }
}

body, #said-page {
    background-color: #f6f6f1;
}
/*#said-page { background: url(/Content/Images/night-sky.jpg); background-size: cover; }*/

.music-song {
    padding-top: 60px; /*background: #f3f3f3;*/
    background-color: #f6f6f1;
}

.music-song-content {
    height: 128px;
    padding: 10px 20px;
    height: 116px;
    position: relative;
    width: 100%;
}

.music-song-content:after, .music-song-play:after, .music-play-detail:after {
    float: none;
    clear: both;
    content: '';
    display: block;
}

.music-song-img {
    border: 1px solid #FFF;
    background-color: #FAFAFA;
    top: -80px;
    position: relative;
    padding: 1px;

    img {
        width: 200px;
        height: 200px;
        vertical-align: top;
    }
}

.music-song-img, .music-song-play {
    position: absolute;
}

.music-song-info {
    padding: 15px 371px 0 250px;
}

.music-song-name {
    font-size: 14pt;
    font-weight: bold;
    color: #75b4f4;
    /*color:$linkHoverColor;*/
}

.music-song-summary {
    line-height: 25px;
}


.music-song-link {
    color: $linkColor;

    &:visited {
        color: $linkColor;
    }

    &:hover {
        color: $linkHoverColor;
    }
}



/*背景图加载的时候动画偏移到center，keyframes*/
.read-state {
    border-top: 3px solid #2b81f7;
    display: block;
    transition: width 0.2s linear 0s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
/*.music-song-link:visited { color:#c03980; }*/
.music-song-play {
    right: 0;
    top: 0;
    margin: 10px 0;
    padding: 0 10px 0 20px;
    width: 370px;
    height: 100%; /*background: url(/Content/Images/sidebar-bg.jpg) no-repeat; background-size: contain;*/
    border-left: 1px solid #FCFCFC;
}
/*content-bg*/
.content-bg {
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    height: 380px;
    width: 100%;
    overflow: hidden;
}

.content-bg-img {
    width: 100%;
    height: 680px;
    background: url(/Content/Images/bg/said-banner.jpg) no-repeat;
    animation: 20s linear 0s normal none infinite banner-anima;
    position: relative;
    left: 0;
    transition: left 10s linear 0s;
    background-size: cover;
    background-position: center bottom;
}

.music-play-status {
    float: left;
    position: relative;
    top: 45px;

    &:first-child {
        width: 35px;
        top: 40px;
    }

    span {
        font-size: 12px;
    }
}

$playerColor: #c7c7d2;
$playerHoverColor: #97979f;

%playColor {
    color: $playerColor;

    &:hover {
        color: $playerHoverColor;
    }
}

.play-btn {
    /*background: url(/Content/Images/icon-player.png) -50px -170px no-repeat;*/
    height: 50px;
    display: block;
    padding: 7px 0 0 5px;
    transition: none;
    @extend %playColor;
}

.palyer-stop {
    padding: 7px 0 0 5px;
}

.music-play-detail {
    position: relative;
    line-height: 12px;
}

.music-time {
    padding: 0 8px 0 0;
    float: right;
    color: #909090;

    span {
        font-size: 12px;
    }
}

.player-bar {
    padding-left: 8px;
}

$playerBar: #dbdbdb;

.play-volume {
    background-color: #f15656;
    position: absolute;
    bottom: 0;
}

.music-play-progress, .play-progress {
    height: 6px;
    border-radius: 4px;
    /*cursor: pointer;*/
}

.music-play-progress {
    background: $playerBar;
    width: 290px;
    overflow: hidden;
}

.play-progress {
    background-color: #99CCFF;
}
/*blog*/

.music-content {
    padding: 30px 15px 150px;
    background-image: -webkit-linear-gradient(top, #f6f6f1 0%, #fafafa 50%);
    background-image: linear-gradient(to bottom, #f6f6f1 0%, #fafafa 50%);
    background-size: 100%;
    background-repeat: repeat-x;
}
/*.music-content { background: #FCFCFC; background: -moz-linear-gradient(top,#f3f3f3,#FFF); background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1,#fff)); }*/


.blog-title {
    padding: 0 45px;
    font: 2.4em "proxima-nova",微软雅黑,Tahoma,Helvetica,"Lucida Grande",Georgia,Verdana;
    line-height: 2em;
    border-bottom: 1px dashed #CCC;
    color: #666;
}

.blog-content {
    padding: 45px;
    //"Hiragino Sans GB","Microsoft YaHei",helvetica,"WenQuanYi Micro Hei",sans-serif
    font-family: "Microsoft YaHei", 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    /*padding: 10px;*/
    font-size: 16px;
    text-align: justify;
    word-wrap: break-word;
    word-break: normal;
    font-weight: 300;
    color: #333;
    line-height: 1.5em;
    letter-spacing: 1px;
    overflow: hidden;

    p {
        margin: 0 0 20px 0;
    }

    code {
        background-color: #e7f5fa;
        border-radius: 4px;
        color: #000;
        font-size: 90%;
        padding: 2px 6px;
        margin: 0 2px;
    }

    code, kbd, pre, samp {
        font-family: Consolas,Menlo,Monaco,Consolas,"Courier New",monospace;
    }


    blockquote {
        margin: 0 0 25px 0;
        padding: 20px;
        font-weight: 300;
        word-break: break-all;
        border-left: 4px solid #999;
        background-color: #fafafa;

        p {
            margin: 0;
        }
    }
}


/*footer&more*/
.blog-more-info {
    padding: 0 50px 50px;
    position: relative;
    top: -50px;
}

.blog-more-head {
    position: relative;
    bottom: -1px;
    height: 40px;

    .licenses-box {
        position: absolute;
        left: 10px;
        top: 8px;
    }
}

.blog-comment-txt {
    height: 40px;
    border: 1px solid #CCC;
    border-radius: 4px 4px 0 0;
    background-color: white;
    border-bottom: 1px solid #FFF;
    text-align: center;
    position: relative;
    left: 100px;
    padding: 1px 1px 0 1px;
    display: inline-block;

    span {
        color: #999;
        font-size: 22px;
        display: block;
        line-height: 40px;
        height: 40px;
        padding: 0 15px;
        border: none;
        top: 1px;
        left: 1px;
    }
}


.blog-info-like {
    padding-right: 8px;

    a {
        color: #b0b0b1;

        &:hover {
            color: #dd5862;
        }

        &.likeIt {
            color: #dd5862;
            cursor: default;
        }
    }
}

.blog-info-more {
    color: #2b9bd8;

    &:visited {
        color: #2b9bd8;
    }

    &:hover {
        color: $linkHoverColor;
        text-decoration: underline;
    }
}

.blog-info {
    position: absolute;
    right: 10px;
    bottom: 5px;
    overflow: hidden;

    li {
        float: right;
        color: #999;
        padding-left: 25px;

        &:first-child {
            padding-left: 10px;

            time {
                background-color: #999;
                border-radius: 18px;
                color: #fff;
                font-size: 13px;
                padding: 3px 12px;
            }
        }

        .like-sum {
            padding: 0 5px;
        }
    }
}

.blog-more-comment {
    border-top: 1px solid #CCC;
    background-color: white;
    padding-top: 1px;
    padding: 35px 55px;
}

.blog-comment-info {
    padding-bottom: 15px;
    overflow: hidden;

    li {
        display: inline-block;
    }

    input {
        width: 300px;
        border-radius: 3px;
    }

    input[type=checkbox] {
        vertical-align: middle;
        margin-bottom: 0px;
        margin-top: -1px;
        height: 14px;
        width: 14px !important;
    }

    input:focus {
        border-color: #66afe9;
    }
}

.blog-comment-info input, .cmt-context {
    border: 1px solid #CCC;
}

.cmt-context {
    padding: 10px;
    display: block;
    min-height: 80px;
    width: 100%;
    border-radius: 3px 3px 0 0;
    border: 1px solid #CCC;
}

.comment-bar {
    width: 100%;
}

.blog-comment-bar {
    padding-bottom: 35px;
}

.comment-more-bar {
    position: relative;
}
/*comment*/
.comment-more-bg {
    height: 36px;
    background-color: #fbfbfb;
    border: 1px solid #CCC;
    border-top: none;
    padding: 0 200px 0 100px;
}

.submitLock {
    background-color: #75b4f4 !important;
}

.ct-submit {
    height: 33px;
    width: 110px;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 1px;
}

/*comment-context*/
.blog-comment-context {
    border-top: 1px dashed #CCC;
    padding-top: 10px;
}

.ct-context {
    padding: 10px 0;

    p {
        text-align: justify;
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
    }
}

.comment-item, .cr-item {
    padding: 20px 0;
}

.comment-item:last-child .ctitem-content, .cr-item:last-child .cr-content {
    border-bottom: none;
    padding-bottom: 0;
}

.ctitem-content, .cr-content {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}

.ct-footer, .cr-footer {
    text-align: right;
}

.ct-num {
    float: left;
}

a.ct-name {
    color: #54a3f3;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: #c03980;
    }
}

span.ct-name, .ct-time, .ct-num, .cr-time {
    color: #8b8b8b;
}

.ct-name, .cr-name {
    font-size: 18px;
}

.ct-reply, .cr-reply {
    margin-left: 15px;
    color: #666;
    opacity: 0.65;
}

.ct-reply:before, .cr-reply:before {
    background: url("/Content/Images/icon-player.png") no-repeat scroll -50px -60px rgba(0, 0, 0, 0);
    content: '';
    display: inline-block;
    width: 14px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
}

.ct-reply:hover, .cr-reply:hover {
    opacity: 1;
}
/*comment-reply*/
.comment-reply {
    margin-top: 5px;
    position: relative;
    background-color: #f9f9f9;
    padding: 0 12px 0 15px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.cr-content {
    padding: 0 0 5px 25px;
}

.cr-arrow {
    top: -12px;
    left: 49%;
}

.rc-arrow {
    right: 12px;
    top: -12px;
}
/*reply-comment*/
.reply-bar {
    padding: 15px 0;
}

.reply-bar .blog-comment-info input {
    width: 285px;
}

/*footer*/
#said-footer {
    padding-bottom: 40px;
}

@keyframes banner-anima {
    0% {
        transform: translate(0,0);
    }

    50% {
        transform: translate(0,-250px);
    }

    100% {
        transform: translate(0,0);
    }
}
