// 页面右上角菜单展开收起动画

// 菜单蒙版背景色
$color-mask = #292929

.page
  // 展开菜单动画
  &.open
    // 导航箭头展开动画
    #header
      background $color-mask
      .nav-btn
        span
          &.l-top
            left 100%
          &.l-bottom
            left 100%
          &.m-left
            top 23px
            transform rotate(45deg) translateX(0%)
          &.m-right
            bottom 24px
            transform rotate(-45deg) translateX(0%)
            transition-delay 0.1s
    .nav-mask
      display block
      .nav-animate-box
        transition opacity linear .6s
        opacity 1
        .bg
          transition all cubic-bezier(0, 0.19, 0.85, -0.02) 0.5s
          &.top
            transform rotate(45deg) rotateY(0deg)
          &.middle
            transform rotate(45deg) rotateY(0deg)
          &.bottom
            transform rotate(45deg) rotateY(0deg)
        .menu-box
          opacity 1
          .menu
            a
              transform none
              opacity 1
  .nav-mask
    .nav-animate-box
      // background $color-mask
      position fixed
      height 100%
      width 100%
      overflow hidden
      left 0
      top 0
      z-index 100
      opacity 0
      transition opacity linear .6s
      // 导航展开背景
      .bg
        position absolute
        display block
        width 100%
        top -50%
        height 200%
        background-color $color-mask
        transition all ease-in-out 0.5s
        transform rotate(45deg) rotateY(90deg)
        &.top
          left -50%
          top -90%
        &.bottom
          left 90%
          top -30%
      // 菜单列表
      .menu-box
        opacity 0
        transition opacity linear .5s
      .menu
        position absolute
        top 40%
        left 50%
        transform translate(-50%, -50%)
        text-align center
        // 列表项
        $menu-item-padding = .625rem
        a
          display block
          padding $menu-item-padding 0
          transform scale(1.1) translateY(-24px)
          color #fafafa
          text-shadow 1px 1px 1px rgba(0, 0, 0, 0.6)
          opacity 0
          transition opacity .35s ease-out, transform .35s ease-out
          for num in (1..6)
            &:nth-child({num})
              $ms = 700ms + num * 50ms
              transition-delay $ms, $ms
        .by
          display block
          padding $menu-item-padding 0
          color #afafaf
          opacity 0.5