body.body-home-about
  font-code()
    font-family Consolas,Segoe UI Light, Calibri,Lucida Sans Unicode,Verdana,Arial,Helvetica
  .link
    display inline-block
    position relative
    color #6bf
    &::before
      content ''
      display block
      width 100%
      position absolute
      bottom -.1rem
      left 0
      height 1px
      background #6bf
  // background #101010
  background #292929
  // 文字阴影
  .text-shadow
    text-shadow 1px 1px 1px rgba(0,0,0,0.6)
  // ======================================== 通用动画
  // 动画结束
  .animate-fade-in
    opacity 0
    // 动画结束后的状态
    &.animation-complete
      opacity 1
  .animate-fade-up
    opacity 0
    // animation 的元素 transform 默认要设为最终形态，否则 safari/firefox 最后 forwards 动画的时候会按照这个默认值而设，chrome 正常
    transform translateY(0)
    // 动画结束后的状态
    &.animation-complete
      opacity 1
      transform translateY(0)
  .animate-fade-right
    opacity 0
    transform translateX(0)
    &.animation-complete
      opacity 1
      transform translateX(0)
  // 元素滚动到视窗口中会被追加的 class
  .view-show
    // 渐进动画
    .animate-fade-in
      animation animate-fade-in 2s 1s forwards
      @keyframes animate-fade-in
        0%
          opacity 0
        100%
          opacity 1
    // 渐进向上
    .animate-fade-up
      animation animate-fade-up 1s .5s forwards
      @keyframes animate-fade-up
        0%
          opacity 0
          transform translateY(1rem)
          99%
            opacity 1
            transform translateY(0)
          100%
            opacity 1
            transform none
    .animate-fade-right
      animation animate-fade-right 1s forwards
      @keyframes animate-fade-right
        0%
          opacity 0
          transform translateX(-1rem)
          99%
            opacity 1
            transform translateX(0)
          100%
            opacity 1
            transform none
  // ======================================== 通用动画
  .home-about
    background #1a1a1a
    padding-top 1.8rem
    .section-content
      &.inset, .inset
        padding 1rem
      // 顶部 title
      .header
        padding-top 1rem
        // 横线动画
        .line
          .gradient
            background linear-gradient(to right, #00b8ff 0%, #0084ff 50%, #00b8ff 100%)
            // transition-timing-function cubic-bezier(0.165, 0.84, 0.44, 1)
            height 1px
            transform scale(0, 1)
            // 动画结束后的状态
            &.animation-complete
              transform scale(1, 1)
        // 大标题文字
        .title
          text-align center
        .font-medium
          color #fff
          font-size 1.6rem
          font-weight 200
          letter-spacing 0.3rem
          line-height 1.2
      // 当内容滚动到视窗内（或 skrollr 设置的位置）后追加的样式
      &.view-show
        .line
          .gradient
            animation line-fade-in 1s 0s
            @keyframes line-fade-in
              0%
                transform scale(0, 1)
              100%
                transform scale(1, 1)
      .context
        font-size .875rem
        p
          text-align center
      &.section-one
        padding-bottom 3rem
      .text
        color #CCC
        p
          padding 0
          margin 0
      &.section-two
        background url(//static.tasaid.com/images/bg/westlife.5c6db1.jpg) no-repeat center center
        background-size cover
        position relative
        &::after
          content ''
          position absolute
          top 0
          left 0
          width 100%
          height 100%
          display block
          background linear-gradient(to right, transparent 0%, rgba(0,0,0,0.7) 100%)
        .context
          position relative
          z-index 1
          p
            text-align right
        // .text
      &.section-three
        position relative
        padding-top 3rem
        .line
          .gradient
            background linear-gradient(to right, #7d58e2 0%, #f8420c 100%)
        .context
          padding-bottom 3.5rem
        .projects
          .project
            opacity 0
            transform translateY(0)
            &.animation-complete
              opacity 1
              transform translateY(0)
            @keyframes project-fade-up
              0%
                opacity 0
                transform translateY(1rem)
                99%
                  opacity 1
                  transform translateY(0)
                100%
                  opacity 1
                  transform none
            for $num in 1 2 3
              &:nth-child({$num}).view-show
                animation project-fade-up 1s $num * .1 + .3s cubic-bezier(0.77, 0, 0.175, 1)
            &.bg-black
              background #101010
            padding 1rem 0 2.5rem
            position relative
            overflow hidden
            .info
              &::after
                content ''
                position absolute
                right 0
                bottom -9%
                display block
                font-size 10rem
                line-height 1
                color rgba(88,88,88,0.1)
                font-weight 500
              &.x::after
                content 'XML'
              &.said::after
                content 'Said'
              &.mand::after
                content 'Mand'
            .title
              margin-top 0
              font-size 1.6rem
              font-weight 200
              text-align center
              color #fafafa
            .description
              position relative
              z-index 1
              p
                line-height 1
                color #ccc
                font-size .875rem
                text-align center
            .buttom
              position relative
              z-index 1
              text-align center
        // 背景各种技术
        .bg-keywords
          font-code()
          span
            user-select none
            font-size 1rem
            line-height 1
            position absolute
            color rgba(68, 68, 68, .4)
            // 生成不同字体大小的类
            for $size in 1 1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9 2
              &.font-{$size}
                font-size $size * 1rem
    .show-code
      text-align center
      padding 2rem 0 3rem
      background url(//static.tasaid.com/images/bg/mj.61c8690164.jpg) no-repeat center center
      background-size cover
      padding 10rem 0
      box-shadow  0 10px 6px -6px #363636
      span
        @extend body.body-home-about .link
        color #fafafa
        &::before
          background linear-gradient(to right, #544ebe 0%, #105ce0 100%)
  #footer .menus 
    a, i
      color #ccc