// 文章评论
.comments
  $item-padding()
    padding .75rem 0 .75rem 1.25rem // 12px 0 12px 20px
  &::before, &::after
    content ''
    display block
    height .625rem // 10px
    background #e6e6e6
  >.label
    display block
    $item-padding()
    border-bottom 1px solid #ececec
  .comments-list
    &, ul
      list-style none
      padding 0
      margin 0
    li
      $item-padding()
      font-size .875rem // 14px
      line-height 1.5
      .title
        color #888
        .icon-admin
          padding-right .3rem
      .context
        padding .3125rem 0 // 5px
        padding-right 1rem
        text-align justify
    >li
      &:not(:last-child)
          border-bottom 1px solid #ececec
    // 2级评论（回复评论）
    ul
      margin-top .5rem // 8px
      li
        border-top 1px solid #ececec
        padding-bottom 0
        // .context
          
      
