// 每个页面顶部的 banner
.page
  .container
    >.banner
      position relative
      &:after
        display block
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        content ''
        opacity 0
        background linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 100%)
        animation maskFadeIn .4s ease .5s forwards
        @keyframes maskFadeIn
          from
            opacity 0
          to
            opacity 1
      // 背景图
      .banner-bg
        width 100%
        background none center bottom no-repeat
        background-size 200% auto
        height 18.75rem // 300px
        overflow hidden
        filter brightness(.8)
      // 内容
      .content
        color #fff
        text-shadow 1px 1px 1px rgba(0, 0, 0, .6)
        position absolute
        text-align center
        left 50%
        top 50%
        z-index 1
        transform translate(-50%, -50%)
        h2
          font-size 2.215rem // 34px
          font-weight 200
          margin 0
        p
          margin 0