@{
    ViewBag.Title = "SaidCenter";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<div class="page-header">
    <h3>添加Said&nbsp;&nbsp;<small>&gt;添加一篇Said</small></h3>
</div>
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Siad管理</a></li>
    <li class="active">添加Said</li>
</ol>
<div class="main-context">
    <div class="row context-chart">
        <div class="col-md-6">
            <h3>用户访问图表，支持年月日走势</h3>
        </div>
        <div class="col-md-6">
            <h3>用户访问地区</h3>
        </div>
    </div>
    <div class="bs-table">
        <table id="btTable" class="table table-hover table-striped" data-url="/Said/GetSaidList" data-striped="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-pagination="true">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="STitle">名&nbsp;&nbsp;&nbsp;称</th>
                    <th data-width="300" data-field="SSummary">描&nbsp;&nbsp;&nbsp;述</th>
                    <th data-field="Song.SongName">歌&nbsp;&nbsp;&nbsp;曲</th>
                    <th data-field="SPV">浏&nbsp;&nbsp;&nbsp;览</th>
                    @*<th data-field="reply">回&nbsp;&nbsp;&nbsp;复</th>*@
                    <th data-field="Classify.CName">类&nbsp;&nbsp;&nbsp;型</th>
                    <th data-field="STag">标&nbsp;&nbsp;&nbsp;签</th>
                    <th>操&nbsp;&nbsp;&nbsp;作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Css{
    <link href="~/UED/Back/Frmework/css/saidCenter.css" rel="stylesheet" />
    <link href="~/UED/Back/Frmework/js/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
}
@section FootJs{
    <script src="@Url.Content("~/UED/Back/Frmework/js/bootstrap-table/bootstrap-table.js")"></script>
    <script>
        (function (window, undefined) {
            var $ = window.jQuery;
            $('#btTable').bootstrapTable().on('dbl-click-row.bs.table', function (e, row, $element) {

            })
        })(window);
    </script>
}