extends ../partials/layout.pug

block head
  link(rel='stylesheet', href='/css/blog-detail.css')

block content
  //- 大 banner
  .banner-bg.blog-banner
    ul.banner
      li.banner-item.white(style='background-image:url(/images/bg/blog-banner-bg.jpg)')
        .banner-content
          h3.title Write the code,change the world
          .context
            p console.log('Hello,Wrold!')
            p (46840404742).toString(36)
  //- 正文内容