.content {
    a {
        color: #28a1c5;
    }
}

.music-content {
    padding: 0 15px 55px;



    .blog-title {
        padding: 20px 0;
        word-break: break-word;
        font-size: 32px;
        color: #2f2f2f;
        border-bottom: 1px solid #e8e8e8;
    }

    .blog-content {
        color: #555;
        word-wrap: break-word;
        padding-top: 25px;

        p {
            /*padding: 20px 0;*/
            /*font-size: 14px;*/
            font-size: 17px;
            line-height: 1.5em;
            font-weight: 400;
            color: #555;
            letter-spacing: 1px;
            margin: 0 0 20px 0;
            word-break: break-word;
            white-space: pre-wrap;
            text-align: justify;
        }

        embed {
            display: none !important;
        }

        code {
            background-color: #e7f5fa;
            border-radius: 4px;
            color: #000;
            font-size: 90%;
            padding: 2px 6px;
            margin: 0 2px;
        }

        code, kbd, pre, samp {
            font-family: Consolas,Menlo,Monaco,Consolas,"Courier New",monospace;
        }

        blockquote {
            margin: 0 0 25px 0;
            padding: 20px;
            font-weight: 400;
            word-break: break-all;
            border-left: 4px solid #999;
            background-color: #f6f6f6;

            p {
                margin: 0;
            }
        }
    }
}

.blog-more-info {
    padding: 15px;
}

.blog-more-head {
    font-size: 13px;

    .displaybox {
        padding: 10px 0;
    }

    .info-date, .info-like {
        -webkit-flex: 1;
        flex: 1;
    }
    /*.info-date {
    }*/
    .info-like {
        text-align: right;

        a {
            color: red;

            &.likeIt {
                color: #dd5862;
                cursor: default;
            }
        }
    }

    .like-sum {
        padding: 0 5px;
    }
}


.blog-info {
    text-align: center;



    li {
        &:first-child {
            padding: 10px 0;
        }

        padding: 5px 0;
    }
}

%ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.music-player {
    position: relative;
    padding: 10px 15px;

    .player {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 45px;
        padding-top: 12px;

        .play-btn {
            color: #adadad;
        }
    }

    .info {
        padding-right: 45px;
        overflow: hidden;

        h3 {
            font-size: 16px;
            line-height: 18px;
            font-weight: normal;
            @extend %ellipsis;
        }


        .link {
            font-size: 12px;
            line-height: 1.5;
            @extend %ellipsis;
        }

        .album {
            @extend %ellipsis;
        }
    }
}
