.said-box {
    a {
        color: #28a1c5;
    }

    background-color: #fff;
}

.blog {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;

    .blog-content.codeFont {
        /*font-size: 14px;*/
        p {
            /*font-size: 14px;*/
        }
    }
}

.article-content {
    padding: 0 15px 20px;
    font-size: 14px;

    .blog-title {
        padding: 20px 0;
        word-break: break-word;
        font-size: 24px;
        color: #2f2f2f;
        border-bottom: 1px solid #e8e8e8;
    }

    .blog-content {
        color: #555;
        word-wrap: break-word;
        padding-top: 5px;

        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }

        h2, h3, h4, h5, h6 {
            border-bottom: 1px solid #eee;
            margin-top: 25px;
            padding-bottom: 10px;
        }

        h2 {
            font-size: 1.75em;
        }

        h3 {
            font-size: 1.5em;
        }

        h4 {
            font-size: 1.25em;
        }

        h5 {
            font-size: 1em;
        }

        h6 {
            font-size: 1em;
        }

        li {
            margin: .3em 0;
        }

        p {
            /*padding: 20px 0;*/
            /*font-size: 14px;*/
            font-size: 14px;
            line-height: 1.5em;
            font-weight: 400;
            color: #555;
            letter-spacing: 1px;
            /*margin: 0 0 20px 0;*/
            margin: 1.5em 0;
            word-break: break-word;
            white-space: pre-wrap;
            text-align: justify;
        }

        embed {
            display: none !important;
        }

        code {
            background-color: #F6F6F6;
            border-radius: 4px;
            color: #000;
            font-size: 90%;
            padding: 2px 6px;
            margin: 0 2px;
            overflow-wrap: normal;
            white-space: inherit;
            word-wrap: normal;
        }

        .highlight-source {
            overflow-x: auto;

            code {
                padding: 1em;
            }
        }

        code, kbd, pre, samp {
            font-family: Consolas,Menlo,Monaco,Consolas,"Courier New",monospace;
        }

        blockquote {
            margin: 0 0 25px 0;
            padding: 20px;
            font-weight: 400;
            word-break: break-all;
            border-left: 4px solid #999;
            background-color: #f6f6f6;

            p {
                margin: 0;
            }
        }

        ul {
            padding-left: 1em;
            margin: 1em 0;

            li {
                list-style: disc;
            }
        }

        ol {
            padding-left: 1em;
            margin: 1em 0;

            li {
                list-style: decimal;
            }
        }

        table {
            width: 100%;
            background: #FFF;
            margin: 1em 0;
            border: 1px solid rgba(34,36,38,.15);
            box-shadow: none;
            border-radius: .28571429rem;
            text-align: left;
            color: rgba(0,0,0,.87);
            border-collapse: separate;
            border-spacing: 0;

            thead tr:first-child > th:first-child {
                border-radius: .28571429rem 0 0;
                border-left: none;
            }

            thead tr:first-child > th:last-child {
                border-radius: 0 .28571429rem 0 0;
            }

            tbody tr > td:first-child {
                border-left: none;
            }

            tbody tr:first-child > td {
                border-top: none;
            }

            th {
                padding: .3em 1em;
                background: #F9FAFB;
                text-align: inherit;
                color: rgba(0,0,0,.87);
                vertical-align: inherit;
                font-weight: 700;
                border-bottom: 1px solid rgba(34,36,38,.1);
                border-left: 1px solid rgba(34,36,38,.1);
            }

            td {
                padding: .5em 1em;
                border-left: 1px solid rgba(34,36,38,.1);
                border-top: 1px solid rgba(34,36,38,.1);
            }
        }
    }
}

//文章下面的更多
.blog-more-info {
    padding: 15px;
}


.blog-more-head {
    font-size: 13px;

    .info-like {
        text-align: right;
        padding-top: 18px;
        overflow: hidden;

        .info-date {
            float: left;
        }

        .info-date, .info-cate {
            color: #999;
            padding-left: 10px;
        }

        a {
            color: red;
            padding-left: 10px;

            &.likeIt {
                color: #dd5862;
                cursor: default;
            }
        }
    }

    .like-sum {
        padding: 0 5px;
    }
}


.blog-info {
    text-align: center;
    display: block;


    li {
        &:first-child {
            padding: 10px 0;
        }

        padding: 5px 0;
    }
}


//文章下面的评论
.comments {
    &:before {
        content: '';
        display: block;
        height: 10px;
        background-color: #f8f8f8;
    }

    .c-label {
        display: block;
        padding: 12px 0 12px 20px;
        border-bottom: 1px solid #ececec;
    }

    .c-list {

        .c-item:last-child {
            border-bottom: none;
        }
    }

    .c-item {
        font-size: 14px;
        padding: 12px 0 12px 20px;
        border-bottom: 1px solid #ececec;

        .c-user, .c-date {
            display: inline-block;
        }

        .c-user {
            width: 70%;

            .fa {
                color: #999;
            }
        }

        .c-date {
            color: #999;
            text-align: right;
            width: 25%;
        }

        .c-txt {
            color: #999;
        }

        .c-item {
            padding: 5px 0 5px 20px;
        }

        .c-context {
            padding: 5px 0;
        }
    }
}


//音乐
%ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.music-player {
    position: relative;
    padding: 10px 15px;

    .player {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 45px;
        padding-top: 12px;

        .play-btn {
            color: #adadad;
        }
    }

    .info {
        padding-right: 45px;
        overflow: hidden;

        h3 {
            font-size: 16px;
            line-height: 18px;
            font-weight: normal;
            @extend %ellipsis;
        }


        .link {
            font-size: 12px;
            line-height: 1.5;
            @extend %ellipsis;
        }

        .album {
            @extend %ellipsis;
        }
    }
}
