@mixin prefixer($property,$value) {
    /*公用样式*/
    -webkit-#{$property}: $value; /* Chrome all / Safari all */
    #{$property}: $value;
}

body {
    background-color: #fafafa;
}

.said-box {
    padding: 8px 6px;
}

.said-item {
    background-color: #fff;
    color: #666;
    padding: 6px;
    margin-bottom: 6px;
    border: 1px solid #e0e0e0;
    position: relative;
    /*border-bottom: 1px solid #fff;*/
    text-decoration: none;
    /*&:last-child {
        border-bottom: none;
    }*/
    .item-bg {
        width: 200px;
        height: 80px;
        background: none center center no-repeat;
        background-size: 150% auto;
        @include prefixer(filter,brightness(.8));
    }

    .item-context {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-left: 10px;
    }

    h2 {
        font-size: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .article-txt {
        font-size: 14px;
        line-height: 20px;
        max-height: 40px;
    }

    i {
        font-style: initial;
        padding: 1px 5px;
    }

    .fa-heart-o::before, .fa-heart::before {
        color: red;
    }

    .item-more {
        position: absolute;
        right: 10px;
        bottom: -2px;
        font-size: 12px;
        color: #999;

        time {
            padding-left: 5px;
        }
    }
}


.next-page {
    display: block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #777;
    font-size: 14px;
    text-align: center;
    margin: 18px 0;
    overflow: hidden;
    padding: 7px 0 6px;

    span {
        vertical-align: middle;
    }

    .fa {
        margin-left: 10px;
    }
}
