@mixin prefixer($property,$value) {
    /*公用样式*/
    -webkit-#{$property}: $value; /* Chrome all / Safari all */
    #{$property}: $value;
}

//全局字体
%globalFontFamily {
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei',sans-serif;
}

//当字体被覆盖了的时候使用的
.globalFont {
    @extend %globalFontFamily;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    width: 100%;
    //添加lock Class之后会锁住滚动条
    &.lock {
        overflow: hidden;
        position: absolute;

        body {
            height: 100%;
            overflow: hidden;
        }
    }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

body {
    -webkit-font-smoothing: antialiased;
    @extend %globalFontFamily;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    color: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.displaybox {
    display: flex-box;
    display: -webkit-box;
    display: flex;
}
/*grid for bootstrap-v4.0.0-alpha.2*/


body {
    background-color: #f1f1f1;
}

.logo {
    font-size: 1em;
    height: 48px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background: url('/Content/Images/said-logo2.png') no-repeat center center;
    background-size: auto 32px;
    overflow: hidden;

    &.white {
        background-image: url('/Content/Images/Said-wap-logo2.png');

        .home {
            width: 48px;
        }
    }

    &.blackTxt {
        background-image: url('/Content/Images/Said-wap-logo-txt-1.png');
    }

    .home {
        line-height: 2.35;
        text-decoration: none;
        display: inline-block;
        width: 100px;
        height: 100%;
        text-indent: -9999em;
    }
}


.clear, clear:after {
    clear: both;
    float: none !important;
    content: '';
    display: block;
}

// -- 布局

//导航的两个按钮（said/导航）的zIndex
%navBtnZIndex {
    z-index: 13;
}
//导航蒙板的zIndex
%navMaskZIndex {
    z-index: 12;
}

//蒙板里内容的zIndex（也就是导航内容）
%navMaskBoxZIndex {
    z-index: 13;
}

.navbar {
    height: 48px;
    overflow: hidden;

    .nav-container {
        background: rgba(41,41,41,0.8);
        transition: background-color linear .6s;
        position: relative;
        @extend %navBtnZIndex;
    }
    /*padding: 10px;*/
    .nav-btn {
        display: block;
        float: right;
        position: relative;
        width: 48px;
        height: 48px;
        overflow: hidden;
        z-index: 13;
        font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;

        span {
            display: block;
            width: 17px;
            height: 1px;
            background: #fafafa;
            position: absolute;
            left: 16px;
            //导航的两个横杠的动画
            transition: all ease-in-out 0.3s 0.2s;
        }
        //正常导航页的上面一条横杠
        .ico-l-top {
            top: 23px;
            transform: translateY(-3px);
            /*animation: slideLine 0.3s ease-in-out;*/
        }
        //正常导航页的下面一条横杠
        .ico-l-bottom {
            bottom: 23px;
            transform: translateY(3px);
            transition-delay: 0.1s;
        }
        //蒙板导航页X按钮的\
        .ico-m-left {
            top: 23px;
            transform: rotate(45deg) translateX(-70px);
        }

        .ico-m-right {
            bottom: 24px;
            transform: rotate(-45deg) translateX(60px);
            transition-delay: 0.1s;
        }
    }
    //蒙板导航页x按钮的/
    &.open {
        .nav-container {
            background: #292929;
        }

        .ico-l-top {
            left: 100%;
        }

        .ico-l-bottom {
            left: 100%;
            //left: -100%; /*或者把这里设成-100，这样会两个箭头会按照反方向运动*/
        }

        .ico-m-left {
            top: 23px;
            transform: rotate(45deg) translateX(0%);
        }

        .ico-m-right {
            bottom: 24px;
            transform: rotate(-45deg) translateX(0%);
            transition-delay: 0.1s;
        }
    }
}



.inner-container {
    .nav-animate-box, .menu-container {
        position: fixed;
        height: 100%;
        width: 100%;
        overflow: hidden;
        left: 0;
        top: 0;
        @extend %navMaskZIndex;
    }

    .menu-container {
        @extend %navMaskBoxZIndex;
        opacity: 0;
        transition: opacity linear .2s;
        /*display: flex;
        align-items: center;*/
        .menu {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);

            li {
                text-align: left;
                display: block;
                padding: 15px 0;
                text-align: center;
                -moz-transform: scale(1.1) translateY(-24px);
                -ms-transform: scale(1.1) translateY(-24px);
                -o-transform: scale(1.1) translateY(-24px);
                -webkit-transform: scale(1.1) translateY(-24px);
                transform: scale(1.1) translateY(-24px);
                opacity: 0;
                transition: opacity 0.35s ease-out, transform 0.35s ease-out;
                //循环输出相应的动画延迟（假设最大菜单为6）
                $navItemtransitionDelay: 700ms;

                @for $i from 1 through 6 {
                    &:nth-child(#{$i}) {
                        transition-delay: $navItemtransitionDelay+$i*50,$navItemtransitionDelay+$i*50;
                    }
                }

                a {
                    color: #fafafa;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
                }
            }

            .nav-By {
                color: #afafaf;
                opacity: 0.5;
            }
        }
    }


    .menu-bg {
        position: absolute;
        display: block;
        width: 200%;
        /*left: -53%;*/
        top: -25%;
        height: 50%;
        background-color: white;
        //蒙板动画是0.5s
        /*transition: all cubic-bezier(.09,.5,.94,.31) 0.5s; //快-慢-快*/
        transition: all cubic-bezier(0,.19,.85,-0.02) 0.5s; //快-慢-快2
        &.top {
            //debug
            /*top: 0%;
            background-color: yellow;
            left: -50%;
            transform: rotate(-45deg);
            transform-origin: 50% 50%;*/
            top: -20%;
            left: -50%;
            transform: rotate(-45deg) translateY(-116%); //translateY(0%)
            background-color: #292929;
        }


        &.middle {
            //debug
            /*top: 30%;
            background-color: red;*/
            top: 30%;
            left: -50%;
            transform: rotate(-45deg) rotateX(90deg); //rotateX(0deg)
            background-color: #292929;
        }

        &.bottom {
            //debug
            /*top: 70%;
            background-color: blue;*/
            top: 65%;
            left: -20%;
            transform: rotate(-45deg) translateY(100%); //translateY(0%)
            background-color: #292929;
        }
    }

    &.open {
        .menu-bg {
            &.top {
                transform: rotate(-45deg) translateY(-10%); //
            }

            &.middle {
                /*width: 0;*/
                transform: rotate(-45deg) rotateX(0deg); //rotateX(00deg)
            }

            &.bottom {
                transform: rotate(-45deg) translateY(0%);
            }
        }

        .menu-container {
            opacity: 1;
            transition: opacity linear .5s .5s;

            li {
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                -webkit-transform: none;
                transform: none;
                opacity: 1;
            }
        }
    }
}


//内容布局

.page-content {
    margin-top: -48px;

    .said-next {
        padding: 0 10px;
    }
}

@keyframes bannerBg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.banner {
    position: relative;

    &:after {
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        content: ' ';
        opacity: 0;
        background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,.6) 100%);
        -moz-animation: bannerBg .4s ease .5s forwards;
        -o-animation: bannerBg .4s ease .5s forwards;
        -webkit-animation: bannerBg .4s ease .5s forwards;
        animation: bannerBg .4s ease .5s forwards;
    }



    .banner-bg {
        width: 100%;
        background: none center bottom no-repeat;
        background-size: 200% auto;
        height: 300px;
        overflow: hidden;
        @include prefixer(filter,brightness(.8));
        //根据不同的banner图片重写自己适配的图片大小
        &.cover {
            background-size: cover;
        }
    }

    .banner-content {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        left: 50%;
        top: 50%;
        position: absolute;
        text-align: center;
        z-index: 4;
        @include prefixer(transform,translate(-50%,-50%));
        @include prefixer(transform,translate3D(-50%,-50%,0));

        h1 {
            font-size: 34px;
            font-weight: 200;
        }

        p {
            font-size: 14px;
        }
    }
}

//通用布局
.module-title {
    padding: 20px 0;
    text-align: center;

    span {
        font-size: 20px;
        font-weight: 200;
        border-bottom: 2px solid #969696;
        padding-bottom: 5px;
    }
}

//动画
.anima {
    &.fadeIn {
        opacity: 0;
        animation: a-fadeIn ease-in-out 0.4s 0.3s forwards;
    }
}

//渐入
@keyframes a-fadeIn {
    from {
        margin-top: 20px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

@-moz-keyframes a-fadeIn {
    from {
        margin-top: 20px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes a-fadeIn {
    from {
        margin-top: 20px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}


/*footer*/
.footer {
    background-color: #fafafa;
    padding-top: 15px;

    .logo-box {
        text-align: center;
    }
}

.f-link {
    text-align: center;
    padding: 10px 0;

    a {
        font-size: 13px;
        color: #555;
        padding-left: 10px;
    }

    .l-line:before {
        /*border-left: 1px solid #dadada;*/
        background-color: #dadada;
        display: inline-block;
        height: 10px;
        width: 1px;
        content: ' ';
        margin-right: 10px;
    }
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;

    @for $i from 1 to 10 {
        &.line#{$i} {
            -webkit-line-clamp: #{$i}; /* Chrome all / Safari all */
        }
    }
}



/*ellipsis*/
.said-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*word*/
.wordbreak {
    text-align: justify;
    word-break: break-all;
    word-wrap: break-word; /*white-space: pre-wrap;*/
}

.textCenter {
    text-align: center;
}

/*licenses*/
.licenses {
    width: 91px;
    display: inline-block;
    height: 31px;
    overflow: hidden;
    text-indent: -9999em;
}

.licenses-cc {
    background: url('/Content/Images/licenses-cc4.png') no-repeat;
}


body {
    background-color: #fafafa;
}




.said-item {
    display: block;
    color: #666;
    margin-bottom: 6px;
    position: relative;
    /*border-bottom: 1px solid #fff;*/
    text-decoration: none;
    /*&:last-child {
        border-bottom: none;
    }*/
    .item-bg {
        width: 100%;
        height: 200px;
        background: none center center no-repeat;
        background-size: 150% auto;
        @include prefixer(filter,brightness(.8));
    }

    .item-context {
        position: relative;
        /*width: 100%;*/
        overflow: hidden;
        padding: 20px;
    }

    h2 {
        font-size: 1.25rem;
        padding-bottom: 4px;
    }

    .article-txt {
        font-size: 14px;
        line-height: 20px;
        height: 40px;
        overflow: hidden;
        text-align: justify;
    }

    %itemInfo {
        font-size: 13px;
        color: #999;
        line-height: 16px;
        overflow: hidden;
        width: 100%;
    }

    .item-more, .item-music {
        @extend %itemInfo;
    }

    .item-music {
        padding-bottom: 4px;

        .fa-music {
            padding-right: 5px;
        }

        %displayBlock {
            display: block;
        }

        .music {
            @extend %displayBlock;
            float: left;
        }

        .singer {
            float: right;
        }
        /*.like {
            @extend %displayBlock;
            float: right;
        }

        .time {
            @extend %displayBlock;
            float: right;
            padding-left: 5px;
        }*/
    }


    .item-more {
        text-align: right;
        padding-top: 4px;
        //分类
        .cate {
            float: left;
        }

        .globalFont {
            font-style: initial;
            color: #999;
            padding: 0 5px;
        }
    }
}


.said-more {
    padding-bottom: 15px;

    .said-more-link {
        padding: 10px;
        display: block;
        text-align: center;
        color: #08c;
    }
}

.next-page {
    display: block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #777;
    font-size: 14px;
    text-align: center;
    margin: 18px 0;
    overflow: hidden;
    padding: 13px 0;

    span {
        vertical-align: middle;
    }

    .fa {
        margin-left: 10px;
    }
}
