// blog pc 列表页，页面比一般页面窄一点
$layoutWidth = 825px

.blog-head
  .cate-head
    width $layoutWidth
    margin 0 auto
    // 共 xx 篇文章
    .title
      font-weight 200
      font-size 1.2rem
      padding-bottom 1rem
      margin 0
      &::before
        content ''
        position relative
        top: -1px
        border-left 3px solid #75b4f4
        padding-right 10px
        vertical-align middle
        font-size 1.1rem
      // 分类按钮
      .cate-btn
        float right
        font-size 1rem
        position relative
        color #666
        top 3px
        // 分类按钮旁边的小标
        label
          $lineWidth = 1.1rem
          display inline-block
          position relative
          z-index 3
          width $lineWidth
          height $lineWidth
          // right 3px
          margin-left .4rem
          top 2px
          overflow hidden
          vertical-align middle
          cursor pointer
          &::before, &::after
            content ''
            display block
            position absolute
            height 1px
            background #666
            width 100%
            z-index 1
            top 0
            left 0
            transition .4s .4s
          &::before
            top 30%
            transform-origin 50%
          &::after
            top 60%
            transform-origin 50%
            transform rotate(0deg) translate(0, 0)
          // 展开样式
          &.open
            &::before
              transform rotate(135deg) translate(0px, -2px)
              // transform rotate(130deg) translate(0px, -2px)
            &::after
              animation translateLine .4s .4s
              animation-fill-mode forwards
              // transform rotate(45deg) translate(-2px, -4px)
              // transform rotate(225deg) translate(2px, 4px)
            @keyframes translateLine
              0%
                transform rotate(0deg) translate(0, 0)
              70%
                transform rotate(90deg) translate(-5px, -1px)
              100%
                transform rotate(45deg) translate(-2px, -4px)
  .categorys
    height 0
    transition .2s .2s
    overflow hidden
    border-bottom 1px solid #eee
    .box
      background #fafafa
      box-shadow inset 0 1px 1px 0 #c7c7c7
      // ul 
      .content
        padding .8rem 0
        max-width $layoutWidth
        margin 0 auto
        overflow hidden
        list-style none
        .item // li
          float left
          a
            display block
            padding-left .8rem
            line-height 2rem
            color #666
            .icon
              $iconWidth = 1.3rem
              width $iconWidth
              height $iconWidth
              display inline-block
              vertical-align middle
              margin-right .5rem
              transition all .4s ease-in-out 0s
          &:hover
            .icon
              transform rotate(360deg) scale(1.2)

