// blog pc 列表页，页面比一般页面窄一点
$layoutWidth = 825px

.blog-head
  .cate-head
    width $layoutWidth
    margin 0 auto
    // 共 xx 篇文章
    .title
      font-weight 200
      font-size 1.2rem
      padding-bottom 1rem
      margin 0
      &::before
        content ''
        position relative
        top: -1px
        border-left 3px solid #75b4f4
        padding-right 10px
        vertical-align middle
        font-size 1.1rem
      // 分类按钮
      .cate-btn
        float right
        font-size 1rem
        position relative
        color #666
        top 3px
        span
          margin-right .4rem
          vertical-align middle
        // 分类按钮旁边的小标
        label
          $lineWidth = 1.2rem
          display inline-block
          position relative
          z-index 3
          width $lineWidth
          height $lineWidth
          // top 2px
          overflow hidden
          vertical-align middle
          cursor pointer
          transition .4s
          &::before, &::after
            content ''
            display block
            position absolute
            height 1px
            background #666
            width 100%
            z-index 1
            top 0
            left 0
            transform-origin 50%
            transition .4s 0s
          &::before
            top 35%
            transform rotate(0deg) translate(0, 0)
          &::after
            top 68%
            transform rotate(0deg) translate(0, 0)
          // 展开样式
          &.open
            transform rotate(90deg)            
            &::before
              transition .4s .3s
              transform rotate(-45deg) translate(-2px, 3px)
            &::after
              transition .4s .3s
              transform rotate(45deg) translate(-1px, -1px)
  // 分类 icon 相关
  .categorys
    height 0
    transition .2s .2s
    overflow hidden
    border-bottom 1px solid #eee
    .box
      background #fafafa
      box-shadow inset 0 1px 1px 0 #c7c7c7
      // ul 
      .content
        padding .8rem 0
        max-width $layoutWidth
        margin 0 auto
        overflow hidden
        list-style none
        .item // li
          float left
          a
            display block
            padding-left .8rem
            line-height 2rem
            color #666
            .icon
              $iconWidth = 1.3rem
              width $iconWidth
              height $iconWidth
              display inline-block
              vertical-align middle
              margin-right .5rem
              transition all .4s ease-in-out 0s
          &:hover
            .icon
              transform rotate(360deg) scale(1.2)
// 文章列表
.blog-content
  width $layoutWidth
  margin 0 auto
  padding-top .6rem
  // 2018年01月 的月份标记
  .timespan
    text-align center
    font-size 18px
    color #aaa
    margin 1rem 0
    padding-bottom 10px
    .txt
      padding .7rem
      border-bottom 3px solid #75b4f4
  // 文章项
  >.item
    padding .8rem 0
    border-bottom 1px solid #eee
    .date // 左侧
      text-align center
      color #777
      margin-right .9rem
      width 2.8rem
      height 2.4rem
      background #f0f0f0
      float left
      span, small
        display block
        line-height 1.3
    .content // 右侧
      padding-left .9rem
      border-left 1px solid #f3f3f3
      overflow hidden
      .title
        color #333
        font-weight 200
        font-size 1.5rem
        margin 0
        line-height 1.5
      .summary
        color #777
        padding .2rem 0
        text-align justify
        p
          margin 0
      .footer
        color #999
        i
          font-size 1rem
          &::before
            padding 0 .2rem
            margin-left .5rem
          &:first-child::before
            padding-left 0
            margin-left 0