<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div style="" class="popup-content">
        <div class="popup-mask"></div>
        <div class="popup-context">
            <div class="pupup-arrow arrow-flag" style="left: 42px;"></div>
            <div class="popup-title"><i class="fa fa-picture"></i>从图库中选择Icon<span class="pupup-close" style=""></span></div>
            <div class="popup-body">
                <!--内容-->
                <div class="select-box" id="selectIcons" style="display: none;">
                    <div class="icons-box">
                        <a data-name="default.png" class="icons-btn" href="javascript:;">
                            <img src="/Content/Images/icons/default.png" /></a>
                        <a data-name="icon-CSS3.gif" class="icons-btn" href="javascript:;">
                            <img src="/Content/Images/icons/icon-CSS3.gif" /></a>
                        <a data-name="icon-HTML5.gif" class="icons-btn" href="javascript:;">
                            <img src="/Content/Images/icons/icon-HTML5.gif" /></a>
                        <a data-name="icon-jQuery.gif" class="icons-btn" href="javascript:;">
                            <img src="/Content/Images/icons/icon-jQuery.gif" /></a>
                        <a data-name="icon-JS.gif" class="icons-btn" href="javascript:;">
                            <img src="/Content/Images/icons/icon-JS.gif" /></a>
                        <a data-name="icon-Require.gif" class="icons-btn" href="javascript:;">
                            <img src="/Content/Images/icons/icon-Require.gif" /></a>
                        <a data-name="icon-VS.gif" class="icons-btn" href="javascript:;">
                            <img src="/Content/Images/icons/icon-VS.gif" /></a>
                    </div>
                </div>
                <div class="icons-upload">
                    <div class="icons-upload-btn">
                        <div ms-widget="upload,uploadImages"></div>
                        <div class="btn btn-primary">上传</div>
                    </div>
                </div>
                <!--内容-->
            </div>
        </div>
    </div>
</body>
</html>
