.said-title-con {
  width: 90%;
  margin: 0 auto; }

.said-title {
  border-width: 0 0 1px 0;
  width: 100%;
  padding: 15px;
  line-height: 40px;
  font-size: 2.4em;
  text-align: center; }

.said-title, .said-context, .said-dis {
  box-shadow: none !important; }

.said-context-content {
  padding: 20px 0; }

.said-context {
  resize: none;
  border: 1px dashed #929596;
  border-width: 0 1px 1px;
  width: 99%;
  font: 16px "Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif;
  line-height: 30px;
  text-align: justify;
  color: #222;
  overflow-y: visible !important;
  min-height: 400px;
  padding: 0 15px; }

/*music*/
.relative-container {
  position: relative; }
  .relative-container:first-child {
    margin-bottom: 21px; }

.input-group {
  margin: 10px 0; }

.music-img {
  width: 210px;
  height: 210px;
  overflow: hidden;
  position: relative;
  border-radius: 4px; }

.music-img {
  display: block;
  margin: 0 auto;
  overflow: hidden; }
  .music-img img {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    width: 100%; }
  .music-img .thumbnail {
    overflow: hidden;
    margin-bottom: 0;
    cursor: pointer; }
  .music-img .song-mask-text {
    font-size: 22px; }

/*said-article*/
.said-article {
  padding: 20px 0; }

/*summary*/
.said-dis {
  border: 3px solid #b0d7fe;
  display: block;
  height: 191px;
  overflow: hidden;
  padding-left: 25px;
  border-width: 0 0 0 3px;
  width: 100%;
  resize: none; }

.line-layout {
  display: inline-block !important;
  width: auto; }

/*more*/
.songOp-btn {
  width: 200px;
  float: right; }
  .songOp-btn:last-child {
    margin-right: 20px; }
  .songOp-btn button {
    width: 200px; }

.said-submit {
  background-color: transparent;
  border-color: #563d7c;
  color: #563d7c;
  width: 200px;
  display: block; }
  .said-submit:hover, .said-submit:focus {
    background-color: #563d7c;
    color: #FFF; }

.said-priview {
  background-color: transparent;
  border-color: #428bca;
  color: #357ebd;
  width: 200px; }
  .said-priview:hover, .said-priview:focus {
    background-color: #428bca;
    color: #FFF; }

.submit-lock {
  background-color: #9973d4 !important;
  border-color: #9973d4 !important;
  color: #FFF;
  opacity: 0.7;
  cursor: no-drop; }

.submit-container {
  padding: 20px 0 30px;
  border-top: 1px dashed #929596; }

.panel-subTitle {
  border-top: 1px solid #ddd;
  border-radius: 0; }

.error-check {
  text-align: center;
  padding: 5px 0 20px; }

.error-check .error {
  color: red; }

.said-error {
  border-color: #a94442 !important; }

.said-checkbox label {
  padding-right: 15px; }

/*mask*/
.addSaid-mask {
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  background: #222 linear-gradient(rgba(61, 61, 61, 0.9), rgba(20, 40, 50, 0.9));
  transition: opacity ease-in-out 0.2s;
  border: 1px solid black; }
  .addSaid-mask:hover {
    opacity: 0.6; }
  .addSaid-mask span {
    position: absolute;
    text-align: center;
    color: #ededed;
    font-size: 36px;
    display: block;
    width: 100%;
    top: 44.5%;
    z-index: 2; }

.said-maskError span {
  color: red;
  animation: maskError 2s linear 2s 2 infinite; }

/*song-img*/
.song-up-content {
  position: relative; }

.song-Upload, .upload-song, .upload-song .so-upload-mask, .upload-song .so-upload-progress, .upload-song .so-upload-text, .upload-song .hidden-file {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.song-Upload, .upload-song {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 0;
  opacity: 0;
  overflow: hidden; }

.upload-song {
  opacity: 1;
  border-radius: 4px;
  height: 34px; }

.upload-song .so-upload-text {
  top: 5px; }

.upload-song .so-upload-progress {
  height: 100%;
  background: #47b2e4;
  position: absolute; }

.upload-song .hidden-file {
  cursor: pointer;
  opacity: 0; }

/*tag-input*/
.tag-input {
  border: none;
  box-shadow: none !important;
  line-height: 1.42857; }

.tag-selected {
  display: inline; }
  .tag-selected label {
    border: 1px solid #cad8f3;
    background: #dee7f8;
    border-radius: 6px;
    padding: 0 0.5em 0.1em;
    margin: 2px 5px 2px; }
    .tag-selected label:hover {
      border-color: #6d95e0;
      background-color: #bbcef1; }
  .tag-selected span, .tag-selected a {
    font-weight: normal !important; }
  .tag-selected a {
    width: 10px;
    height: 10px;
    font-size: 16px;
    color: #777;
    text-decoration: none;
    padding-left: 6px; }

input.classify-input {
  border: none;
  box-shadow: none;
  width: 90%;
  padding: 0; }

/*query*/
.input-body {
  padding: 4px 12px; }

.queryInputBar .query-body {
  position: relative; }
.queryInputBar.form-control {
  padding: 0;
  z-index: 0;
  height: auto; }
.queryInputBar .form-control {
  border-radius: 0; }

.querySelect {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  background-color: #FFF;
  border: 1px solid #b5b5b5;
  border-top: none; }
  .querySelect .select-item {
    display: block;
    padding: 0 9px;
    line-height: 27px;
    color: #555;
    text-decoration: none; }
  .querySelect .select-item:hover, .querySelect .active {
    background-color: #f3f3f3; }

@keyframes maskError {
  0% {
    color: #ededed; }
  50% {
    color: yellow; }
  100% {
    color: #ededed; } }
/*media*/
@media (max-width: 767px) {
  .said-music {
    margin: 0 auto;
    width: auto; }

  .music-info .input-group:first-child {
    margin: 15px 0 10px 0; }

  .line-layout {
    display: block;
    width: 100%; }

  .said-dis {
    width: 100%;
    margin: 20px 0; }

  .said-submit, .songOp-btn, .songOp-btn button {
    width: 100%; }

  .songOp-btn:last-child {
    margin: 5px 0 0 0; } }
@media (max-width: 1693px) {
  .summay-img, .music-img, .music-img img, .summay-img img {
    width: auto;
    height: auto; } }

/*# sourceMappingURL=addSaid.css.map */
