.fixed-table-toolbar { border: 1px solid #ccc; border-radius: 5px 5px 0 0; padding: 35px 10px 10px; }
    .fixed-table-toolbar:after { clear: both; float: none; display: block; content: ''; }
.fixed-table-container { border-radius: 0 0 4px 4px; border-top: none; }
.navbar-left:before, .navbar-right:before { content: "分类："; display: block; position: absolute!important; top: -37px; left: 1px; position: relative; letter-spacing: 1px; color: #959595; }
.navbar-right:before { content: '标签：'; top: -37px; left: 1px; }
/*iconInput*/
.iconInput { position: relative; }
    .iconInput .input-icon { height: 20px; padding: 0; vertical-align: top; border: none; box-shadow: none; width: 80%; }
.imgInput-box { display: inline; }
    .imgInput-box input { vertical-align: top; position: absolute; left: 10px; top: 0; height: 100%; width: 24px; border: 1px solid red; opacity: 0; cursor: pointer; }
    .imgInput-box img { vertical-align: top; height: 20px; width: 20px; transition: all 0.4s ease-in-out 0s; }
.icon-upload img:hover { transform: rotate(360deg) scale(1.2) translateZ(0); transition: all 0.4s ease-in-out 0s; }
.upload-box .hidden-upload { width: 90%; }

/*submit*/
.content-center { text-align: center; }
.add-btn, .wide-btn { width: 100px; }
.add-btn { margin: 0 auto; display: block; }
/*row*/
.td-img img { width: 20px; height: 20px; display: inline-block; vertical-align: middle; margin-right: 10px; transition: all 0.4s ease-in-out 0s; }
.td-img:hover img { transform: rotate(360deg) scale(1.2); transform-origin: center; }

/*select-icons*/
.select-icons { }
.icon-picture { padding: 0 5px 0 8px; }
.icons-btn img { display: block; width: 20px; height: 20px; transition: all 0.2s ease-in-out 0s; }
.icons-btn:hover img { transform: scale(1.2); /*transform: rotate(360deg) scale(1.2);*/ }
.icons-btn { padding: 6px; display: inline-block; border-radius: 4px; }
    .icons-btn:hover { background-color: #fbf4f4; }
.icons-upload { padding-top: 10px; text-align: center; position: relative; }
.icons-upload-btn { width: 200px; text-align: center; margin: 0 auto; overflow: hidden; position: relative; }
    .icons-upload-btn .btn { width: 100%; }
    .icons-upload-btn:hover .btn { color: #fff; background-color: #286090; border-color: #204d74; }
    .icons-upload-btn:active .btn { background-image: none; outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125); box-shadow: inset 0 3px 5px rgba(0,0,0,.125); color: #fff; background-color: #286090; border-color: #204d74; }
    .icons-upload-btn:focus .btn { color: #fff; background-color: #286090; border-color: #204d74; }

.icons-upload-box { position: absolute; width: 100%; }
    .icons-upload-box .hidden-file { height: 34px; }

/*popup.js*/
.popup-content { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1031; }
    .popup-content .popup-mask { bottom: 0; left: 0; position: fixed; right: 0; top: 0; /*background: #fff; opacity: 0.5;*/ }
    .popup-content .popup-mask-out { background-color: #000; opacity: 0.5; }
    .popup-content .popup-context { z-index: 1040; position: absolute; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 5px; background-color: #FFF; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); padding: 1px; }
    .popup-content .popup-title { padding: 0 25px 0 10px; background-color: #fafafa; line-height: 30px; border-bottom: 1px solid #ebebeb; }
    .popup-content .popup-body { padding: 10px; }
    .popup-content .pupup-arrow { position: absolute; top: -12px; left: 45%; }
        .popup-content .pupup-arrow:before, .popup-content .pupup-arrow:after { content: '◆'; display: block; font-family: "SimSun"; font-size: 20px; height: 15px; overflow: hidden; color: #ccc; }
        .popup-content .pupup-arrow:after { color: #fff; height: 15px; margin-top: -14px; }
    .popup-content .arrow-flag:after { color: #fafafa; }
.popup-context .pupup-close { display: block; width: 20px; height: 20px; line-height: 20px; border-radius: 20px; text-align: center; position: absolute; right: 5px; top: 5px; transition: transform ease 0.3s; }
    .popup-context .pupup-close:hover { transform: rotate(180deg); transform-origin: center; cursor: pointer; text-align: center; }
    .popup-context .pupup-close:after { content: '\2716'; }

/*showMsg*/
.showmsg-container { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1031; }
    .showmsg-container .showmsg-mask { bottom: 0; left: 0; position: fixed; right: 0; top: 0; background: #fff; opacity: 0.5; }
.showmsg-content { z-index: 1040; position: absolute; min-width: 320px; left: 35%; top: 30%; max-width: 60%; background-color: #FFF; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); border: 3px solid #4fc3f7; padding: 10px; }
.showmsg-state { height: 30px; vertical-align: bottom; margin-right: 5px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
/*.showmsg-container .showmsg-close { display: block; width: 25px; height: 25px; line-height: 20px; text-align: center; position: absolute; right: -10px; top: -12px; transition: transform ease 0.3s; padding: 1px; }
    .showmsg-container .showmsg-close:hover { cursor: pointer; text-align: center; }
    .showmsg-container .showmsg-close:before, .showmsg-container .showmsg-close:after { content: ''; font-size: 16px; color: #26c6da; width: 24px; display: block; border-bottom: 3px solid #26c6da; padding-top: 4px; transition: transform ease 0.3s; position: relative; transform-origin: center; }
    .showmsg-container .showmsg-close:before { top: 4px; left: -7px; border-color: red; }
    .showmsg-container .showmsg-close:after { top: 10px; left: 6px; transform: rotate(90deg); border-color: blue; }
    .showmsg-container .showmsg-close:hover:before { transform: rotate(-45deg) translate(5px,7px); }
    .showmsg-container .showmsg-close:hover:after { transform: rotate(45deg) translate(-9px,-9px); }*/
.showmsg-content .showmsg-context { line-height: 31px; font-size: 15px; display: inline; }
.showmsg-content .showmsg-state-ok { border-color: #7ad6e1; animation: state-ok 0.5s ease-in-out; }
.showmsg-content .showmsg-state-error { border-color: #ef8381; animation: state-error 0.5s ease-in-out; }
.showmsg-content .showmsg-state-warning { border-color: #4fc3f7; animation: state-warning 0.5s ease-in-out; }

@keyframes state-ok {
    0% { border-color: #7ad6e1; }
    15% { border-color: #25e7ff; }
    30% { border-color: #7ad6e1; }
    45% { border-color: #25e7ff; }
    70% { border-color: #7ad6e1; }
    85% { border-color: #25e7ff; }
    100% { border-color: #7ad6e1; }
}

@keyframes state-warning {
    0% { border-color: #4fc3f7; }
    15% { border-color: #8ddcff; }
    30% { border-color: #4fc3f7; }
    45% { border-color: #8ddcff; }
    70% { border-color: #4fc3f7; }
    85% { border-color: #8ddcff; }
    100% { border-color: #4fc3f7; }
}

@keyframes state-error {
    0% { border-color: #ef8381; }
    15% { border-color: #e0302d; }
    30% { border-color: #ef8381; }
    45% { border-color: #e0302d; }
    70% { border-color: #ef8381; }
    85% { border-color: #e0302d; }
    100% { border-color: #ef8381; }
}
