.source-content .source-head .toolbar-left, .source-content .source-head .toolbar-right {
  position: absolute; }

.source-content {
  padding-right: 260px; }
  .source-content .source-head {
    border-bottom: 1px solid #CCC;
    /*padding: 25px 0;*/
    position: relative; }
    .source-content .source-head .source-loading {
      height: 50px;
      padding-left: 300px;
      padding-right: 300px; }
    .source-content .source-head .toolbar-left {
      left: 10px;
      top: 0; }
    .source-content .source-head .toolbar-right {
      right: 10px;
      top: 10px; }
    .source-content .source-head .search {
      width: 170px; }
    .source-content .source-head .upload-text {
      padding: 0 15px; }
    .source-content .source-head .said-toggle {
      border: 1px solid #ccc;
      border-radius: 20px;
      position: relative;
      width: 50px;
      height: 28px;
      display: inline-block;
      cursor: pointer;
      vertical-align: middle; }
      .source-content .source-head .said-toggle:before {
        content: '';
        display: block;
        width: 28px;
        top: 0px;
        left: 0px;
        height: 26px;
        position: absolute;
        /*border: 1px solid #dedede;*/
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        background-color: #fff;
        transition: transform linear .2s; }
      .source-content .source-head .said-toggle.selected {
        background-color: #4cd964;
        border-color: #4cd964; }
      .source-content .source-head .said-toggle.selected:before {
        border-color: #4cd964;
        transform: translateX(20px); }
    .source-content .source-head .columns-left {
      margin-right: 5px; }
    .source-content .source-head .source-sum {
      color: #999; }
    .source-content .source-head .selected-path {
      padding-right: 10px; }
    .source-content .source-head .selected-count {
      color: red;
      font-size: 22px; }
  .source-content .source-body {
    padding: 10px;
    min-height: 500px;
    /*text-align: justify;
    -moz-text-align-last: justify;
    -ms-text-align-last: justify;
    text-align-last: justify;*/
    text-align: center; }
    .source-content .source-body .source-item {
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      margin: 9px;
      padding: 4px;
      transition: border 0.2s ease-in-out 0s; }
      .source-content .source-body .source-item:hover {
        border-color: #4cae4c; }
      .source-content .source-body .source-item .item-img {
        width: 256px;
        height: 140px;
        background: url("/Content/Images/Said-Images-load.gif") center 0 no-repeat #f4f4f4;
        background-size: cover; }
      .source-content .source-body .source-item .item-info {
        color: #666;
        overflow: hidden;
        text-align: left; }
        .source-content .source-body .source-item .item-info .img-name, .source-content .source-body .source-item .item-info .item-delete {
          line-height: 26px;
          vertical-align: middle; }
        .source-content .source-body .source-item .item-info .item-delete {
          color: #666;
          float: right;
          font-size: 16px;
          transition: all 0.4s ease-in-out 0s;
          text-decoration: none; }
        .source-content .source-body .source-item .item-info .item-delete:hover {
          color: red; }
    .source-content .source-body .source-item.selected {
      background-color: #5cb85c;
      border-color: #4cae4c; }
  .source-content .source-footer {
    text-align: center; }
  .source-content .add-song {
    padding-top: 100px;
    width: 800px;
    margin: 0 auto; }
  .source-content .add-form .col-md-4 .mask-hover:first-child {
    margin-bottom: 15px; }
  .source-content .upload-file-box .btn {
    width: 200px; }

.keywords {
  color: #52b12d; }

.source-detail {
  position: absolute;
  width: 250px;
  padding: 10px;
  /*border: $debug;*/
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fafafa; }

.source-info li {
  line-height: 40px; }

/*# sourceMappingURL=imagesCenter.css.map */
