//- 404 页面
extends ../partials/layout.pug

block head
  link(rel='stylesheet', href='/css/error.css')

block content
  .page-bg
  .content
    h1 4 0 4
    h3 Lights will guide you home
    .context 
      p 该页未找到
      p 你是否迷失在了这里？
    div
      a.go(href='/') Home
  