extends ../partials/layout-mobile.pug

block content
  .banner
    section.banner-bg(style='background-image:url(/images/bg/said-backgournd.jpg)')
    .content
      h2 听&nbsp;说
      p 世界很大
      p 风住过这里
  .content
    .module-title
      span 听·说
    a.module-item(href='/said')
      .item-bg(style='background-image:url(/images/bg/6033.jpg)')
      .item-context
        .item-article
          h2 后摇 - 泡上咖啡，让我们用舒服的方式聊聊技术
          .item-music.ellipsis
            i.saidfont.icon-music
            = 'See you again - I love house - ministry of sound - cameron jibril Thomaz/Charlie Puth'
          .item-txt 想要做坐火车去一个更远的远方去流浪 然而目的地并不重要 我只是想重温那种稍纵即逝 从繁华到荒蛮的感觉 重新感觉一段相比人生简短了无数倍 却折射人生缩影的旅途
          .item-footer
            time.date 
              i.saidfont.icon-rili 3分钟前
            span.pv 
              i.saidfont.icon-yonghu 12
    a.module-item(href='/said')
      .item-bg(style='background-image:url(/images/bg/6036.jpg)')
      .item-context
        .item-article
          h2 后摇 - 泡上咖啡，让我们用舒服的方式聊聊技术
          .item-music.ellipsis
            i.saidfont.icon-music
            = 'See you again - I love house - ministry of sound - cameron jibril Thomaz/Charlie Puth'
          .item-txt 想要做坐火车去一个更远的远方去流浪 然而目的地并不重要 我只是想重温那种稍纵即逝 从繁华到荒蛮的感觉 重新感觉一段相比人生简短了无数倍 却折射人生缩影的旅途
          .item-footer
            time.date 
              i.saidfont.icon-rili 3分钟前
            span.pv 
              i.saidfont.icon-yonghu 12
    .module-more
        a(href='/said') 
          span 查看更多听说
    .module-title
      span blog
    a.module-item(href='/blog')
      .item-context
        .item-article
          h2 后摇 - 泡上咖啡，让我们用舒服的方式聊聊技术
          .item-music.ellipsis
            i.saidfont.icon-music
            = 'See you again - I love house - ministry of sound - cameron jibril Thomaz/Charlie Puth'
          .item-txt 想要做坐火车去一个更远的远方去流浪 然而目的地并不重要 我只是想重温那种稍纵即逝 从繁华到荒蛮的感觉 重新感觉一段相比人生简短了无数倍 却折射人生缩影的旅途
          .item-footer
            time.date 
              i.saidfont.icon-rili 3分钟前
            span.pv 
              i.saidfont.icon-yonghu 12
    a.module-item(href='/blog')
      .item-context
        .item-article
          h2 后摇 - 泡上咖啡，让我们用舒服的方式聊聊技术
          .item-music.ellipsis
            i.saidfont.icon-music
            = 'See you again - I love house - ministry of sound - cameron jibril Thomaz/Charlie Puth'
          .item-txt 想要做坐火车去一个更远的远方去流浪 然而目的地并不重要 我只是想重温那种稍纵即逝 从繁华到荒蛮的感觉 重新感觉一段相比人生简短了无数倍 却折射人生缩影的旅途
          .item-footer
            time.date 
              i.saidfont.icon-rili 3分钟前
            span.pv 
              i.saidfont.icon-yonghu 12
    .module-more
        a(href='/blog') 
          span 查看更多 blog